{
  "openapi": "3.1.0",
  "info": {
    "title": "mo店+ Vendor API",
    "version": "2026.03.25",
    "description": "依 20241007001 原廠規格轉錄的 32 個 API 路徑。此檔提供可匯入工具的端點、方法、內容類型與驗證方式；每個 API 的完整欄位契約與範例保留於 docs/reference/mo-store-plus/20241007001.html。\n完整原始欄位表與說明保存在 x-source-extract。"
  },
  "externalDocs": {
    "description": "完整轉換規格（HTML）",
    "url": "../reference/mo-store-plus/20241007001.html"
  },
  "servers": [
    {
      "url": "https://api3p.momo.com.tw",
      "description": "mo店+ 正式 API。來源 IP 須事先在 A103 申請。"
    }
  ],
  "tags": [
    {
      "name": "Goods",
      "description": "商品、價格、庫存與 SKU 管理"
    },
    {
      "name": "Orders",
      "description": "訂單、出貨、標籤與回收"
    },
    {
      "name": "Catalog",
      "description": "分類、品牌、物流與設定查詢"
    },
    {
      "name": "Files",
      "description": "素材與圖檔管理"
    }
  ],
  "paths": {
    "/VendorApi/GoodsStartSelling": {
      "post": {
        "tags": [
          "Goods"
        ],
        "operationId": "goodsStartSelling",
        "summary": "商品上架",
        "description": "欄位定義、必填條件與範例請參閱 docs/reference/mo-store-plus/20241007001.html。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "原廠 API 回應。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bearer Token 無效或未提供。"
          },
          "403": {
            "description": "呼叫端 IP 未列入 momo 店+白名單，或無權限呼叫。"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRequest"
              }
            }
          }
        }
      }
    },
    "/VendorApi/GoodsStopSelling": {
      "post": {
        "tags": [
          "Goods"
        ],
        "operationId": "goodsStopSelling",
        "summary": "商品下架",
        "description": "欄位定義、必填條件與範例請參閱 docs/reference/mo-store-plus/20241007001.html。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "原廠 API 回應。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bearer Token 無效或未提供。"
          },
          "403": {
            "description": "呼叫端 IP 未列入 momo 店+白名單，或無權限呼叫。"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRequest"
              }
            }
          }
        }
      }
    },
    "/VendorApi/GoodsPriceModify": {
      "post": {
        "tags": [
          "Goods"
        ],
        "operationId": "goodsPriceModify",
        "summary": "商品價格異動（原廠標示即將取消）",
        "description": "欄位定義、必填條件與範例請參閱 docs/reference/mo-store-plus/20241007001.html。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "原廠 API 回應。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bearer Token 無效或未提供。"
          },
          "403": {
            "description": "呼叫端 IP 未列入 momo 店+白名單，或無權限呼叫。"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRequest"
              }
            }
          }
        }
      }
    },
    "/VendorApi/GoodsdtPriceModify": {
      "post": {
        "tags": [
          "Goods"
        ],
        "operationId": "goodsdtPriceModify",
        "summary": "商品規格（SKU）價格異動",
        "description": "欄位定義、必填條件與範例請參閱 docs/reference/mo-store-plus/20241007001.html。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "原廠 API 回應。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bearer Token 無效或未提供。"
          },
          "403": {
            "description": "呼叫端 IP 未列入 momo 店+白名單，或無權限呼叫。"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRequest"
              }
            }
          }
        }
      }
    },
    "/VendorApi/GoodsStockModify": {
      "post": {
        "tags": [
          "Goods"
        ],
        "operationId": "goodsStockModify",
        "summary": "商品庫存量異動",
        "description": "欄位定義、必填條件與範例請參閱 docs/reference/mo-store-plus/20241007001.html。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "原廠 API 回應。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bearer Token 無效或未提供。"
          },
          "403": {
            "description": "呼叫端 IP 未列入 momo 店+白名單，或無權限呼叫。"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRequest"
              }
            }
          }
        }
      }
    },
    "/VendorApi/GoodsQueryByMethod": {
      "post": {
        "tags": [
          "Goods"
        ],
        "operationId": "goodsQueryByMethod",
        "summary": "商品查詢",
        "description": "欄位定義、必填條件與範例請參閱 docs/reference/mo-store-plus/20241007001.html。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "原廠 API 回應。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bearer Token 無效或未提供。"
          },
          "403": {
            "description": "呼叫端 IP 未列入 momo 店+白名單，或無權限呼叫。"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRequest"
              }
            }
          }
        }
      }
    },
    "/apiv2/VendorApi/TempGoodsmodify": {
      "post": {
        "tags": [
          "Goods"
        ],
        "operationId": "tempGoodsModify",
        "summary": "新增商品與編輯暫存商品",
        "description": "欄位定義、必填條件與範例請參閱 docs/reference/mo-store-plus/20241007001.html。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "原廠 API 回應。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bearer Token 無效或未提供。"
          },
          "403": {
            "description": "呼叫端 IP 未列入 momo 店+白名單，或無權限呼叫。"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRequest"
              }
            }
          }
        }
      }
    },
    "/apiv2/VendorApi/GoodsModify": {
      "post": {
        "tags": [
          "Goods"
        ],
        "operationId": "goodsModify",
        "summary": "已上架商品資料編輯",
        "description": "欄位定義、必填條件與範例請參閱 docs/reference/mo-store-plus/20241007001.html。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "原廠 API 回應。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bearer Token 無效或未提供。"
          },
          "403": {
            "description": "呼叫端 IP 未列入 momo 店+白名單，或無權限呼叫。"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRequest"
              }
            }
          }
        }
      }
    },
    "/apiv2/VendorApi/FileUpload": {
      "post": {
        "tags": [
          "Files"
        ],
        "operationId": "fileUpload",
        "summary": "圖檔上傳",
        "description": "欄位定義、必填條件與範例請參閱 docs/reference/mo-store-plus/20241007001.html。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "原廠 API 回應。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bearer Token 無效或未提供。"
          },
          "403": {
            "description": "呼叫端 IP 未列入 momo 店+白名單，或無權限呼叫。"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/FileUploadRequest"
              }
            }
          }
        }
      }
    },
    "/apiv2/VendorApi/FileDetail": {
      "post": {
        "tags": [
          "Files"
        ],
        "operationId": "fileDetail",
        "summary": "使用圖檔 ID 查詢",
        "description": "欄位定義、必填條件與範例請參閱 docs/reference/mo-store-plus/20241007001.html。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "原廠 API 回應。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bearer Token 無效或未提供。"
          },
          "403": {
            "description": "呼叫端 IP 未列入 momo 店+白名單，或無權限呼叫。"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/FormRequest"
              }
            }
          }
        }
      }
    },
    "/apiv2/VendorApi/CategoryTree": {
      "post": {
        "tags": [
          "Catalog"
        ],
        "operationId": "categoryTree",
        "summary": "商品分類清單",
        "description": "欄位定義、必填條件與範例請參閱 docs/reference/mo-store-plus/20241007001.html。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "原廠 API 回應。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bearer Token 無效或未提供。"
          },
          "403": {
            "description": "呼叫端 IP 未列入 momo 店+白名單，或無權限呼叫。"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/FormRequest"
              }
            }
          }
        }
      }
    },
    "/apiv2/VendorApi/CategorySetting": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "operationId": "categorySetting",
        "summary": "商品分類屬性查詢",
        "description": "欄位定義、必填條件與範例請參閱 docs/reference/mo-store-plus/20241007001.html。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "原廠 API 回應。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bearer Token 無效或未提供。"
          },
          "403": {
            "description": "呼叫端 IP 未列入 momo 店+白名單，或無權限呼叫。"
          }
        }
      }
    },
    "/apiv2/VendorApi/ListWebBrand": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "operationId": "listWebBrand",
        "summary": "品牌列表",
        "description": "欄位定義、必填條件與範例請參閱 docs/reference/mo-store-plus/20241007001.html。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "原廠 API 回應。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bearer Token 無效或未提供。"
          },
          "403": {
            "description": "呼叫端 IP 未列入 momo 店+白名單，或無權限呼叫。"
          }
        }
      }
    },
    "/apiv2/VendorApi/ListWebBrandSeries": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "operationId": "listWebBrandSeries",
        "summary": "品牌系列查詢",
        "description": "欄位定義、必填條件與範例請參閱 docs/reference/mo-store-plus/20241007001.html。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "原廠 API 回應。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bearer Token 無效或未提供。"
          },
          "403": {
            "description": "呼叫端 IP 未列入 momo 店+白名單，或無權限呼叫。"
          }
        }
      }
    },
    "/apiv2/VendorApi/ListCategoryByEntp": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "operationId": "listCategoryByEntp",
        "summary": "商店分類列表",
        "description": "欄位定義、必填條件與範例請參閱 docs/reference/mo-store-plus/20241007001.html。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "原廠 API 回應。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bearer Token 無效或未提供。"
          },
          "403": {
            "description": "呼叫端 IP 未列入 momo 店+白名單，或無權限呼叫。"
          }
        }
      }
    },
    "/apiv2/VendorApi/GetToutplaceList": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "operationId": "getToutplaceList",
        "summary": "第三方物流出貨地列表",
        "description": "欄位定義、必填條件與範例請參閱 docs/reference/mo-store-plus/20241007001.html。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "原廠 API 回應。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bearer Token 無效或未提供。"
          },
          "403": {
            "description": "呼叫端 IP 未列入 momo 店+白名單，或無權限呼叫。"
          }
        }
      }
    },
    "/apiv2/VendorApi/QuerySetting": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "operationId": "querySetting",
        "summary": "查詢分類是否需要填寫商品規格描述",
        "description": "欄位定義、必填條件與範例請參閱 docs/reference/mo-store-plus/20241007001.html。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "原廠 API 回應。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bearer Token 無效或未提供。"
          },
          "403": {
            "description": "呼叫端 IP 未列入 momo 店+白名單，或無權限呼叫。"
          }
        }
      }
    },
    "/apiv2/VendorApi/ModifySkuSaleGb": {
      "post": {
        "tags": [
          "Goods"
        ],
        "operationId": "modifySkuSaleGb",
        "summary": "商品規格（SKU）狀態異動",
        "description": "欄位定義、必填條件與範例請參閱 docs/reference/mo-store-plus/20241007001.html。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "原廠 API 回應。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bearer Token 無效或未提供。"
          },
          "403": {
            "description": "呼叫端 IP 未列入 momo 店+白名單，或無權限呼叫。"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/FormRequest"
              }
            }
          }
        }
      }
    },
    "/apiv2/VendorApi/FileList": {
      "post": {
        "tags": [
          "Files"
        ],
        "operationId": "fileList",
        "summary": "素材／圖檔列表查詢",
        "description": "欄位定義、必填條件與範例請參閱 docs/reference/mo-store-plus/20241007001.html。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "原廠 API 回應。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bearer Token 無效或未提供。"
          },
          "403": {
            "description": "呼叫端 IP 未列入 momo 店+白名單，或無權限呼叫。"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRequest"
              }
            }
          }
        }
      }
    },
    "/apiv2/VendorApi/GetCustomizeFreightList": {
      "post": {
        "tags": [
          "Catalog"
        ],
        "operationId": "getCustomizeFreightList",
        "summary": "查詢自訂物流運費清單",
        "description": "欄位定義、必填條件與範例請參閱 docs/reference/mo-store-plus/20241007001.html。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "原廠 API 回應。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bearer Token 無效或未提供。"
          },
          "403": {
            "description": "呼叫端 IP 未列入 momo 店+白名單，或無權限呼叫。"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/FormRequest"
              }
            }
          }
        }
      }
    },
    "/apiv2/VendorApi/FileQuote": {
      "post": {
        "tags": [
          "Files"
        ],
        "operationId": "fileQuote",
        "summary": "查詢素材／圖檔空間大小",
        "description": "欄位定義、必填條件與範例請參閱 docs/reference/mo-store-plus/20241007001.html。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "原廠 API 回應。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bearer Token 無效或未提供。"
          },
          "403": {
            "description": "呼叫端 IP 未列入 momo 店+白名單，或無權限呼叫。"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/FormRequest"
              }
            }
          }
        }
      }
    },
    "/apiv2/VendorApi/FileBatchRemove": {
      "post": {
        "tags": [
          "Files"
        ],
        "operationId": "fileBatchRemove",
        "summary": "批次刪除素材／圖檔",
        "description": "欄位定義、必填條件與範例請參閱 docs/reference/mo-store-plus/20241007001.html。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "原廠 API 回應。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bearer Token 無效或未提供。"
          },
          "403": {
            "description": "呼叫端 IP 未列入 momo 店+白名單，或無權限呼叫。"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/FormRequest"
              }
            }
          }
        }
      }
    },
    "/VendorApi/OrderQuery": {
      "post": {
        "tags": [
          "Orders"
        ],
        "operationId": "orderQuery",
        "summary": "訂單查詢",
        "description": "欄位定義、必填條件與範例請參閱 docs/reference/mo-store-plus/20241007001.html。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "原廠 API 回應。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bearer Token 無效或未提供。"
          },
          "403": {
            "description": "呼叫端 IP 未列入 momo 店+白名單，或無權限呼叫。"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRequest"
              }
            }
          }
        }
      }
    },
    "/VendorApi/OrderShippingStatusConfirmHomeDelivery": {
      "post": {
        "tags": [
          "Orders"
        ],
        "operationId": "confirmHomeDelivery",
        "summary": "宅配出貨確認",
        "description": "欄位定義、必填條件與範例請參閱 docs/reference/mo-store-plus/20241007001.html。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "原廠 API 回應。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bearer Token 無效或未提供。"
          },
          "403": {
            "description": "呼叫端 IP 未列入 momo 店+白名單，或無權限呼叫。"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRequest"
              }
            }
          }
        }
      }
    },
    "/VendorApi/OrderShippingStatusConfirmThirdPartyDelivery": {
      "post": {
        "tags": [
          "Orders"
        ],
        "operationId": "confirmThirdPartyDelivery",
        "summary": "第三方物流出貨確認",
        "description": "欄位定義、必填條件與範例請參閱 docs/reference/mo-store-plus/20241007001.html。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "原廠 API 回應。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bearer Token 無效或未提供。"
          },
          "403": {
            "description": "呼叫端 IP 未列入 momo 店+白名單，或無權限呼叫。"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRequest"
              }
            }
          }
        }
      }
    },
    "/VendorApi/OrderShippingStatusConfirmSevenStoreDelivery": {
      "post": {
        "tags": [
          "Orders"
        ],
        "operationId": "confirmSevenStoreDelivery",
        "summary": "7-ELEVEN 超取出貨確認",
        "description": "欄位定義、必填條件與範例請參閱 docs/reference/mo-store-plus/20241007001.html。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "原廠 API 回應。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bearer Token 無效或未提供。"
          },
          "403": {
            "description": "呼叫端 IP 未列入 momo 店+白名單，或無權限呼叫。"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRequest"
              }
            }
          }
        }
      }
    },
    "/VendorApi/OrderRecover": {
      "post": {
        "tags": [
          "Orders"
        ],
        "operationId": "orderRecover",
        "summary": "商品回收確認",
        "description": "欄位定義、必填條件與範例請參閱 docs/reference/mo-store-plus/20241007001.html。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "原廠 API 回應。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bearer Token 無效或未提供。"
          },
          "403": {
            "description": "呼叫端 IP 未列入 momo 店+白名單，或無權限呼叫。"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRequest"
              }
            }
          }
        }
      }
    },
    "/VendorApi/OrderShippingSevenStorePrintLabel": {
      "post": {
        "tags": [
          "Orders"
        ],
        "operationId": "printSevenStoreLabel",
        "summary": "7-ELEVEN 超商重印標籤",
        "description": "欄位定義、必填條件與範例請參閱 docs/reference/mo-store-plus/20241007001.html。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "原廠 API 回應。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bearer Token 無效或未提供。"
          },
          "403": {
            "description": "呼叫端 IP 未列入 momo 店+白名單，或無權限呼叫。"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRequest"
              }
            }
          }
        }
      }
    },
    "/VendorApi/OrderShippingThirdPartyPrintLabel": {
      "post": {
        "tags": [
          "Orders"
        ],
        "operationId": "printThirdPartyLabel",
        "summary": "第三方物流重印標籤",
        "description": "欄位定義、必填條件與範例請參閱 docs/reference/mo-store-plus/20241007001.html。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "原廠 API 回應。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bearer Token 無效或未提供。"
          },
          "403": {
            "description": "呼叫端 IP 未列入 momo 店+白名單，或無權限呼叫。"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRequest"
              }
            }
          }
        }
      }
    },
    "/VendorApi/OrderShippingStatusConfirmFamilyStoreDelivery": {
      "post": {
        "tags": [
          "Orders"
        ],
        "operationId": "confirmFamilyStoreDelivery",
        "summary": "全家超取出貨確認",
        "description": "欄位定義、必填條件與範例請參閱 docs/reference/mo-store-plus/20241007001.html。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "原廠 API 回應。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bearer Token 無效或未提供。"
          },
          "403": {
            "description": "呼叫端 IP 未列入 momo 店+白名單，或無權限呼叫。"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRequest"
              }
            }
          }
        }
      }
    },
    "/VendorApi/OrderShippingFamilyStorePrintLabel": {
      "post": {
        "tags": [
          "Orders"
        ],
        "operationId": "printFamilyStoreLabel",
        "summary": "全家超商重印標籤",
        "description": "欄位定義、必填條件與範例請參閱 docs/reference/mo-store-plus/20241007001.html。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "原廠 API 回應。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bearer Token 無效或未提供。"
          },
          "403": {
            "description": "呼叫端 IP 未列入 momo 店+白名單，或無權限呼叫。"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRequest"
              }
            }
          }
        }
      }
    },
    "/VendorApi/OrderChangeAddr": {
      "post": {
        "tags": [
          "Orders"
        ],
        "operationId": "orderChangeAddress",
        "summary": "訂單更換地址",
        "description": "欄位定義、必填條件與範例請參閱 docs/reference/mo-store-plus/20241007001.html。",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "原廠 API 回應。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "description": "Bearer Token 無效或未提供。"
          },
          "403": {
            "description": "呼叫端 IP 未列入 momo 店+白名單，或無權限呼叫。"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRequest"
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Authorization: Bearer <TOKEN>。Token 請由環境變數提供，不得寫入文件或程式碼。"
      }
    },
    "schemas": {
      "JsonRequest": {
        "type": "object",
        "additionalProperties": true,
        "description": "請依原廠 HTML 規格填寫欄位。"
      },
      "FormRequest": {
        "type": "object",
        "additionalProperties": {
          "type": "string"
        },
        "description": "application/x-www-form-urlencoded 欄位請依原廠 HTML 規格填寫。"
      },
      "FileUploadRequest": {
        "type": "object",
        "properties": {
          "file": {
            "type": "string",
            "format": "binary",
            "description": "上傳檔案；其他必填欄位請見原廠規格。"
          }
        },
        "additionalProperties": true
      },
      "ApiResponse": {
        "type": "object",
        "additionalProperties": true,
        "description": "各端點回應格式不同；完整 response schema 與範例請見原廠 HTML 規格。"
      }
    }
  },
  "x-source-document": "mo店+/20241007001.pdf",
  "x-source-extract": [
    {
      "type": "heading",
      "level": 1,
      "text": "mo店+ API 規格 20241007001"
    },
    {
      "type": "p",
      "text": "由原始供應商文件轉換。請保留此頁作為可搜尋參考；欄位與版本異動以供應商最新通知為準。"
    },
    {
      "type": "pre",
      "text": "[在此鍵入]"
    },
    {
      "type": "heading",
      "level": 2,
      "text": "momo 店+後台管理系統 - 廠商 API"
    },
    {
      "type": "pre",
      "text": "規格書\n\n        0\n\n[在此鍵入]\n\n版本：v.0.8.1\n\n文件修訂記錄表\n\n修訂日期        修訂內容                                       修訂版本"
    },
    {
      "type": "heading",
      "level": 2,
      "text": "2024.08.01 新增商品子品項價格異動"
    },
    {
      "type": "heading",
      "level": 2,
      "text": "2024.12.30 新增宅配、第三方物流、超商出貨及重印標籤 0.1.0"
    },
    {
      "type": "heading",
      "level": 2,
      "text": "2025.01.08 商品回收 api 0.2.0"
    },
    {
      "type": "heading",
      "level": 2,
      "text": "2025.01.08 調整第三方物流出貨確認、711 超商出貨確認部分參數 0.2.1"
    },
    {
      "type": "heading",
      "level": 2,
      "text": "2025.03.03 全家超商出貨及重印標籤 0.3.0"
    },
    {
      "type": "heading",
      "level": 2,
      "text": "2025.03.03 新增商品相關第 6-15 支 api 共 10 支 api 0.4.0"
    },
    {
      "type": "heading",
      "level": 2,
      "text": "2025.03.17 新增商品相關第 16-17 支 api 共 2 支 api 0.5.0"
    },
    {
      "type": "heading",
      "level": 2,
      "text": "2025.03.18 調整宅配出貨參數，將 packWeight 改成 packUnit 0.5.1"
    },
    {
      "type": "heading",
      "level": 2,
      "text": "2025.03.19 1.調整商品回收參數將 recoverStatus 改成 delayType 0.5.2"
    },
    {
      "type": "heading",
      "level": 2,
      "text": "2.調整宅配出貨參數將 deliveryNote 改為必填"
    },
    {
      "type": "heading",
      "level": 2,
      "text": "2025.03.28 新增商品相關第 18-21 支 api 共 4 支 0.6.0"
    },
    {
      "type": "heading",
      "level": 2,
      "text": "2025.04.15 0.6.1"
    },
    {
      "type": "heading",
      "level": 2,
      "text": "1.新增商品&編輯暫存商品 API 調整子品項提品備註, 調整”是否約定送貨”參"
    },
    {
      "type": "heading",
      "level": 2,
      "text": "2025.07.09 數名稱 0.7.0"
    },
    {
      "type": "heading",
      "level": 2,
      "text": "2.已上架商品資料編輯 API 調整子品項提品備註, 新增”子品項編號參數”, 調"
    },
    {
      "type": "pre",
      "text": "整”是否約定送貨”參數名稱"
    },
    {
      "type": "heading",
      "level": 2,
      "text": "3.查詢分類是否需要填寫商品規格描述 API 新增”是否約定送貨”判斷參數"
    },
    {
      "type": "heading",
      "level": 2,
      "text": "1.新增商品&編輯暫存商品 api 調整 weight 為必填欄位、調整"
    },
    {
      "type": "pre",
      "text": "volume 說明\n\n                        1\n\n[在此鍵入]       2.全家超商出貨及重印標籤，超取類型新增冷凍                              0.8.0"
    },
    {
      "type": "heading",
      "level": 2,
      "text": "2025.08.04 1.訂單查詢 API 0.8.1"
    },
    {
      "type": "pre",
      "text": "Request 新增參數, 更換地址的狀態: orderChangeAddrStatus  0.9.0"
    },
    {
      "type": "heading",
      "level": 2,
      "text": "2025.10.07 Response 新增參數, 客人申請的新地址: changedAddress 0.10.0"
    },
    {
      "type": "heading",
      "level": 2,
      "text": "2025.11.25 0.11.0"
    },
    {
      "type": "heading",
      "level": 2,
      "text": "2026.02.03 2.新增訂單更換地址 API: /VendorApi/OrderChangeAddr"
    },
    {
      "type": "heading",
      "level": 2,
      "text": "2026.03.25"
    },
    {
      "type": "pre",
      "text": "商品查詢(GoodsQueryByMethod) 新增 dtSaleStatus 參數\n\n             訂單查詢(OrderQuery)多回傳發票開立統編&公司名稱\n\n             全家超商出貨及重印標籤，超取類型新增常溫倉到店\n\n             全家超商出貨及重印標籤，超取類型新增冷凍倉到店\n\n最新更新說明：\n\n日期：3/17\n\n一、提供類似 B101 功能，可新增編輯商品．建議新增商品之前，可利用一、商品相關的第 10~16 項規格來查詢所需的資料，來使用 6.新增商品&編\n      輯暫存商品.\n\n日期：2025/01/08\n\n一、商品回收 api\n\n日期：12/30\n\n一、提供類似 E102、E103、E109 功能，提供宅配、超商、第三方物流出貨確認及重印標籤功能\n二、補充商品查詢 queryMethod 的使用方法\n\n日期：08/01\n\n一、新增「商品子品項價格異動」功能，原「商品價格異動」功能即將取消。\n二、「商品查詢」功能跟隨第一項更新，異動子品項的價格相關欄位，salePrice, custPrice, applyDate 將移至 listGoodsdt 內各品項內\n三、「訂單查詢」結果新增 goodsdtCode 欄位顯示子品項編號\n\n             2\n\n[在此鍵入]\n\n目錄\n\n壹、事前準備事項............................................................................................................................................ 4\n貳、API 規格說明 .............................................................................................................................................6\n\n      一、商品相關............................................................................................................................................ 6\n            1.商品上架 ........................................................................................................................................6\n            2.商品下架 ........................................................................................................................................7\n            3.商品價格異動 ................................................................................................................................9\n            3.1 商品規格(sku)價格異動............................................................................................................10\n            4.商品庫存量異動 ..........................................................................................................................12\n            5.商品查詢 ......................................................................................................................................14\n            6.新增商品&編輯暫存商品 ............................................................................................................ 17\n            7.已上架商品資料編輯 ..................................................................................................................23\n            8. 圖檔上傳 ....................................................................................................................................29\n            9. 使用圖檔 ID 查詢 .......................................................................................................................31\n            10. 商品分類清單 ..........................................................................................................................32\n            11. 商品分類屬性查询 ..................................................................................................................33\n            12. 品牌列表 ..................................................................................................................................35\n            13. 品牌系列查詢 ..........................................................................................................................36\n            14. 商店分類列表 ..........................................................................................................................37\n            15. 第三方物流出貨地列表 ..........................................................................................................38\n            16. 查詢分類是否需要填寫商品規格描述 ..................................................................................39\n            17. 商品規格( sku)狀態異動..........................................................................................................41\n            18. 素材/圖檔列表查詢.................................................................................................................42\n            19. 查詢自訂物流運費清單 ..........................................................................................................44\n            20. 查詢素材/圖檔空間大小 .........................................................................................................45\n            21. 批次刪除素材/圖檔.................................................................................................................46\n\n      二、訂單相關.......................................................................................................................................... 47\n            1.訂單查詢 ......................................................................................................................................47\n            2.宅配出貨確認 ..............................................................................................................................54\n            3.第三方物流出貨確認 ..................................................................................................................57\n            4.7-11 超商出貨確認 ......................................................................................................................61\n            5.商品回收確認 ..............................................................................................................................65\n            6.711 超商重印標籤 .......................................................................................................................68\n            7.第三方物流重印標籤 ..................................................................................................................70\n            8.全家超商出貨確認 ......................................................................................................................72\n            9 全家超商重印標籤 ......................................................................................................................76\n            10.訂單更換地址 ............................................................................................................................79\n\n                                                                              3\n\n[在此鍵入]"
    },
    {
      "type": "heading",
      "level": 2,
      "text": "壹、事前準備事項"
    },
    {
      "type": "pre",
      "text": "- TOKEN\n\n請先至「momo 店+後台管理系統」，點擊選單「商店」->「權限管理」->「A103 API 串接 IP 位址管理」->點擊「新增 IP」按鈕，申請 API 使用\n權限。\n\n填妥以下申請資料，點擊「確認」\n\n                                                                              4\n\n[在此鍵入]\n\n在系統完成審核及開通權限後，將會寄發供廠商 API 對接使用的 TOKEN 至 API 串接聯絡人的聯絡人信箱，它會是一組類似下列格式的文字串(RFC-\n7519)：\neyJhbGciOiJIUzM4NCIsInR5cCI6IkpXVCJ.eyJlbnRwQ29kZSI6IlRQNzc3Nzc5OSJ.egpQ_tYkl7cbf2L1XuEMskZwdeN3-\n422AGoaLHME5mQmIL2xkQ54iz6YMIN1wPc\n在編寫您的 API 發送請求時，請將這串 TOKEN 放置於 HTTP 請求的 HEADER 中(RFC-6750)，HEADER 的 KEY 為 Authorization，其 VALUE 為\nBearer 空一格加上 TOKEN。\nAuthorization : Bearer eyJhbGciOiJIUzM4NCIsInR5cCI6IkpXVCJ.eyJlbnRwQ29kZSI6IlRQNzc3Nzc5OSJ.egpQ_tYkl7cbf2L1XuEMskZwdeN3-\n422AGoaLHME5mQmIL2xkQ54iz6YMIN1wPc\n如果貴司決定使用 CALL BACK URL 接收 API 回傳的資料，我們也會以相同的格式，使用貴司的 TOKEN 將資料回傳，貴司驗證 TOKEN 為相同的字\n串即可信任回傳的資料。\n請務必妥善保存 TOKEN，如果遺失或外流，請立即至「momo 店+後台管理系統」刪除 TOKEN，並重新申請 TOKEN，以確保資訊安全。\n最後，請確保發送 API 請求的主機對外 IP 必須與貴司在「A103 API 串接 IP 位址管理」申請時所填寫的 IP 為其中之一，否則將無法通過我司的系統\n檢核驗證。\n\n                                                                              5\n\n[在此鍵入]"
    },
    {
      "type": "heading",
      "level": 2,
      "text": "貳、API 規格說明"
    },
    {
      "type": "pre",
      "text": "一、商品相關"
    },
    {
      "type": "heading",
      "level": 2,
      "text": "1.商品上架"
    },
    {
      "type": "pre",
      "text": "功能     商品上架\n               URL    https://api3p.momo.com.tw/VendorApi/GoodsStartSelling\n    REQUEST METHOD    POST\nREQUEST CONTENT TYPE  application/json\n  RESPONSE CONTENT    application/json\n              TYPE\nREQUEST BODY SAMPLE   {\n                               \"listGoodsCode\" : [\"11111\", \"22222\", \"33333\"]\n\n                      }\n\nRESPONSE BODY SAMPLE\n                                          {\n\n                                             \"result\" : [  \"goodsCode\" : \"11111\"\n                                                      {    , \"success\" : true\n                                                           , \"errorMessage\" : \"\"\n                                                      }\n                                                      ,{   \"goodsCode\" : \"22222\"\n                                                           , \"success\" : false\n                                                      }    , \"errorMessage\" : \"商品已在架上\"\n                                                      ,{\n                                                           \"goodsCode\" : \"33333\"\n                                                      }    , \"success\" : false\n                                                           , \"errorMessage\" : \"商品無物流，無法上架\"\n\n                                                                               6\n\n[在此鍵入]\n\n                               ]\n                      }\n\nREQUEST BODY                      欄位說明                     資料型態                   必填              備註\n        欄位      商品編號陣列                                                                            備註\n                                                           ARRAY                  是\n listGoodsCode\n\nRESPONSE BODY                     欄位說明                     資料型態                   必填\n         欄位\n        result  資料陣列                                         ARRAY                是\n                商品編號                                        STRING                是\n    goodsCode   上架成功或失敗                                    BOOLEAN                是 true / false\n       success  上架失敗時的錯誤訊息                                  STRING                是\n\n  errorMessage"
    },
    {
      "type": "heading",
      "level": 2,
      "text": "2.商品下架"
    },
    {
      "type": "pre",
      "text": "功能     商品下架\n               URL    https://api3p.momo.com.tw/VendorApi/GoodsStopSelling\n    REQUEST METHOD    POST\nREQUEST CONTENT TYPE  application/json\n  RESPONSE CONTENT    application/json\n              TYPE\nREQUEST BODY SAMPLE   {\n                               \"listGoodsCode\" : [\"11111\", \"22222\", \"33333\"]\n\n                      }\n\nRESPONSE BODY SAMPLE\n                                          {\n\n                                             \"result\" : [  \"goodsCode\" : \"11111\"\n                                                      {    , \"success\" : true\n                                                           , \"errorMessage\" : \"\"\n                                                      }\n                                                      ,{\n\n                                                           7\n\n[在此鍵入]\n\n                                           \"goodsCode\" : \"22222\"\n                                           , \"success\" : false\n                                           , \"errorMessage\" : \"商品已是下架狀態\"\n                                  }\n                                  ,{\n                                           \"goodsCode\" : \"33333\"\n                                           , \"success\" : false\n                                           , \"errorMessage\" : \"商品已是下架狀態\"\n                                  }\n                         ]\n                }\n\nREQUEST BODY                      欄位說明  資料型態     必填                       備註\n        欄位      商品編號陣列\n                                        ARRAY    是\n listGoodsCode\n\nRESPONSE BODY                     欄位說明  資料型態     必填                       備註\n         欄位\n        result  資料陣列                      ARRAY  是\n                商品編號                     STRING  是\n    goodsCode   下架成功或失敗                 BOOLEAN  是 true / false\n       success  下架失敗時的錯誤訊息               STRING  是\n\n  errorMessage\n\n                                        8\n\n[在此鍵入]"
    },
    {
      "type": "heading",
      "level": 2,
      "text": "3.商品價格異動"
    },
    {
      "type": "pre",
      "text": "(即將取消!! 2024/10/7 起由「商品子品項價格異動」功能取代之)\n\n                功能     商品價格異動\n                URL    https://api3p.momo.com.tw/VendorApi/GoodsPriceModify\n     REQUEST METHOD    POST\n REQUEST CONTENT TYPE  application/json\nRESPONSE CONTENT TYPE  application/json\n REQUEST BODY SAMPLE   {\n\nRESPONSE BODY SAMPLE            \"listGoodsPriceModify\" : [\n                                         {\n                                                  \"goodsCode\" : \"11111\"\n                                                  , \"salePrice\" : 100\n                                                  , \"custPrice\" : 110\n                                                  , \"applyDate\" : \"2024-01-25\"\n                                         }\n                                         ,{\n                                                  \"goodsCode\" : \"22222\"\n                                                  , \"salePrice\" : 990\n                                                  , \"custPrice\" : 1000\n                                                  , \"applyDate\" : \"2024-01-26\"\n                                         }\n                                         ,...\n\n                                ]\n                       }\n\n                       {\n                                \"result\" : [\n                                         {\n                                                  \"goodsCode\" : \"11111\"\n                                                  , \"success\" : true\n                                                  , \"method\" : \"insert\"\n                                                  , \"errorMessage\" : \"\"\n                                         }\n                                         , {\n                                                  \"goodsCode\" : \"22222\"\n\n                       9\n\n[在此鍵入]\n\n                                                 , \"success\" : false\n                                                 , \"method\" : \"update\"\n                                                 , \"errorMessage\" : \"生效日必須大於等於今日\"\n                                        }\n                               ]\n                      }\n\n   REQUEST BODY                        欄位說明  資料型態     必填                           備註\n            欄位\n                      商品變價陣列                  ARRAY   是\nlistGoodsPriceModify  商品編號                    STRING  是\n      goodsCode       售價                     NUMBER   是 正整數\n        salePrice     市價                     NUMBER   是 正整數\n        custPrice     商品價格生效日                 STRING  是 格式支援\n       applyDate\n                                                                yyyyMMdd 或 yyyy-MM-dd 或 yyyy/MM/dd\n\nRESPONSE BODY                          欄位說明  資料型態     必填                           備註\n         欄位\n        result        資料陣列                     ARRAY  是\n                      商品編號                    STRING  是\n    goodsCode         價格異動成功或失敗              BOOLEAN  是 true / false\n       success        此商品價格異動為新增或修改           STRING  是 新增 insert；修改 update\n      method          價格異動失敗時的錯誤訊息            STRING  是\n\n  errorMessage"
    },
    {
      "type": "heading",
      "level": 2,
      "text": "3.1 商品規格(sku)價格異動"
    },
    {
      "type": "pre",
      "text": "功能     商品規格(sku)價格異動\n               URL\n    REQUEST METHOD    https://api3p.momo.com.tw/VendorApi/GoodsdtPriceModify\nREQUEST CONTENT TYPE\n  RESPONSE CONTENT    POST\n              TYPE    application/json\nREQUEST BODY SAMPLE   application/json\n\n                      {\n                               \"listItem\" : [\n                                        {\n                                                 \"goodsCode\" : \"11111\"\n                                                 ,\"goodsdtCode\":\"001\"\n\n                                                               10\n\n[在此鍵入]                                                           , \"salePrice\" : 100\n                                                                 , \"custPrice\" : 110\n                                            }                    , \"applyDate\" : \"2024-01-25\"\n  RESPONSE BODY SAMPLE                                  }\n                                                        ,{\n                                            {                    \"goodsCode\" : \"22222\"\n                                                                 ,\"goodsdtCode\":\"001\"\n                                            }                    , \"salePrice\" : 990\n                                                                 , \"custPrice\" : 1000\n                                                                 , \"applyDate\" : \"2024-01-26\"\n                                                        }\n                                                        ,...\n                                               ]\n\n                                               \"success\": true\n                                               ,\"errorMessage\": \"\"\n                                               \"listItem\" : [\n\n                                                        {\n                                                                 \"goodsCode\" : \"11111\"\n                                                                 ,\"goodsdtCode\":\"001\"\n                                                                 , \"success\" : true\n                                                                 , \"method\" : \"Insert\"\n                                                                 , \"errorMessage\" : \"\"\n\n                                                        }\n                                                        , {\n\n                                                                 \"goodsCode\" : \"22222\"\n                                                                 ,\"goodsdtCode\":\"001\"\n                                                                 , \"success\" : false\n                                                                 , \"method\" : \"Update\"\n                                                                 , \"errorMessage\" : \"生效日必須大於等於今日\"\n                                                        }\n                                               ]\n\nREQUEST BODY                                   欄位說明  資料型態  必填                                      備註\n        欄位\n\n                                                     11\n\n[在此鍵入]\n\n    listItem     商品子品項變價陣列                ARRAY   是\n goodsCode       商品編號                     STRING  是\ngoodsdtCode      子品項編號                    STRING  是\n                 售價                      NUMBER   是 正整數\n   salePrice     市價                      NUMBER   是 正整數\n   custPrice     商品價格生效日                  STRING  是 格式支援\n  applyDate\n                                                            yyyyMMdd 或 yyyy-MM-dd 或 yyyy/MM/dd\n\nRESPONSE BODY                      欄位說明   資料型態    必填                         備註\n         欄位\n                 整體請求成功或失敗               BOOLEAN  無 true / false\n       success   整體請求失敗時的錯誤訊息             STRING  無\n  errorMessage   商品子品項資料陣列                 ARRAY  是\n                 商品編號                     STRING  是\n       listItem  子品項編號                    STRING  是\n    goodsCode    子品項價格異動成功或失敗                     是 true / false\n  goodsdtCode    此商品子品項價格異動為新增或修改        BOOLEAN  是 新增 Insert；修改 Update\n                 子品項價格異動失敗時的錯誤訊息          STRING  是\n       success                            STRING\n      method\n  errorMessage"
    },
    {
      "type": "heading",
      "level": 2,
      "text": "4.商品庫存量異動"
    },
    {
      "type": "pre",
      "text": "功能     商品庫存量異動\n                URL    https://api3p.momo.com.tw/VendorApi/GoodsStockModify\n     REQUEST METHOD    POST\n REQUEST CONTENT TYPE  application/json\nRESPONSE CONTENT TYPE  application/json\n REQUEST BODY SAMPLE   {\n\n                                \"listGoodsStockModify\" : [\n                                         {\n                                                  \"goodsCode\" : \"11111\"\n                                                  , \"goodsdtCode\" : \"001\"\n                                                  , \"quantity\" : 10\n                                         }\n                                         ,{\n                                                  \"goodsCode\" : \"22222\"\n                                                  , \"goodsdtCode\" : \"005\"\n\n                                                            12\n\n[在此鍵入]                                                                , \"quantity\" : 10\n                                                             }\n                                                 }           ,...\n    RESPONSE BODY SAMPLE                            ]\n\n                                                 {  \"result\" : [  \"goodsCode\" : \"11111\"\n                                                             {    , \"goodsCode\" : \"001\"\n                                                 }                , \"success\" : true\n                                                             }    , \"errorMessage\" : \"\"\n                                                             , {\n                                                                  \"goodsCode\" : \"22222\"\n                                                             }    , \"goodsdtCode\" : \"005\"\n                                                    ]             , \"success\" : true\n                                                                  , \"errorMessage\" : \"\"\n\n    REQUEST BODY                       欄位說明                       資料型態                     必填              備註\n            欄位\n                      商品庫存量異動陣列                                    ARRAY                   是\nlistGoodsStockModify  商品編號                                         STRING                  是\n       goodsCode      單品編號流水碼 3 碼                                  STRING                  是\n     goodsdtCode      數量                                          NUMBER                   是 正整數\n         quantity\n\nRESPONSE BODY                          欄位說明                       資料型態                     必填              備註\n         欄位\n        result        資料陣列                                          ARRAY                  是\n                      商品編號                                         STRING                  是\n    goodsCode         單品編號流水碼 3 碼                                  STRING                  是\n  goodsdtCode         庫存量異動成功或失敗                                  BOOLEAN                  是 true / false\n                      庫存量異動失敗時的錯誤訊息                                STRING                  是\n       success\n  errorMessage\n\n                                                                  13\n\n[在此鍵入]"
    },
    {
      "type": "heading",
      "level": 2,
      "text": "5.商品查詢"
    },
    {
      "type": "pre",
      "text": "因應子品項價格，紅字部份為即將取消的欄位，藍字部份為對應子品項價格新增的欄位\n\n                功能     商品查詢\n                URL    https://api3p.momo.com.tw/VendorApi/GoodsQueryByMethod\n     REQUEST METHOD    POST\n REQUEST CONTENT TYPE  application/json\nRESPONSE CONTENT TYPE  application/json\n REQUEST BODY SAMPLE   {\n\nRESPONSE BODY SAMPLE            \"queryMethod\" : \"All\"\n                                , \"saleStatus\" : \"All\"\n                                , \"pageIndex\" : 1\n                                , \"maxPerPage\" : 1000\n                                , \"applyDate\" : \"2024-03-01 18:00:00\"\n                                , \"listGoods\" : [\n\n                                                  {\n                                                           \"goodsCode\":\"11111\"\n                                                           ,\"listGoodsdtCode\" : [\"001\", \"002\"]\n\n                                                  },{\n                                                           \"goodsCode\":\"22222\"\n                                                           ,\"listGoodsdtCode\" : [\"001\", \"002\"]\n\n                                                  },.....\n                                         ]\n                       }\n                       {\n                                \"requestQueryMethod\" : \"All\"\n                                , \"requestSaleStatus\" : \"All\"\n                                , \"pageIndex\" : 1\n                                , \"maxPerPage\" : 1000\n                                , \"totalGoods\" : 1087\n                                , \"result\" : [\n                                         {\n\n                                                  \"success\" : true\n                                                  , \"errorMessge\" : \"\"\n                                                  , \"goodsCode\" : \"11111\"\n                                                  , \"goodsName\" : \"商品名稱 11111\"\n\n                       14\n\n[在此鍵入]\n\n                 , \"saleStatus\" : \"All\"\n                 , \"salePrice\" : 100\n                 , \"custPrice\" : 110\n                 , \"applyDate\" : \"2024-03-01 18:00:00\"\n                 , \"listGoodsdt\" : [\n\n                                   {\n                                            \"goodsdtCode\" : \"001\"\n                                            , \"quantity\" : 5\n                                            ,\"entpGoodsNo\" : \"原廠編號 001\"\n                                            ,\"goodsdtInfo\" : \"單品規格 001\"\n                                            , \"salePrice\" : 100\n                                            , \"custPrice\" : 110\n                                            , \"applyDate\" : \"2024-03-01 18:00:00\"\n                                            , “dtSaleStatus” : “on”\n\n                                   }\n                                   ,{\n\n                                            \"goodsdtCode\" : \"002\"\n                                            , \"quantity\" : 1\n                                            ,\"entpGoodsNo\" : \"原廠編號 002\"\n                                            ,\"goodsdtInfo\" : \"單品規格 002”\n                                            , \"salePrice\" : 100\n                                            , \"custPrice\" : 110\n                                            , \"applyDate\" : \"2024-03-01 18:00:00\"\n                                            , “dtSaleStatus” : “off”\n                                   }\n                          ]\n        }\n        ,{\n                 “success” : false\n                 , “errorMessge” : “查無此商品”\n                 , “goodsCode” : “22222”\n                 , “goodsName” : null\n                 , “saleStatus” : “All”\n                 , “salePrice” : null\n                 , “custPrice” : null\n                 , “applyDate” : null\n                 , “listGoodsdt” : null\n        }\n\n                               15\n\n[在此鍵入]                                             ,…..  資料型態     必填  備註\n                                          ]\n      REQUEST BODY               }                       STRING   是 All：查詢商品上下架狀態、商品價格、商品庫存\n              欄位                      欄位說明                                  SaleType：只查詢商品上下架狀態\n                                                         STRING             Price：只查詢商品價格\n       queryMethod   要查詢的商品內容                                               Stock：只查詢商品庫存量\n                                                         INTEGER            參數帶 All、Price 時，applyDate 為必填\nsaleStatus           上架或下架的商品                            INTEGER\n                                                         STRING   是 All：查詢上架與下架的所有商品\n pageIndex           頁次                                   ARRAY             StartSelling：只查詢上架商品\nmaxPerPage           每頁筆數                                STRING             StopSelling：只查詢下架商品\n applyDate           商品價格生效日                              ARRAY\n                                                                  是 最小值為 1\n     listGoods       查詢商品編號及單品編號陣列                                是 最小值為 100，最大值為 10000\n   goodsCode         商品編號                                         否 字串格式為：yyyy-MM-dd HH:mm:ss\nlistGoodsdtCode      單品編號流水碼 3 碼陣列\n                                                                            查詢內容包含商品價格時，為必填\n                                                                  否 未填時，將查詢符合其他條件的所有商品資料\n                                                                  否 指定查詢某商品時，必填\n                                                                  否 指定查詢某單品編號時，必填\n\n                                                                            未填時，將查詢該商品編號所有的單品編號資料\n\n  RESPONSE BODY                       欄位說明               資料型態     必填  備註\n            欄位\n                     請求的查詢內容                              STRING  是 All、SaleType、Price、Stock\nrequestQueryMethod   請求的商品狀態                              STRING  是 All、StartSelling、StopSelling\n  requestSaleStatus  符合查詢條件的資料總筆數                        INTEGER  是\n       totalGoods    請求的頁次                               INTEGER  是\n       pageIndex     請求的每頁筆數                             INTEGER  是\n      maxPerPage     回傳的商品資料                               ARRAY  是\n           result    查詢結果                                BOOLEAN  是 true / false\n          success    錯誤訊息                                 STRING  否 success 為 false 時，顯示錯誤訊息\n     errorMessage    商品編號                                 STRING  是\n       goodsCode     商品名稱                                 STRING  是\n      goodsName      商品上下架狀態                              STRING  是 Startselling、StopSelling\n        saleStatus   商品售價                                INTEGER  否 查詢內容包含商品價格時顯示，否則為 null\n         salePrice\n  (因應商品子品項價\n  格，此欄位將取消)\n\n                                                         16\n\n[在此鍵入]\n\n      custPrice  商品市價          INTEGER  否 查詢內容包含商品價格時顯示，否則為 null\n(因應商品子品項價\n格，此欄位將取消)        商品價格生效日       STRING   否 查詢內容包含商品價格時顯示，否則為 null\n\n     applyDate   單品編號及單品庫存量陣列   ARRAY   否 查詢結果包含單品資訊時顯示，否則為 null\n(因應商品子品項價        單品編號流水碼 3 碼   STRING   否 查詢結果包含單品資訊時顯示，否則為 null\n格，此欄位將取消)        單品庫存量         INTEGER  否 查詢結果包含單品資訊時顯示，否則為 null\n                 商品原廠編號        STRING   否 查詢結果包含單品資訊時顯示，否則為 null\n    listGoodsdt  單品規格          STRING   否 查詢結果包含單品資訊時顯示，否則為 null\n  goodsdtCode    商品售價          INTEGER  否 查詢內容包含價格時顯示，否則為 null\n\n      quantity   商品市價          INTEGER  否 查詢內容包含價格時顯示，否則為 null\n  entpGoodsNo\n   goodsdtInfo   商品價格生效日       STRING   否 查詢內容包含價格時顯示，否則為 null\n\n      salePrice  單品啟用/停用狀態     STRING   是 on 啟用\n(因應商品子品項價                                         off 停用\n格，此欄位將新增)\n\n      custPrice\n(因應商品子品項價\n格，此欄位將新增)\n\n     applyDate\n(因應商品子品項價\n格，此欄位將新增)\n\n   dtSaleStatus"
    },
    {
      "type": "heading",
      "level": 2,
      "text": "6.新增商品&編輯暫存商品"
    },
    {
      "type": "pre",
      "text": "功能     新增商品&編輯暫存商品\n               URL\n    REQUEST METHOD    https://api3p.momo.com.tw/apiv2/VendorApi/TempGoodsmodify\nREQUEST CONTENT TYPE\n  RESPONSE CONTENT    POST\n              TYPE    application/json\nREQUEST BODY SAMPLE   application/json\n\n                      {\n                            \"goodsCode\":\"\",\n                            \"webBrandNo\": \"20190530133556054\",\n                            \"webBrandSeries\": \"\",\n                            \"goodsName\": \"無規格(單一規格)\",\n                            \"categoryCode\":\"1800100007\",\n                            \"nsTaxDone\":false,\n\n                               17\n\n[在此鍵入]\n\n              \"freeShipping\": false,\n              \"categoryByEntpCodeList\": [\"130020000000\"],\n              \"inspectionParam\":{\n\n                     \"inspectionEffectiveDate\":\"2025-04-08 00:00:01\",\n                     \"inspectionExpiredDate\":\"2025-04-09 00:00:01\",\n                     \"inspectionFileIdList\":[\"1069865171421339\"]\n              },\n              \"asYn\": true,\n              \"asTerm\": 2,\n              \"asNote\": \"保固\",\n              \"delyTemp\": \"normalTemperature\",\n              \"volumeType\": \"outerBoxSize\",\n              \"length\": 1,\n              \"width\": 1,\n              \"height\": 1,\n              \"weight\": 0.2,\n              \"logisticsNoList\": [\"thirdParty\"],\n              \"realLogisticsNo\":\"\",\n              \"outplaceSeq\":\"000001\",\n              \"skuParamList\": [ {\n                     \"goodsdtInfo1\": \"\",\n                     \"goodsdtInfo2\": \"\",\n                     \"entpGoodsNo\": \"123456789\",\n                     \"internationalNo\": \"11111111\",\n                     \"saleGb\":\"on\",\n\n                      \"canSaleQty\": \"1\",\n                      \"salePrice\": \"52\",\n                      \"custPrice\": \"63\",\n                      \"imgFileId\": 1069865171421334\n                      }\n              ],\n              \"pcertDescribeParam\": {\"proChkCode\": \"\",\"nccChkCode\": \"\",\"energyLabel\": \"\",\"\n        pcertImgId\": 1069865171421330},\n              \"goodsAttrParamList\": [\n                     {\"goodsAttrId\": \"A0002\",\"indexItemNoList\": [\"A0002G0016C0001\"],\"indexNo\"\n        : \"A0002G0016\"},\n                     {\"goodsAttrId\": \"A0002\",\"indexItemNoList\": [\"A0002G0017C0001\",\"A0002G001\n        7C0002\"],\"indexNo\": \"A0002G0017\"}\n\n                                                 18\n\n[在此鍵入]\n\n                            ],\n                          \"goodsNote\": \"1.商品組合/規格：範例商品\\n2.商品重(容)量：2kg\\n3.內容物成分(如含有\n                      豬、牛成分請加註國別)：牛\\n4.食品添加物名稱：胡椒\\n5.製造廠商或國內負責廠商名稱：測廠\n                      \\n6.製造廠商或國內負責廠商地址：台北市\\n7.製造廠商或國內負責廠商電話：02-XXX\\n8.以消費\n                      者收受日算起，至少距有效日期前?日以上：10 天\\n9.食品業者登錄字號：A-0000-000\\n10.投保\n                      產品責任險字號：B-000-000\\n11.原產地(國)：美國\\n 備註欄：備註\",\n\n                            \"goodsDescribeParamList\": [\n                                   {\"content\": \"標語\",\"type\": \"slogan\"},\n                                   {\"content\": \"內文 1\\n 內文 2\\n 內文 3\",\"type\": \"nevin\"}\n\n                            ],\n                            \"youtubeLink\": null,\n                            \"goodsImgIdList\": [1069865171421339],\n                            \"adImgFileId\": 1069865171421338,\n                            \"exportImgFileIdList\":[1121322142872297,1121322142872300,1121322142872299,11\n                      21322142872298],\n                            \"youtubeLinkList\": [\"\"],\n                            \"htmlEditor\": \" 特色\",\n                            \"envMedicineParam\":{\n\n                                   \"envMedicineCode\":\"汙製-0023\",\n                                   \"envMedicineEntpName\":\"廠廠\",\n                                   \"envMedicineChkCode\":\"00-945\"\n                            },\n                            \"onType\": \"\",\n                            \"startDate\": \"\",\"endDate\": \"\",\n                            \"colName1\": \"\",\n                            \"colName2\": \"\"\n                      }\n\nRESPONSE BODY SAMPLE  {                        資料型態    必填  備註\n                         \"success\": \"string\",\n       REQUEST BODY      \"data\": \"string\"      STRING  否 如有值，表示為暫存品的編輯\n               欄位                              STRING  否 可透過 14./apiv2/VendorApi/ListWebBrand 取得品\n                      }\n          goodsCode                                19          牌編號\n        webBrandNo               欄位說明\n\n                      商品編號\n                      商品品牌編號\n\n[在此鍵入]                     品牌系列       STRING  否\n                           商品名稱       STRING  是\n          webBrandSeries   分類編號       STRING  否 如 goodsCode 未填寫 categoryCode 有填，新增商品\n            goodsName\n           categoryCode    是否應免稅       BOOL           時則會以此分類編號為主\n                                              否 true：免稅 false：應稅\n             nsTaxDone\n                                                      (僅限店家開立發票可選擇免稅)\n\n                                                       特定分類需填寫，可透過\n\n                                                       /apiv2/VendorApi/QuerySetting 來查詢是否需要填\n\n                                                       寫\n\n        freeShipping       是否免運費      STIRNG  是 false：否 true：是 (此商品費用由商店全額負擔)\ncategoryByEntpCodeList     商店分類多個\n                           檢驗報告書      ARRAY[String] 否\n     inspectionParam\n                                      ARRAY[OBJECT] 否\n\n>>inspectionEffectiveDate  檢驗報告書開始時間  STRING  否 格式 yyyy-MM-dd HH:mm:ss\n>>inspectionExpiredDate    檢驗報告書結束時間\n                           檢驗報告書圖檔    STRING  否 格式 yyyy-MM-dd HH:mm:ss\n   >>inspectionFileIdList\n                                      ARRAY[STRING] 否 如有填寫檢驗報告書開始時間，\n\n                                                       需至少上傳１張低於 500k 以下的圖檔\n\n   asYn                    是否有售後保固    STIRNG  否 false:否 true:是\n asTerm                    保固(維修)天數\n asNote                    保固內容       STIRNG  否\ndelyTemp                   配送溫層\n                                      STIRNG  否 長度不能超過 800\n\n                                      STIRNG  否 normalTemperature:常溫\n\n                                                       frozen:冷凍\n\n                                                       refrigerated:冷藏\n\n volumeType                材積類型       STIRNG  否 outerBoxSize:外箱尺寸\n\n     length                長度                          volumeSpacing:材積級距\n      width                寬度\n     height                高度         STIRNG  否 選擇 volumeSpacing 時，此欄位可不必填寫\n     weight                重量\n     volume                材積級距       STIRNG  否 選擇 volumeSpacing 時，此欄位可不必填寫\n\nlogisticsNoList            配送物流方式設定   STIRNG  否 選擇 volumeSpacing 時，此欄位可不必填寫\n\n                                      STRING  是\n\n                                      STRING  否 60,90,105,120,150,151\n\n                                                       當 volumeType 選擇 volumeSpacing 時，此欄位必填\n\n                                      ARRAY[STIRNG] 是 convenienceStore：超取\n\n                                                       thirdParty：甲指第三方\n\n                                                       generalHomeDelivery：自訂物流\n\nrealLogisticsNo            物流運費編號     STIRNG           可透過/apiv2/VendorApi/GetCustomizeFreightList\n  outplaceSeq              出貨地代碼\n                                                       查詢自訂物流運費編號(logisticsNo)\n\n                                      STIRNG  否\n\n                                      20\n\n[在此鍵入]\n\n   skuParamList            規格列表     ARRAY[OBJECT] 是\n>>goodsdtInfo1             規格一值\n                           自定義規格一   STIRNG           colName1 有填時, 此參數必填\n>>goodsdtInfo2             規格二值\n                           自定義規格二                    若為無規格(單一規格), 則不需填寫\n>>entpGoodsNo              供應商原廠貨號\n                                    STIRNG           colName2 有填時, 此參數必填\n\n                                                     若為無規格(單一規格), 則不需填寫\n\n                                    STIRNG        是 長度請勿超過 150\n\n>>internationalNo          國際條碼     STIRNG        是\n\n>>canSaleQty               庫存量      STIRNG        是\n\n>>salePrice                售價       STIRNG        是\n\n>>custPrice                市價       STIRNG        否\n\n>>imgFileId                圖檔 id    STIRNG        是 可利用圖檔查詢 api(../VendorApi/FileDetail)查詢\n\npcertDescribeParam         相關認證字號   ARRAY[OBJECT] 否\n\n>>proChkCode               商檢字號     STIRNG        否\n\n>>nccChkCode               NCC 字號   STIRNG        否\n\n>>energyLabel              能源效率分級   STIRNG        否\n\n>>pcertImgId               附件圖片 id  STIRNG        否\n\nsizeParam                  尺寸參數     ARRAY[OBJECT] 否\n >> type                   尺寸類型\n                                                     underwear：內塑衣\n\n                                                     jacket：上衣\n\n                                                     dress：洋裝外套\n\n                                                     underpants：內/外褲\n\n                                                     skirt：裙子\n\n                                                     shoe：鞋子\n\n             >> unit       單位                        公分(cm)|吋(inch)\n>> clothingSizesParamList  尺寸資料\n>> clothingTrysParamList   試穿報告     ARRAY[ARRAY]     [[\"1\",\"2\"],[\"2\",\"3\"]]\n\n                                    ARRAY[ARRAY]     [[\"a\",\"b\"],[\"c\",\"d\"]]\n\n                                    21\n\n[在此鍵入]                     規格屬性列表         ARRAY[STRING] 否\n\n       goodsAttrParamList\n\n>>goodsAttrId              商品屬性主檔編號       STIRNG  否\n\n>>indexNo                  商品屬性分群編號       STIRNG  否\n\n>>indexItemNoList          商品屬性分群內容編號     ARRAY[STRING] 否\n\ngoodsNote                  商品規格描述         STIRNG  否 填寫內容可使用/apiv2/VendorApi/QuerySetting 來\n\n                                                           查詢\n\n                                                           如/QuerySetting 的 content 有回傳值, 可參考\n\n                                                           REQUEST BODY SAMPLE 的輸入方式, 內容為字串,\n\n                                                           每個題目之間需使用換行符號(\\n)\n\ngoodsDescribeParamList 商品特色頁描述            ARRAY[STRING] 否\n\n>>type                     類型             STIRNG  否 slogan：商品特色標語\n                                          STIRNG          nevin：特色內文\n>>content                  内容\n                                                  否\n\nyoutubeLink                Youtube ID     STIRNG  否\n\n  goodsImgIdList           商品主圖 id 列表     ARRAY[STRING] 是 可利用圖檔查詢 api(../VendorApi/FileDetail)查詢\n     adImgFileId           商品廣告圖 id\n                           商品特色（專推）-圖檔    STIRNG  否 可利用圖檔查詢 api(../VendorApi/FileDetail)查詢\nexportImgFileIdList\n                                          ARRAY[STIRNG] 否 可提供圖檔 id 清單會放置到 htmlEditor\n\n  youtubeLinkList          商品特色（專推）- 商品影  STIRNG  否 可放多個 Youtube 連結會放置到 htmlEditor\n                           音\n      htmlEditor           專推             STIRNG  否\nenvMedicineParam           環境用藥信息         OBJECT  否 可透過/apiv2/VendorApi/QuerySetting 來查詢是否\n\nenvMedicineCode            環境用藥許可證字號      STIRNG          需要填寫\n                                                  否 填寫格式如下\nenvMedicineEntpName 廠商名稱                  STIRNG\n                                                          衛製-四碼數字\n                                              22          衛輸-四碼數字\n                                                          微製-四碼數字\n                                                          微輸-四碼數字\n                                                          汙製-四碼數字\n                                                          汙輸-四碼數字\n                                                  否\n\n[在此鍵入]                   環境用藥販賣許可證   STIRNG   否 填寫格式如下\n                                     STIRNG           兩碼數字-三碼數字\n     envMedicineChkCode              boolean          範例: 00-945\n                                     Boolean\nrecycleItem              回收項目(大型家電)           否 長度不可超過 500\n                                     STIRNG\nmountYn                  大型家電是否含安裝            否 true:含安裝\n                                     STIRNG           false:不含安裝\nnsAppShippingDone        是否為約定送貨     STIRNG\n                                     STIRNG   否 true：是約定送貨\nonType                   商品上架方式      STIRNG           false：是約定送貨\n\nstartDate                開始時間                         可透過/apiv2/VendorApi/QuerySetting 來查詢是否\n                                                      需要填寫\n endDate                 結束時間                 否 now：立即上架\n                                                      time:預約\ncolName1                 規格一名                         (商品將於所預約之開始時間上架，結束時間下架)\ncolName2                 規格二名                         未填值，商品狀態為暫存\n                                              否 如 onType= time，此欄位需填寫\n                                                      格式 yyyy-MM-dd HH:mm:ss\n                                              否 如 onType= time，此欄位需填寫\n                                                      格式 yyyy-MM-dd HH:mm:ss\n                                              是 若該商品為無規格(單一規格)，此參數可不必填寫\n                                              是 若該商品為無規格(單一規格)，此參數可不必填寫\n\nRESPONSE BODY            欄位說明        資料型態     必填 備註\n欄位\nsuccess                  上架成功或失敗     BOOLEAN  是  true / false\nerrorMessage             上架失敗時的錯誤訊息  STRING\ndata                     商品編號        STRING   是"
    },
    {
      "type": "heading",
      "level": 2,
      "text": "7.已上架商品資料編輯"
    },
    {
      "type": "pre",
      "text": "功能        已上架商品編輯\n               URL       https://api3p.momo.com.tw/apiv2/VendorApi/GoodsModify\n    REQUEST METHOD       POST\nREQUEST CONTENT TYPE     application/json\n  RESPONSE CONTENT       application/json\n              TYPE\n                                                                  23\n\n[在此鍵入]\n\n   REQUEST BODY SAMPLE {\n                                              \"goodsCode\":\"TP77777990003399\",\n                                              \"webBrandNo\": \"20190530133556054\",\n                                              \"webBrandSeries\": \"\",\n                                              \"goodsName\": \"無規格(單一規格)\",\n                                              \"freeShipping\": false,\n                                              \"categoryByEntpCodeList\": [\"130020000000\"],\n                                              \"inspectionParam\":{\n                                              \"inspectionEffectiveDate\":\"2025-04-08 00:00:01\",\n                                              \"inspectionExpiredDate\":\"2025-04-09 00:00:01\",\n                                              \"inspectionFileIdList\":[\"1069865171421339\"]\n                                              },\n                                              \"asYn\": true,\n                                              \"asTerm\": 2,\n                                              \"asNote\": \"保固\",\n                                              \"delyTemp\": \"normalTemperature\",\n                                              \"volumeType\": \"outerBoxSize\",\n                                              \"length\": 1,\n                                              \"width\": 1,\n                                              \"height\": 1,\n                                              \"weight\": 0.2,\n                                              \"logisticsNoList\": [\"thirdParty\"],\n                                              \"realLogisticsNo\":\"\",\n                                              \"outplaceSeq\":\"000001\",\n                                              \"skuParamList\": [ {\n                                                     \"goodsDtCode\": \"001\",\n                                                     \"goodsdtInfo1\": \"\",\n                                                     \"goodsdtInfo2\": \"\",\n                                                     \"entpGoodsNo\": \"123456789\",\n                                                     \"internationalNo\": \"11111111\",\n                                                     \"saleGb\":\"on\",\n                                                      \"canSaleQty\": \"1\",\n                                                      \"salePrice\": \"52\",\n                                                      \"custPrice\": \"63\",\n                                                      \"imgFileId\": 1069865171421334\n                                                      }\n                                              ],\n\n                                                                              24\n\n[在此鍵入]\n\n                            \"pcertDescribeParam\": {\"proChkCode\": \"\",\"nccChkCode\": \"\",\"energyLabel\": \"\",\"\n                      pcertImgId\": 1069865171421330},\n\n                            \"goodsAttrParamList\": [\n                                   {\"goodsAttrId\": \"A0002\",\"indexItemNoList\": [\"A0002G0016C0001\"],\"indexNo\"\n\n                      : \"A0002G0016\"},\n                                   {\"goodsAttrId\": \"A0002\",\"indexItemNoList\": [\"A0002G0017C0001\",\"A0002G001\n\n                      7C0002\"],\"indexNo\": \"A0002G0017\"}\n                            ],\n\n                          \"goodsNote\": \"1.商品組合/規格：範例商品\\n2.商品重(容)量：2kg\\n3.內容物成分(如含有\n                      豬、牛成分請加註國別)：牛\\n4.食品添加物名稱：胡椒\\n5.製造廠商或國內負責廠商名稱：測廠\n                      \\n6.製造廠商或國內負責廠商地址：台北市\\n7.製造廠商或國內負責廠商電話：02-XXX\\n8.以消費\n                      者收受日算起，至少距有效日期前?日以上：10 天\\n9.食品業者登錄字號：A-0000-000\\n10.投保\n                      產品責任險字號：B-000-000\\n11.原產地(國)：美國\\n 備註欄：備註\",\n\n                            \"goodsDescribeParamList\": [\n                                   {\"content\": \"標語\",\"type\": \"slogan\"},\n                                   {\"content\": \"內文 1\\n 內文 2\\n 內文 3\",\"type\": \"nevin\"}\n\n                            ],\n                            \"youtubeLink\": null,\n                            \"goodsImgIdList\": [1069865171421339],\n                            \"adImgFileId\": 1069865171421338,\n                            \"exportImgFileIdList\":[1121322142872297,1121322142872300,1121322142872299,11\n                      21322142872298],\n                            \"youtubeLinkList\": [\"\"],\n                            \"htmlEditor\": \" 特色\",\n                            \"onType\": \"now\",\n                            \"startDate\": \"\",\"endDate\": \"\",\n                            \"colName1\": \"\",\n                            \"colName2\": \"\"\n                      }\n\nRESPONSE BODY SAMPLE\n\n                      {\n                         \"success\": \"string\",\n                         \"errorMessage\": \"string\",\n                         \"data\": \"string\"\n\n                      }\n\nREQUEST BODY          欄位說明                          資料型態  必填  備註\n\n                                                    25\n\n[在此鍵入]                     商品編號       STRING  是\n                           商品品牌編號\n                  欄位       品牌系列       STRING  否\n             goodsCode     商品名稱\n           webBrandNo      是否免運費      STRING  否\n          webBrandSeries   物流運費編號\n            goodsName                 STRING  是\n          freeShippingYn\n          realLogisticsNo             STIRNG  是 0：否 1：是(此商品費用由商店全額負擔)\n\n                                      STIRNG           可透過/apiv2/VendorApi/GetCustomizeFreightList\n\n                                                       查詢自訂物流運費編號(logisticsNo)\n\ncategoryByEntpCodeList     商店分類多個     ARRAY[String] 否\n     inspectionParam       檢驗報告書\n                                      ARRAY[OBJECT] 否\n\n>>inspectionEffectiveDate  檢驗報告書開始時間  STRING  否 格式 yyyy-MM-dd HH:mm:ss\n>>inspectionExpiredDate    檢驗報告書結束時間\n                           檢驗報告書圖檔    STRING  否 格式 yyyy-MM-dd HH:mm:ss\n   >>inspectionFileIdList\n                                      ARRAY[STRING] 是 如有填寫檢驗報告書開始時間，\n\n                                                       需至少上傳１張低於 500k 以下的圖檔\n\n   asYn                    是否有售後保固    STIRNG  否 0:否 1:是\n asTerm                    保固(維修)天數\n asNote                    保固內容       STIRNG  否\ndelyTemp                   配送溫層\n                                      STIRNG  否 長度不能超過 800\n\n                                      STIRNG  否 normalTemperature:常溫\n\n                                                       frozen:冷凍\n\n                                                       refrigerated:冷藏\n\n volumeType                材積類型       STIRNG  是 outerBoxSize:外箱尺寸\n\n     length                長度                          volumeSpacing:材積級距\n      width                寬度\n     height                高度         STIRNG  否 選擇 volumeSpacing 時，此欄位可不必填寫\n     weight                重量\n     volume                材積級距       STIRNG  否 選擇 volumeSpacing 時，此欄位可不必填寫\nlogisticsNoList            配送物流方式設定\n                                      STIRNG  否 選擇 volumeSpacing 時，此欄位可不必填寫\n\n                                      STRING  否\n\n                                      STRING  否 60,90,105,120,150,151\n\n                                      ARRAY[STIRNG] 是 convenienceStore：超取\n\n                                                       thirdParty：甲指第三方\n\n                                                       generalHomeDelivery：自訂物流\n\nrealLogisticsNo            物流運費編號     STIRNG           logisticsNoList 有 generalHomeDelivery 時必填\n\n                                                       可透過/apiv2/VendorApi/GetCustomizeFreightList\n\n                                                       查詢自訂物流運費編號(logisticsNo)\n\noutplaceSeq                出貨地代碼      STIRNG           logisticsNoList 有 thirdParty 時必填\n\n                                                       可透過/apiv2/VendorApi/GetToutplaceList 查詢第三\n\n                                                       方物流出貨地\n\nskuParamList               規格列表       ARRAY[OBJECT] 是\n\n                                      26\n\n[在此鍵入]                  規格(sku)編號  STIRNG          既有資料為必填且需照順序填寫規格,\n                        商品子品項編號                    若為新增的規格則不必填寫此參數\n         >>goodsDtCode             STIRNG          可透過/GoodsQueryByMethod 查詢 sku 編號\n                                   STIRNG  是 colName1 有填時, 此參數必填\n>>goodsdtInfo1          規格一值       STIRNG          若為無規格(單一規格), 則不需填寫\n>>goodsdtInfo2          自定義規格一     STIRNG  否 colName2 有填時, 此參數必填\n                        規格二值                       若為無規格(單一規格), 則不需填寫\n    >>saleGb            自定義規格二             是 on：啟用\n                        規格狀態                       off：停用\n                                           否 長度請勿超過 150\n>>entpGoodsNo           供應商原廠貨號\n\n>>internationalNo       國際條碼       STIRNG  是\n\n>>canSaleQty            庫存量        STIRNG  是\n\n>>salePrice             售價         STIRNG  是\n\n>>custPrice             市價         STIRNG  否\n\n>>imgFileId             圖檔 id      STIRNG  是 可利用圖檔查詢 api(../VendorApi/FileDetail)查詢\n\npcertDescribeParam      相關認證字號     ARRAY[OBJECT] 否\n\n>>proChkCode            商檢字號       STIRNG  否\n\n>>nccChkCode            NCC 字號     STIRNG  否\n\n>>energyLabel           能源效率分級     STIRNG  否\n\n>>pcertImgId            附件圖片 id    STIRNG  否 可利用圖檔查詢 api(../VendorApi/FileDetail)查詢\n  sizeParam             尺寸參數\n    >> type             尺寸類型       ARRAY[OBJECT] 否\n\n                                                    underwear：內塑衣\n\n                                                    jacket：上衣\n\n                                                    dress：洋裝外套\n\n                                                    underpants：內/外褲\n\n                                                    skirt：裙子\n\n                                                    shoe：鞋子\n\n>> unit                 單位                          公分(cm)|吋(inch)\n\n                                   27\n\n[在此鍵入]\n\n>> clothingSizesParamList  尺寸資料           ARRAY[ARRAY]     [[\"1\",\"2\"],[\"2\",\"3\"]]\n>> clothingTrysParamList   試穿報告\n                           規格屬性列表         ARRAY[ARRAY]     [[\"a\",\"b\"],[\"c\",\"d\"]]\n    goodsAttrParamList\n                                          ARRAY[STRING] 否\n\n>>goodsAttrId              商品屬性主檔編號       STIRNG        否\n\n>>indexNo                  商品屬性分群編號       STIRNG        否\n\n>>indexItemNoList          商品屬性分群內容編號     ARRAY[STRING] 否\n\ngoodsNote                  商品規格描述         STIRNG        否 特定分類需填寫，可透過\n\n                                                           /apiv2/VendorApi/QuerySetting 來查詢是否需要填\n\n                                                           寫\n\n                                                           如/QuerySetting 的 content 有回傳值, 可參考\n\n                                                           REQUEST BODY SAMPLE 的輸入方式, 內容為字串,\n\n                                                           每個題目之間需使用換行符號(\\n)\n\ngoodsDescribeParamList 商品特色頁描述            ARRAY[STRING] 否\n\n>>type                     類型             STIRNG        否 slogan：商品特色標語\n                                          STIRNG                nevin：特色內文\n>>content                  内容\n                                                        否\n\nyoutubeLink                Youtube ID     STIRNG        否\n\ngoodsImgIdList             商品主圖 id 列表     ARRAY[STRING] 是 可利用圖檔查詢 api(../VendorApi/FileDetail)查詢\n  adImgFileId              商品廣告圖 id\n                                          STIRNG        否 可利用圖檔查詢 api(../VendorApi/FileDetail)查詢\n\nexportImgFileIdList        商品特色（專推）-圖檔    ARRAY[STIRNG] 否 可提供圖檔 id 清單會放置到 htmlEditor\n\n  youtubeLinkList          商品特色（專推）- 商品影  STIRNG        否 可放多個 Youtube 連結會放置到 htmlEditor\n                           音\n      htmlEditor           專推             STIRNG        否\nenvMedicineParam           環境用藥信息         OBJECT        否 可透過/apiv2/VendorApi/QuerySetting 來查詢是否\n\nenvMedicineCode            環境用藥許可證字號      STIRNG                需要填寫\n                                                        否 填寫格式如下\n\n                                                                衛製-四碼數字\n                                                                衛輸-四碼數字\n                                                                微製-四碼數字\n\n                                          28\n\n[在此鍵入]\n\nenvMedicineEntpName    廠商名稱        STIRNG               微輸-四碼數字\n envMedicineChkCode    環境用藥販賣許可證   STIRNG               汙製-四碼數字\n                                                        汙輸-四碼數字\nrecycleItem            回收項目(大型家電)  STIRNG       否\n                                                否 填寫格式如下\n                                                        兩碼數字-三碼數字\n                                                        範例: 00-945\n                                                否 長度不可超過 500\n\nmountYn                大型家電是否含安裝   boolean      否 true:含安裝\n                                   Boolean              false:不含安裝\nnsAppShippingDone      是否為約定送貨\n                                                否 true：是約定送貨\n                                                        false：是約定送貨\n\n              onType   商品上架方式           STIRNG   是  可透過/apiv2/VendorApi/QuerySetting 來查詢是否\n                                                    需要填寫\n            startDate  開始時間             STIRNG   否  now：上架\n                       結束時間             STIRNG   否  time:預約\n             endDate   規格一名             STIRNG   是  (商品將於所預約之開始時間上架，結束時間下架)\n                       規格二名             STIRNG   是  如 onType= time，此欄位需填寫\n            colName1   欄位說明        資料型態         必填  格式 yyyy-MM-dd HH:mm:ss\n            colName2                                如 onType= time，此欄位需填寫\nRESPONSE BODY                                       格式 yyyy-MM-dd HH:mm:ss\n欄位                                                  若該商品為無規格(單一規格)，此參數可不必填寫\nsuccess                                             若該商品為無規格(單一規格)，此參數可不必填寫\nerrorMessage                                        備註\ndata\n                       上架成功或失敗     BOOLEAN      是   true / false\n                       上架失敗時的錯誤訊息  STRING\n                       商品編號        STRING       是"
    },
    {
      "type": "heading",
      "level": 2,
      "text": "8. 圖檔上傳"
    },
    {
      "type": "pre",
[...]
