openapi: 3.0.3
info:
  description: 完整萃取自規格書的 API 呼叫與回傳格式
  title: momo SCM 後台管理系統 - 廠商 API
  version: 1.0.0
servers:
  - url: https://scmapi.momoshop.com.tw
    description: momo SCM API 伺服器
tags:
  - name: 訂單
    description: 訂單查詢、出貨、回收、取貨門市與回收聯單作業。
  - name: 商品
    description: 商品提報、查詢、庫存與上下架作業。
  - name: 商品異動
    description: 商品價格、屬性、規格、贈品與其他資料異動作業。
  - name: 商品編碼
    description: 商品分類、品牌、館架與其他編碼查詢。
  - name: 寄倉
    description: 寄倉入庫、退倉、庫存、採購與通知作業。
  - name: 商談
    description: SCM 商談查詢、讀取與回覆作業。
  - name: 聯絡 momo
    description: 出貨、回收與售後問題的聯絡 momo 作業。
  - name: 問問
    description: momo 問問訊息、標記與常用訊息作業。
  - name: 帳務
    description: 對帳與款項明細查詢。
components:
  schemas:
    AppliedListRequest:
      properties:
        dateFlag:
          type: string
        entpGoodsNo:
          type: string
        fromDate:
          type: string
        goodsCode:
          type: string
        goodsName:
          type: string
          description: 商品名稱
        loginInfo:
          $ref: '#/components/schemas/LoginInfo'
        mdId:
          type: string
          description: MD編號
        pFlag:
          type: string
          description: 狀態
        toDate:
          type: string
        whCode:
          type: string
      type: object
    AppliedListResponse:
      properties:
        ENTP_GOODS_NO:
          type: string
        EOUT_NOTE:
          type: string
        EOUT_PLAN_DATE:
          type: string
        EOUT_QUEST_NO:
          type: string
        EOUT_QUEST_QTY:
          type: integer
        GOODSDT_CODE:
          type: string
        GOODSDT_INFO:
          type: string
        GOODS_CODE:
          type: string
        GOODS_NAME:
          type: string
        PM_USER:
          type: string
          description: 負責PM
        P_FAIL_NOTE:
          type: string
          description: 退件原因
        P_FLAG:
          type: string
          description: 狀態
        TMP_EOUT_QUEST_NO:
          type: string
          description: 申請編號
        USER_NAME:
          type: string
        WH_NAME:
          type: string
      type: object
    ApplyAbleQueryRequest:
      properties:
        ecAutoYn:
          type: string
          description: 補貨通知
        entpGoodsNo:
          type: string
        goodsCode:
          type: string
        goodsName:
          type: string
          description: 商品名稱
        goodsType:
          type: string
          description: 新品
        loginInfo:
          $ref: '#/components/schemas/LoginInfo'
        mdID:
          type: string
          description: MD編號
        op:
          type: string
        redLightFlag:
          type: string
          description: 警示紅燈
        saleGb:
          type: string
        stockQty:
          type: integer
        whCode:
          type: string
      required:
        - loginInfo
      type: object
    ApplyRequest:
      properties:
        APPLY_LIST:
          items:
            properties:
              BALJU_DATE:
                type: string
              BALJU_QTY:
                type: integer
              CHANGE_YN:
                type: string
                description: 補貨通知申請
              GOODSDT_CODE:
                type: string
              GOODS_CODE:
                type: string
              WH_CODE:
                type: string
            type: object
          type: array
        loginInfo:
          $ref: '#/components/schemas/LoginInfo'
      required:
        - loginInfo
        - APPLY_LIST
      type: object
    ApplyResponse:
      properties:
        ERROR:
          type: string
        SAVE_MESSAGE:
          properties:
            APPLY_SUCCESS:
              type: string
            ERROR:
              type: string
            RESULT:
              type: string
          type: object
      type: object
    ApplyReturnRequest:
      properties:
        EOUT_NOTE:
          type: string
        EOUT_QUEST_QTY:
          type: string
        GOODSDT_CODE:
          type: string
        GOODS_CODE:
          type: string
        WH_CODE:
          type: string
        loginInfo:
          $ref: '#/components/schemas/LoginInfo'
      type: object
    BackToGoodsRequest:
      properties:
        fromDate:
          type: string
        loginInfo:
          $ref: '#/components/schemas/LoginInfo'
        toDate:
          type: string
      type: object
    BackToGoodsResponseItem:
      properties:
        ENTP_GOODS_NO:
          type: string
        GOODSDT_CODE:
          type: string
        GOODSDT_INFO:
          type: string
        GOODS_CODE:
          type: string
        GOODS_NAME:
          type: string
        GRADE_CTRL_DATE:
          type: string
          description: 調整日期
        GRADE_CTRL_NO:
          type: string
          description: 調整單號
        GRADE_CTRL_QTY:
          type: integer
          description: 調整數量
        WH_CODE:
          type: string
      type: object
    CanApplyListRequest:
      properties:
        canQty:
          type: string
          description: 良品可賣量
        goodsCode:
          type: string
        goodsName:
          type: string
          description: 商品名稱
        loginInfo:
          $ref: '#/components/schemas/LoginInfo'
        mdId:
          type: string
          description: MD編號
        op:
          type: string
        whCode:
          type: string
      type: object
    CanApplyListResponse:
      properties:
        CAN_QTY:
          type: integer
          description: 良品可賣量
        GOODSDT_CODE:
          type: string
        GOODSDT_INFO:
          type: string
        GOODS_CODE:
          type: string
        GOODS_NAME:
          type: string
        PM_USER:
          type: string
          description: 負責PM
        PRE_QTY:
          type: integer
          description: 型錄保留量
        USER_NAME:
          type: string
        WH_NAME:
          type: string
      type: object
    CategoryQueryRequest:
      properties:
        categoryName:
          type: string
          description: 第四層館架名稱
        displayYn:
          type: string
          description: 是否展售
        loginInfo:
          $ref: '#/components/schemas/LoginInfo'
      type: object
    CategoryQueryResponse:
      properties:
        DISPLAY_YN:
          type: string
          description: 是否展售
        IS_MASTER:
          type: string
          description: 主業績館架區分
        LEVEL1:
          type: string
        LEVEL2:
          type: string
        LEVEL3:
          type: string
        LEVEL3_CODE:
          type: string
          description: 第三層館架代碼
        LEVEL4:
          type: string
        LEVEL4_CODE:
          type: string
          description: 第四層館架代碼
      type: object
    CounselQueryRequest:
      properties:
        fr_date:
          type: string
        loginInfo:
          $ref: '#/components/schemas/LoginInfo'
        to_date:
          type: string
      type: object
    CounselQueryResponse:
      properties:
        dataList:
          items:
            properties:
              SCM_FLAG:
                type: string
                description: 資料明細
            type: object
          type: array
        success:
          type: boolean
      type: object
    CounselResponse:
      properties:
        ERROR:
          type: string
        message:
          type: string
          description: 執行結果訊息
        success:
          type: boolean
      type: object
    ErrorResponse:
      properties:
        ERROR:
          type: string
      type: object
    F1101Request:
      properties:
        entpGoodsCode:
          type: string
        fromDate:
          type: string
        goodsCode:
          type: string
        goodsName:
          type: string
          description: 商品名稱
        loginInfo:
          $ref: '#/components/schemas/LoginInfo'
        saleType:
          type: string
          description: 開發通路
        toDate:
          type: string
      type: object
    F1101ResponseItem:
      properties:
        BUY_PRICE:
          type: string
        CLAIM_QTY:
          type: integer
          description: 客退數量
        ENTP_GOODS_NO:
          type: string
        GOODSDT_INFO:
          type: string
        GOODS_CODE:
          type: string
        GOODS_NAME:
          type: string
        ORDER_QTY:
          type: integer
          description: 數量(訂購-取消)
        SALE_GB_CODE:
          type: string
      type: object
    F1301QueryRequest:
      properties:
        entpGoodsNo:
          type: string
        eoutQuestNo:
          type: string
        fromDate:
          type: string
        goodsCode:
          type: string
        goodsName:
          type: string
          description: 商品名稱
        loginInfo:
          $ref: '#/components/schemas/LoginInfo'
        toDate:
          type: string
        whCode:
          type: string
      type: object
    F1301QueryResponse:
      properties:
        EOUT_PLAN_DATE:
          type: string
        EOUT_QUEST_DATE:
          type: string
          description: 退倉申請日
        EOUT_QUEST_NO:
          type: string
        SCM_DATE:
          type: string
          description: 確認日期
        SCM_YN:
          type: string
          description: 列印狀態
        WH_NAME:
          type: string
      type: object
    GoodsChangeQueryRequest:
      properties:
        GOODS_CODE:
          type: string
        loginInfo:
          $ref: '#/components/schemas/LoginInfo'
      type: object
    GoodsChangeQueryResponse:
      properties:
        GOODS_LIST:
          items:
            properties:
              GOODS_CODE:
                type: string
              GOODS_NAME:
                type: string
            type: object
          type: array
        TOTAL_CNT:
          type: integer
      type: object
    HistoryReturnRequest:
      properties:
        entpGoodsNo:
          type: string
        eoutQuestNo:
          type: string
        fromDate:
          type: string
        goodsCode:
          type: string
        goodsName:
          type: string
          description: 商品名稱
        loginInfo:
          $ref: '#/components/schemas/LoginInfo'
        toDate:
          type: string
        whCode:
          type: string
      type: object
    HistoryReturnResponse:
      properties:
        dataList:
          items:
            properties:
              buyAmt:
                type: string
                description: 資料明細
              buyCost:
                type: string
                description: 單價(未稅)
              entpGoodsNo:
                type: string
              eoutBqty:
                type: string
                description: 退倉數量
              eoutDate:
                type: string
                description: 退貨日期
              eoutNo:
                type: string
                description: 送回編號
              eoutNote:
                type: string
                description: 退倉原由
              eoutQuestNo:
                type: string
              goodsCode:
                type: string
              goodsName:
                type: string
                description: 商品名稱
              goodsdtCode:
                type: string
                description: 單品編號
              goodsdtInfo:
                type: string
                description: 單品詳細
              groupGoodsYn:
                type: string
                description: 組合/折解品
              welfareYn:
                type: string
                description: 福利品
              whName:
                type: string
            type: object
          type: array
        errorMsg:
          type: string
          description: 錯誤訊息
        success:
          type: boolean
      type: object
    InboundNoticeQueryRequest:
      properties:
        baljuNo:
          type: string
        entpGoodsNo:
          type: string
        fromDate:
          type: string
        goodsCode:
          type: string
        goodsName:
          type: string
          description: 商品名稱
        loginInfo:
          $ref: '#/components/schemas/LoginInfo'
        qryDateKind:
          type: string
          description: 查詢日期種類
        scmYn:
          type: string
          description: 列印狀態
        tmpBaljuNo:
          type: string
          description: 請採單號
        toDate:
          type: string
        whCode:
          type: string
      required:
        - loginInfo
        - qryDateKind
        - fromDate
        - toDate
      type: object
    InboundNoticeQueryResponse:
      properties:
        ERROR:
          type: string
        dataList:
          items:
            properties:
              BALJU_DATE:
                type: string
                description: 資料明細
              BALJU_DELY_DATE:
                type: string
                description: 入庫預定日期
              BALJU_NO:
                type: string
              CANCEL_YN:
                type: string
                description: 是否可刪單
              DELY_TEMP:
                type: string
                description: 配送溫層
              EXPECT_NOTE:
                type: string
                description: momo採購備註
              MD_NAME:
                type: string
              OLD_BALJU_NO:
                type: string
                description: 原入庫單號
              SALE_GB_CODE:
                type: string
              SCM_DATE:
                type: string
                description: 確認日期
              SCM_YN:
                type: string
                description: 列印狀態
              STATUS_NAME:
                type: string
                description: 驗收狀態
              TMP_BALJU_NO:
                type: string
              TOTAL_BALJU_QTY:
                type: integer
                description: 採購總量
              WH_NAME:
                type: string
            type: object
          type: array
      type: object
    LoginInfo:
      type: object
      required: [entpCode, entpID, entpPwd, otpBackNo]
      properties:
        entpCode: { type: string, description: 廠商編號，文件示例為 6 碼。 }
        entpID: { type: string, description: 統一編號，文件示例為 8 碼。 }
        entpPwd: { type: string, format: password, description: SCM 密碼；文件說明長度為 8 至 14 碼。 }
        otpBackNo: { type: string, description: momo OTP 序號後 3 碼，可於 SCM C1209 查詢。 }
    MomoaskTotalListRequest:
      properties:
        loginInfo:
          $ref: '#/components/schemas/LoginInfo'
        seqOffset:
          type: string
          description: 從第幾筆資料開始查詢
      type: object
    MomoaskTotalListResponse:
      properties:
        rtnData:
          items:
            properties:
              seq:
                type: string
                description: 序號
            type: object
          type: array
        success:
          type: boolean
      type: object
    OrderQueryRequest:
      properties:
        delyGb:
          type: string
          description: 訂單類型
        delyGbType:
          type: string
          description: 配送類型
        fromDate:
          description: 結案日期起日
          type: string
        giftYn:
          type: string
          description: 贈品
        goodsCode:
          type: string
        loginInfo:
          $ref: '#/components/schemas/LoginInfo'
        orderD:
          type: string
          description: 訂單細節序號
        orderG:
          type: string
          description: 訂單商品序號
        orderNo:
          type: string
          description: 訂單編號
        orderW:
          type: string
          description: 訂單處理序號
        sendRecoverType:
          type: string
        toDate:
          description: 結案日期迄日
          type: string
      required:
        - loginInfo
        - fromDate
        - toDate
        - delyGbType
        - sendRecoverType
      type: object
    OrderQueryResponse:
      properties:
        BUY_PRICE:
          type: integer
        BUY_PRICE_REDUCE_VAT:
          type: integer
          description: 進價(未稅)
        COMPLETE_ORDER_NO:
          type: string
          description: 訂單編號
        DELY_GB_NAME:
          type: string
          description: 物流公司
        DELY_GB_STR:
          type: string
          description: 配送類型
        DELY_HOPE_DATE:
          type: string
        DESCRIBE_NOTE:
          type: string
          description: 贈品
        ENTP_GOODS_NO:
          type: string
        GOODSDT_CODE:
          type: string
        GOODSDT_INFO:
          type: string
        GOODS_CODE:
          type: string
        GOODS_NAME:
          type: string
        ORDER_DATE:
          type: string
          description: 訂單成立日
        ORDER_TYPE_STR:
          type: string
          description: 訂單類別
        OUT_CLOSE_DATE:
          type: string
        PROC_DATE:
          type: string
        RECEIVER_MASK:
          type: string
        SALE_PRICE:
          type: integer
        SLIP_NO:
          type: string
        SYSLAST:
          type: integer
        VAT_STRING:
          type: string
          description: 發票類型
      type: object
    PurchaseDetailRequest:
      properties:
        loginInfo:
          $ref: '#/components/schemas/LoginInfo'
        tmp_balju_no:
          type: string
          description: 申請編號
      required:
        - loginInfo
        - tmp_balju_no
      type: object
    PurchaseDetailResponse:
      properties:
        ERROR:
          type: string
        dataList:
          items:
            properties:
              AQTY:
                type: integer
                description: 資料明細
              BALJU_QTY:
                type: integer
              EC_MIN_QTY:
                type: integer
                description: 最小入庫數量
              EXPECT_DATE:
                type: string
              EXP_DATE:
                type: string
                description: 入庫最低有效期限
              EXP_DAYS:
                type: string
                description: 保存天數
              GOODSDT_CODE:
                type: string
              GOODSDT_INFO:
                type: string
              GOODS_CODE:
                type: string
              GOODS_NAME:
                type: string
              INSERT_DATE:
                type: string
              INTERNATIONAL_NO:
                type: string
                description: 國際條碼
              TMP_BALJU_NO:
                type: string
              WH_CODE:
                type: string
            type: object
          type: array
      type: object
    PurchaseQueryRequest:
      properties:
        fromDate:
          type: string
        goodsCode:
          type: string
        goodsName:
          type: string
          description: 商品名稱
        loginInfo:
          $ref: '#/components/schemas/LoginInfo'
        status:
          type: string
          description: 狀態
        toDate:
          type: string
      required:
        - loginInfo
        - fromDate
        - toDate
      type: object
    PurchaseQueryResponse:
      properties:
        ERROR:
          type: string
        dataList:
          items:
            properties:
              BALJU_NO:
                type: string
                description: 資料明細
              EXPECT_DATE:
                type: string
              INSERT_DATE:
                type: string
              MD_MARJOR_ID:
                type: string
                description: MD編號
              MD_NAME:
                type: string
              STATUS:
                type: string
                description: 狀態說明
              SUM_QTY:
                type: integer
                description: 採購總量
              TMP_BALJU_NO:
                type: string
              WH_CODE:
                type: string
              WH_NAME:
                type: string
            type: object
          type: array
      type: object
    QueryRequest:
      properties:
        doAction:
          description: 動作名稱
          type: string
        entpCode:
          description: 供應商代碼
          type: string
        entpID:
          description: 統編
          type: string
      type: object
    QueryResponse:
      properties:
        resultInfo:
          properties:
            failCnt:
              type: integer
            failList:
              items:
                type: string
              type: array
            successCnt:
              type: integer
              description: 成功筆數
            totalCnt:
              type: integer
          type: object
      type: object
    ReturnDetailRequest:
      properties:
        loginInfo:
          $ref: '#/components/schemas/LoginInfo'
        tmp_eout_quest_no:
          type: string
          description: 申請編號
      required:
        - loginInfo
        - tmp_eout_quest_no
      type: object
    ReturnDetailResponse:
      properties:
        ERROR:
          type: string
        dataList:
          items:
            properties:
              BALJU_NO:
                type: string
                description: 資料明細
              BUY_PRICE:
                type: integer
              EOUT_NOTE:
                type: string
              EOUT_QUEST_NO:
                type: string
              EOUT_QUEST_QTY:
                type: integer
              GOODSDT_CODE:
                type: string
              GOODSDT_INFO:
                type: string
              GOODS_CODE:
                type: string
              GOODS_NAME:
                type: string
            type: object
          type: array
      type: object
    ReturnQueryRequest:
      properties:
        fromDate:
          type: string
        goodsCode:
          type: string
        goodsName:
          type: string
          description: 商品名稱
        loginInfo:
          $ref: '#/components/schemas/LoginInfo'
        status:
          type: string
          description: 狀態
        toDate:
          type: string
      required:
        - loginInfo
        - fromDate
        - toDate
      type: object
    ReturnQueryResponse:
      properties:
        ERROR:
          type: string
        dataList:
          items:
            properties:
              EOUTQUEST_DATE:
                type: string
                description: 資料明細
              EOUT_QUEST_QTY:
                type: integer
              MD_CODE:
                type: string
                description: MD編號
              MD_NAME:
                type: string
              P_FAIL_NOTE:
                type: string
                description: 退件原因
              STATUS:
                type: string
                description: 狀態說明
              TMP_EOUT_QUEST_NO:
                type: string
                description: 申請編號
              WH_CODE:
                type: string
              WH_NAME:
                type: string
            type: object
          type: array
      type: object
    SaveClaimFailRequest:
      properties:
        againNote:
          type: string
          description: 再次申訴
        compensation:
          type: number
          description: 請賠金額
        contactNote:
          type: string
          description: 聯絡方式
        goodsStatus:
          items:
            type: string
            description: 商品狀況
          type: array
        loginInfo:
          $ref: '#/components/schemas/LoginInfo'
        note:
          type: string
        orderNo:
          type: string
          description: 訂單編號
        upload1:
          format: binary
          type: string
          description: 上傳圖檔
      type: object
    SaveClaimRejectRequest:
      properties:
        loginInfo:
          $ref: '#/components/schemas/LoginInfo'
        note:
          type: string
        orderNo:
          type: string
          description: 訂單編號
      type: object
    SaveClaimWarehouseRequest:
      properties:
        compensation:
          type: number
          description: 請賠金額
        eoutQuestNo:
          type: string
        goodsList:
          type: string
          description: 商品編號
        goodsStatus:
          items:
            type: string
            description: 商品狀況
          type: array
        loginInfo:
          $ref: '#/components/schemas/LoginInfo'
        note:
          type: string
        orderNo:
          type: string
          description: 訂單編號
        upload1:
          format: binary
          type: string
          description: 上傳圖檔
      type: object
    SaveShipConfirmContactRequest:
      properties:
        addNote:
          type: string
          description: 補充說明
        askNote:
          type: string
          description: 詳細描述狀況
        askType:
          type: string
          description: 確認需求原因
        loginInfo:
          $ref: '#/components/schemas/LoginInfo'
        orderNo:
          type: string
          description: 訂單編號
      type: object
    SaveShipOthersRequest:
      properties:
        helpNote:
          type: string
        loginInfo:
          $ref: '#/components/schemas/LoginInfo'
        note:
          type: string
        orderNo:
          type: string
          description: 訂單編號
        upload1:
          format: binary
          type: string
          description: 上傳圖檔
        upload2:
          format: binary
          type: string
          description: 上傳圖檔
      type: object
    StockQueryRequest:
      properties:
        goodsCode:
          type: string
        goodsName:
          type: string
          description: 商品名稱
        loginInfo:
          $ref: '#/components/schemas/LoginInfo'
        op:
          type: string
        products:
          type: string
        saleGb:
          type: string
        stockQty:
          type: integer
      required:
        - loginInfo
      type: object
    StockQueryResponse:
      properties:
        AVG_NET_DAY:
          type: integer
          description: 迴轉天數
        BADGOODS_SUM:
          type: integer
          description: 瑕疵庫存/小計
        BALJU_QTY:
          type: integer
        BUY_PRICE:
          type: integer
        BUY_PRICE_WITH_QTY:
          type: integer
          description: 總進價金額(進價(含稅)X可賣量)
        CLAIM_SUP_QTY:
          type: integer
          description: 客退直退數
        CLAIM_WH_QTY:
          type: integer
          description: 客退回倉數
        ENTP_GOODS_NO:
          type: string
        GOODSDT_CODE:
          type: string
        GOODSDT_INFO:
          type: string
        GOODS_CODE:
          type: string
        GOODS_NAME:
          type: string
        NET_OUT_QTY:
          type: integer
          description: 前三十天出庫量(訂購-退貨)
        NET_QTY:
          type: integer
          description: 前三十天銷售量(訂購-退貨)
        OKGOODS_CANSALEQTY:
          type: integer
          description: 可賣量
        QUEST_AQTY:
          type: integer
          description: 待退倉數
        QUEST_BQTY:
          type: integer
          description: 瑕疵/客退待退數
        SALE_GB_NAME:
          type: string
        SALE_HARD_DAY:
          type: integer
          description: 滯銷天數(每周一計算)
        SEVEN_NET_OUT_QTY:
          type: integer
          description: 前七天出庫量(訂購-退貨)
        STOCK_AQTY:
          type: integer
          description: 寄倉數(A)
        STOCK_BQTY:
          type: integer
          description: 瑕疵/客退寄倉(E)
        STOCK_NQTY:
          type: integer
          description: 已訂購待出庫
        TOTAL_STOCKQTY:
          type: integer
          description: 總在庫數
        TOT_SALE_QTY:
          type: integer
          description: 銷數量
      type: object
    f1104DownPriceRequest:
      properties:
        APPLY_LIST:
          items:
            properties:
              goodsCode:
                type: string
              markNumber:
                type: string
                description: 滯銷自動降價註記次數
            type: object
          type: array
        loginInfo:
          $ref: '#/components/schemas/LoginInfo'
      type: object
    f1104DownPriceResponse:
      properties:
        ERROR:
          type: string
        SAVE_MESSAGE:
          type: string
      type: object
    f1104StockQueryRequest:
      properties:
        checkStatus:
          type: string
          description: 降價狀態
        loginInfo:
          $ref: '#/components/schemas/LoginInfo'
        queryMonth:
          type: string
          description: 月份
      type: object
    f1104StockQueryResponse:
      properties:
        aQty:
          type: integer
          description: 庫存量
        buyPrice:
          type: integer
        entpChkFlagDesc:
          type: string
          description: 降價狀態
        entpMarkDate:
          type: string
          description: 供應商註記時間
        goodsCode:
          type: string
        goodsName:
          type: string
          description: 商品名稱
        markId:
          type: string
          description: 註記人員
        markNumber:
          type: string
          description: 滯銷自動降價註記次數
        oldBuyPrice:
          type: integer
          description: 現在進價(含稅)
        oldSalePrice:
          type: integer
          description: 現在售價(含稅)
        salePrice:
          type: integer
          description: 建議售價(含稅)
      type: object
    f1104SuspendRequest:
      properties:
        APPLY_LIST:
          items:
            properties:
              goodsCode:
                type: string
              markNote:
                type: string
                description: 不同意原因備註
              markNumber:
                type: string
                description: 滯銷自動降價註記次數
            type: object
          type: array
        loginInfo:
          $ref: '#/components/schemas/LoginInfo'
      type: object
    MomoaskListRequest:
      type: object
      required: [loginInfo, seqOffset]
      properties:
        loginInfo: { $ref: '#/components/schemas/LoginInfo' }
        seqOffset: { type: string, description: "前一次清單查詢回傳的游標。第一頁最多回傳 25 筆，後續頁面最多回傳 20 筆。" }
    MomoaskSearchRequest:
      type: object
      required: [loginInfo]
      anyOf:
        - required: [goodsCode]
        - required: [orderNumber]
        - required: [custName]
      properties:
        loginInfo: { $ref: '#/components/schemas/LoginInfo' }
        goodsCode: { type: string, description: "商品編號。goodsCode、orderNumber、custName 至少須填一項；多項同時填寫時，查詢優先順序為 custName、orderNumber、goodsCode。" }
        orderNumber: { type: string, description: "訂單編號。goodsCode、orderNumber、custName 至少須填一項；多項同時填寫時，查詢優先順序為 custName、orderNumber、goodsCode。" }
        custName: { type: string, description: "顧客姓名。goodsCode、orderNumber、custName 至少須填一項；多項同時填寫時，查詢優先順序為 custName、orderNumber、goodsCode。" }
    MomoaskConversationRequest:
      type: object
      required: [loginInfo, orderNumber, order_g_seq, order_d_seq, order_w_seq, goodsCode, custNo, delyType, delyGbEntpCode]
      properties:
        loginInfo: { $ref: '#/components/schemas/LoginInfo' }
        orderNumber: { type: string, description: "訂單編號。" }
        order_g_seq: { type: string, description: "訂單商品序號。" }
        order_d_seq: { type: string, description: "訂單明細序號。" }
        order_w_seq: { type: string, description: "訂單倉別序號。" }
        goodsCode: { type: string, description: "商品編號。" }
        custNo: { type: string, description: "顧客編號。" }
        delyType:
          type: string
          description: 配送類型。
          enum: ['10', '20']
          x-enum-descriptions: [宅配, 超商取貨]
        delyGbEntpCode: { type: string, description: "配送類型對應的供應商代碼。" }
        lastRecordID: { type: string, description: "最後一筆訊息紀錄 ID。未填時取得最新 20 筆；填入後取得往前 20 筆較舊訊息。" }
    MomoaskSendMessageRequest:
      allOf:
        - $ref: '#/components/schemas/MomoaskConversationRequest'
        - type: object
          required: [msgContent]
          properties:
            msgContent: { type: string, description: "要傳送的文字訊息內容。" }
    MomoaskRoomRequest:
      type: object
      required: [loginInfo, roomid]
      properties:
        loginInfo: { $ref: '#/components/schemas/LoginInfo' }
        roomid: { type: string, description: "對話室 ID。" }
    MomoaskUpdateUsuallyMsgRequest:
      type: object
      required: [loginInfo, msgList]
      properties:
        loginInfo: { $ref: '#/components/schemas/LoginInfo' }
        msgList:
          type: array
          description: 常用訊息文字，最多 10 筆，每筆最多 60 個字元。
          maxItems: 10
          items: { type: string, maxLength: 60 }
    MomoaskSendImageForm:
      type: object
      required: [jsonValue, imgFile]
      properties:
        jsonValue: { type: string, description: "JSON 字串，包含 MomoaskConversationRequest 欄位與訊息內容；不可包含 lastRecordID。" }
        imgFile: { type: string, format: binary, description: "要傳送的圖片檔案。" }
    MomoaskMessageItem:
      type: object
      properties:
        seq: { type: string, description: "訊息序號。" }
        custNo: { type: string, description: "顧客編號。" }
        goodsCode: { type: string, description: "商品編號。" }
        entpCode: { type: string, description: "供應商代碼。" }
        delyGbEntpCode: { type: string, description: "配送供應商代碼。" }
        orderNumber: { type: string, description: "訂單編號。" }
        order_g_seq: { type: string, description: "訂單商品序號。" }
        order_d_seq: { type: string, description: "訂單明細序號。" }
        order_w_seq: { type: string, description: "訂單倉別序號。" }
        goodsLastMsg: { type: string, description: "商品最後一則訊息。" }
        updateTime: { type: string, description: "最後更新時間。" }
        updateYMD: { type: string, description: "最後更新時間戳記，格式為 yyyyMMddhhmmss。" }
        recordStatus:
          type: string
          description: 已讀狀態。
          enum: ['0', '1']
          x-enum-descriptions: [未讀, 已讀]
        roomid: { type: string, description: "對話室 ID，可用於對話室相關 API。" }
        isTagged:
          type: string
          description: 是否將此對話標記為常用或其他標籤。
          enum: ['0', '1']
          x-enum-descriptions: [未標記, 已標記]
        goodsName: { type: string, description: "商品名稱。" }
        custName: { type: string, description: "顧客姓名。" }
        delyType:
          type: string
          description: 配送類型。
          enum: ['10', '20']
          x-enum-descriptions: [宅配, 超商取貨]
    MomoaskListResponse:
      type: object
      properties:
        success: { type: boolean, description: "請求是否成功完成。" }
        resultMessage: { type: string, description: "結果訊息；失敗時包含錯誤訊息。" }
        rtnData:
          type: array
          description: 對話清單；第一頁最多包含 25 筆。
          items: { $ref: '#/components/schemas/MomoaskMessageItem' }
    MomoaskConversationResponse:
      type: object
      properties:
        success: { type: boolean, description: "請求是否成功完成。" }
        resultMessage: { type: string, description: "結果訊息。" }
        rtnData:
          type: array
          description: 訊息歷程。
          items:
            type: object
            properties:
              seq: { type: string, description: "訊息序號。" }
              msgType:
                type: string
                description: 訊息類型。
                enum: ['0', '1', '2', '3', '4', '5']
                x-enum-descriptions: [顧客文字, 供應商文字, 顧客圖片, 供應商圖片, 系統訊息, 其他]
              msgContent: { type: string, description: "訊息文字或圖片 URL。" }
              msgTime: { type: string, description: "訊息時間。" }
              msgDate: { type: string, description: "訊息日期，格式為 yyyyMMdd。" }
    MomoaskResultResponse:
      type: object
      properties:
        success: { type: boolean, description: "請求是否成功完成。" }
        resultMessage: { type: string, description: "結果訊息；失敗時包含錯誤訊息。" }
    MomoaskUsuallyMsgResponse:
      allOf:
        - $ref: '#/components/schemas/MomoaskResultResponse'
        - type: object
          properties:
            msgList:
              type: array
              description: 常用訊息文字。
              items: { type: string }
    MomoaskGoodsOrderResponse:
      type: object
      properties:
        success: { type: boolean, description: 查詢是否成功。 }
        resultMessage: { type: string, description: 回傳訊息。 }
        goodsItem:
          type: object
          description: 商品明細。
          properties:
            goodsName: { type: string, description: 商品名稱。 }
            goodsImg: { type: string, description: 商品圖片。 }
            brandName: { type: string, description: 商品品牌。 }
            goodsCode: { type: string, description: 商品編號。 }
            goodsDtInfo: { type: string, description: 商品說明。 }
            entpGoodsNo: { type: string, description: 原廠編號。 }
        orderInfo:
          type: object
          description: 訂單明細。
          properties:
            orderStatus: { type: string, description: 訂單狀態。 }
            entpGoodsCode: { type: string, description: 原廠編號。 }
            goodsCode: { type: string, description: 商品編號。 }
            goodsDtCode: { type: string, description: 子品編號。 }
            goodsDtInfo: { type: string, description: 商品說明。 }
            orderTotalPrice: { type: string, description: 訂單總額。 }
            orderName: { type: string, description: 訂購人。 }
            orderNumber: { type: string, description: 訂購人電話（文件欄位名稱）。 }
            order_g_seq: { type: string, description: 訂單商品序號。 }
            order_d_seq: { type: string, description: 訂單細節序號。 }
            order_w_seq: { type: string, description: 訂單處理序號。 }
            showOrderDetail: { type: boolean, description: 是否有商品明細。 }
        deliveryInfo:
          type: object
          description: 配送資訊；乙配訂單不會有資料。
          properties:
            deliveryNo: { type: string, description: 配送單號。 }
            shippingCompany: { type: string, description: 配送廠商。 }
            deliveryStatus: { type: string, description: 配送狀態。 }
            deliveryMsg: { type: string, description: 配送訊息。 }
            deliveryDate: { type: string, description: 配送日期。 }
        recipientsInfo:
          type: object
          description: 收件人資訊；乙配訂單不會有資料。
          properties:
            recipientsName: { type: string, description: 收件者名稱。 }
            recipientsCellPhone: { type: string, description: 收件者電話。 }
            recipientsTelPhone: { type: string, description: 收件者手機。 }
            recipientsAddress: { type: string, description: 收件者地址。 }
    CounselProcessListRequest:
      type: object
      required: [loginInfo, fr_date, to_date, date_flag]
      properties:
        loginInfo: { $ref: '#/components/schemas/LoginInfo' }
        fr_date: { type: string, description: 查詢開始日期；與 to_date 不得相差超過三個月。 }
        to_date: { type: string, description: 查詢結束日期；與 fr_date 不得相差超過三個月。 }
        date_flag:
          type: string
          description: 查詢所用日期欄位。
          enum: ['0', '1']
          x-enum-descriptions: [登錄日期, 最後處理日]
        do_flag:
          type: string
          description: 處理階段；留空為全部。
          enum: ['', '1', '2', '3']
          x-enum-descriptions: [全部, 待供應商回覆, 待 momo 處理, 已結案未讀取]
        order_no: { type: string, description: 訂單編號。 }
        entp_goods_no: { type: string, description: 商品原廠編號。 }
        goods_name: { type: string, description: 商品名稱。 }
        goods_code: { type: string, description: 商品編號。 }
        s_group_code:
          type: string
          description: 商談區分；留空為全部。
          enum: ['', '1', '2']
          x-enum-descriptions: [全部, 重大客訴, 售後服務問題]
        cust_no: { type: string, description: 商談編號。 }
        cust_info_seq: { type: string, description: 商談諮詢序號。 }
    CounselEndListRequest:
      type: object
      required: [loginInfo, fr_date, to_date, date_flag]
      properties:
        loginInfo: { $ref: '#/components/schemas/LoginInfo' }
        fr_date: { type: string, description: 查詢開始日期；與 to_date 不得相差超過三個月。 }
        to_date: { type: string, description: 查詢結束日期；與 fr_date 不得相差超過三個月。 }
        date_flag:
          type: string
          description: 查詢所用日期欄位。
          enum: ['0', '1']
          x-enum-descriptions: [登錄日期, 最後處理日]
        order_no: { type: string, description: 訂單編號。 }
        entp_goods_no: { type: string, description: 商品原廠編號。 }
        goods_name: { type: string, description: 商品名稱。 }
        goods_code: { type: string, description: 商品編號。 }
        cust_no: { type: string, description: 商談編號。 }
        cust_info_seq: { type: string, description: 商談諮詢序號。 }
    CounselDetailRequest:
      type: object
      required: [loginInfo, cust_no, cust_info_seq]
      properties:
        loginInfo: { $ref: '#/components/schemas/LoginInfo' }
        cust_no: { type: string, description: 商談編號。 }
        cust_info_seq: { type: string, description: 商談諮詢序號。 }
    CounselListResponse:
      type: object
      properties:
        success: { type: boolean, description: 查詢是否成功。 }
        errorMsg: { type: string, description: 失敗原因。 }
        dataList:
          type: array
          description: 商談清單。
          items:
            type: object
            properties:
              SCM_FLAG: { type: string, description: 狀態；1 為待回覆、2 為 momo 處理中，其餘為已結案。 }
              ENTP_REMARK: { type: string, description: 供應商自行備註。 }
              INSERT_DATE: { type: string, description: 登錄日期。 }
              PROC_DATE: { type: string, description: 最後處理日。 }
              COUNSEL_GROUP: { type: string, description: 處理階段；1 待供應商回覆、2 待 momo 處理、3 已結案、4 已結案未讀取。 }
              PROCESS_STAGE: { type: string, description: 商談區分；15 為重大客訴，其餘為售後服務問題。 }
              ORDER_NO: { type: string, description: 訂單編號。 }
              CUST_NO: { type: string, description: 商談編號。 }
              CUST_INFO_SEQ: { type: string, description: 商談諮詢序號。 }
              GOODS_CODE: { type: string, description: 商品編號。 }
              GOODS_NAME: { type: string, description: 商品名稱。 }
              GOODSDT_INFO: { type: string, description: 規格。 }
              ENTP_GOODS_NO: { type: string, description: 原廠編號。 }
    CounselDetailResponse:
      type: object
      properties:
        success: { type: boolean, description: 查詢是否成功。 }
        errorMsg: { type: string, description: 失敗原因。 }
        counselData:
          type: object
          properties:
            counselDetailData:
              type: object
              properties:
                INSERT_DATE: { type: string, description: 登錄日期。 }
                ORDER_NO: { type: string, description: 訂單編號。 }
                RECEIVER: { type: string, description: 收件人名稱。 }
                GOODS_CODE: { type: string, description: 商品編號。 }
                GOODS_NAME: { type: string, description: 商品名稱。 }
                GOODSDT_INFO: { type: string, description: 規格。 }
            counselConversation:
              type: array
              description: 商談對話陣列。
              items:
                type: array
                items:
                  type: object
                  properties:
                    ID_NAME: { type: string, description: 處理單位。 }
                    PROC_NOTE: { type: string, description: 對話內容。 }
                    PROC_DATE: { type: string, description: 最後處理日。 }
            imgList:
              type: object
              properties:
                scmList: { type: array, description: SCM 回覆圖片列表。 , items: { type: string } }
                nsList: { type: array, description: momo 回覆圖片列表。 , items: { type: string } }
    CounselBatchResponse:
      type: object
      properties:
        success: { type: boolean, description: 操作是否成功。 }
        successCnt: { type: string, description: 成功筆數。 }
        successMsgList: { type: array, description: 成功原因。 , items: { type: string } }
        errorCnt: { type: string, description: 失敗筆數。 }
        errorMsgList: { type: array, description: 失敗原因。 , items: { type: string } }
        errorList: { type: array, description: 失敗原因（範例使用的欄位名稱）。 , items: { type: string } }
    CounselRemarkRequest:
      type: object
      required: [loginInfo, dataList]
      properties:
        loginInfo: { $ref: '#/components/schemas/LoginInfo' }
        dataList:
          type: array
          description: 最多 20 筆。
          maxItems: 20
          items:
            type: object
            required: [entp_remark, cust_no, cust_info_seq]
            properties:
              entp_remark: { type: string, description: 供應商自行備註。 }
              cust_no: { type: string, description: 商談編號。 }
              cust_info_seq: { type: string, description: 商談諮詢序號。 }
    CounselReplyRequest:
      type: object
      required: [loginInfo, dataList]
      properties:
        loginInfo: { $ref: '#/components/schemas/LoginInfo' }
        dataList:
          type: array
          description: 最多 20 筆。
          maxItems: 20
          items:
            type: object
            required: [proc_note, cust_no, cust_info_seq]
            properties:
              proc_note: { type: string, maxLength: 500, description: 處理內容；不得超過 500 字。 }
              cust_no: { type: string, description: 商談編號。 }
              cust_info_seq: { type: string, description: 商談諮詢序號。 }
    CounselReadRequest:
      type: object
      required: [loginInfo, dataList]
      properties:
        loginInfo: { $ref: '#/components/schemas/LoginInfo' }
        dataList:
          type: array
          description: 最多 20 筆。
          maxItems: 20
          items:
            type: object
            required: [cust_no, cust_info_seq]
            properties:
              cust_no: { type: string, description: 商談編號。 }
              cust_info_seq: { type: string, description: 商談諮詢序號。 }
    CounselReplyImageForm:
      type: object
      required: [jsonValue, zipFile]
      properties:
        jsonValue: { type: string, description: 序列化 JSON 字串，內容為 loginInfo 與最多 20 筆 cust_no、cust_info_seq 的 dataList。 }
        zipFile: { type: string, format: binary, description: 圖檔壓縮檔；圖檔命名格式為 cust_no_cust_info_seq_流水號。 }
    BasicCodeLoginRequest:
      type: object
      required: [loginInfo]
      properties:
        loginInfo: { $ref: '#/components/schemas/LoginInfo' }
    BasicCodeWebBrandRequest:
      allOf:
        - $ref: '#/components/schemas/BasicCodeLoginRequest'
        - type: object
          properties:
            webBrandNo: { type: string, description: 品牌編號；模糊搜尋。 }
            brandEng: { type: string, description: 品牌英文名稱；模糊搜尋。 }
            brandChi: { type: string, description: 品牌中文名稱；模糊搜尋。 }
    BasicCodeOriginRequest:
      allOf:
        - $ref: '#/components/schemas/BasicCodeLoginRequest'
        - type: object
          properties:
            originCode: { type: string, description: 產地編號。 }
            originName: { type: string, description: 產地名稱（國名）；模糊搜尋。 }
    BasicCodeRouteRequest:
      allOf:
        - $ref: '#/components/schemas/BasicCodeLoginRequest'
        - type: object
          required: [routeName]
          properties:
            routeName: { type: string, description: 通路名稱；模糊搜尋。 }
    BasicCodeBankRequest:
      allOf:
        - $ref: '#/components/schemas/BasicCodeLoginRequest'
        - type: object
          properties:
            bankName: { type: string, description: 銀行名稱；模糊搜尋。 }
            bankCode: { type: string, description: 銀行代碼；模糊搜尋。 }
    BasicCodeOutplaceRequest:
      allOf:
        - $ref: '#/components/schemas/BasicCodeLoginRequest'
        - type: object
          properties:
            outplaceSeq: { type: string, description: 出貨／回收地代碼；模糊搜尋。 }
            address: { type: string, description: 出貨／回收地地址；模糊搜尋。 }
            flag:
              type: string
              description: 出貨／回收地狀態。
              enum: ['20', '30']
              x-enum-descriptions: [審核中, 審核成功]
    BasicCodeEcOutplaceRequest:
      allOf:
        - $ref: '#/components/schemas/BasicCodeLoginRequest'
        - type: object
          properties:
            ecReturnSeq: { type: string, description: EC 倉直退地址代碼；模糊搜尋。 }
            ecReturnAddress: { type: string, description: EC 倉直退地址；模糊搜尋。 }
    BasicCodeIndexRequest:
      allOf:
        - $ref: '#/components/schemas/BasicCodeLoginRequest'
        - type: object
          required: [thirdCategoryCode]
          properties:
            thirdCategoryCode: { type: string, description: 第三層館架代碼；須使用館架查詢回傳且 IS_MASTER=Y 的 LEVEL3_CODE。 }
    BasicCodeGoodsSpecRequest:
      allOf:
        - $ref: '#/components/schemas/BasicCodeLoginRequest'
        - type: object
          properties:
            colSeq: { type: string, description: 商品規格代碼。 }
            colName: { type: string, description: 商品規格名稱；模糊搜尋。 }
    BasicCodeEcCategoryRequest:
      allOf:
        - $ref: '#/components/schemas/BasicCodeLoginRequest'
        - type: object
          properties:
            ecCategoryName: { type: string, description: 第四層分類名稱；模糊搜尋。與 ecCategoryCode 擇一，兩者皆填時以分類代碼查詢。 }
            ecCategoryCode: { type: string, description: 第四層分類代碼；需完整填寫。與 ecCategoryName 擇一，兩者皆填時優先使用此欄位。 }
    BasicCodeEcIndexRequest:
      allOf:
        - $ref: '#/components/schemas/BasicCodeLoginRequest'
        - type: object
          required: [ecCategoryCode]
          properties:
            ecCategoryCode: { type: string, description: 末端分類代碼。 }
    BasicCodeGiftMdRequest:
      allOf:
        - $ref: '#/components/schemas/BasicCodeLoginRequest'
        - type: object
          required: [ecCategoryCode]
          properties:
            ecCategoryCode: { type: string, description: 末端分類代碼。 }
    BasicCodeBatchGiftMdRequest:
      allOf:
        - $ref: '#/components/schemas/BasicCodeLoginRequest'
        - type: object
          required: [ecCategoryCodeList]
          properties:
            ecCategoryCodeList:
              type: array
              description: 末端分類代碼；最多可查詢 100 筆。
              maxItems: 100
              items: { type: string }
    BasicCodeAuthorRequest:
      allOf:
        - $ref: '#/components/schemas/BasicCodeLoginRequest'
        - type: object
          properties:
            authorNo: { type: string, description: 作者編碼。 }
            authorOri: { type: string, description: 作者原文名字。 }
            authorChi: { type: string, description: 作者中文名字。 }
    BasicCodeBrandSeriesRequest:
      allOf:
        - $ref: '#/components/schemas/BasicCodeLoginRequest'
        - type: object
          properties:
            webBrandNo: { type: string, description: 品牌編號。 }
            brandSeriesOrig: { type: string, description: 品牌系列英文。 }
            brandSeriesCh: { type: string, description: 品牌系列中文。 }
    BasicCodeMomoMountRequest:
      allOf:
        - $ref: '#/components/schemas/BasicCodeLoginRequest'
        - type: object
          properties:
            ecCategoryCode: { type: string, description: 末端分類代碼；傳入時取得該分類可用的安裝類型與規格，未填或空值時回傳全部。 }
    BasicCodeCategoryResponseItem:
      type: object
      properties:
        LEVEL4_CODE: { type: string, description: 第四層館架代碼；提報商品所需。 }
        LEVEL3_CODE: { type: string, description: 第三層館架代碼；查詢屬性所需。 }
        IS_MASTER:
          type: string
          description: 主業績館架區分。
          enum: [Y, N]
          x-enum-descriptions: [主業績館架，可提報主業績或重複置入館架, 重複置入館架，只能提報重複置入館架]
        DISPLAY_YN:
          type: string
          description: 是否展售。
          enum: ['0', '1']
          x-enum-descriptions: [否, 是]
        LEVEL1: { type: string, description: 第一層館架名稱。 }
        LEVEL2: { type: string, description: 第二層館架名稱。 }
        LEVEL3: { type: string, description: 第三層館架名稱。 }
        LEVEL4: { type: string, description: 第四層館架名稱。 }
    BasicCodeEcCategoryResponseItem:
      type: object
      properties:
        CATEGORY_CODE: { type: string, description: 末端分類代碼；提報商品所需，階層可能為第 2 至第 4 層。 }
        LEVEL1: { type: string, description: 第一層分類名稱。 }
        LEVEL2: { type: string, description: 第二層分類名稱。 }
        LEVEL3: { type: string, description: 第三層分類名稱。 }
        LEVEL4: { type: string, description: 第四層分類名稱。 }
        IS_AGREED_DELIVERY_YN: { type: string, enum: ['0', '1'], x-enum-descriptions: [否, 是], description: 是否需填寫約定送貨。 }
        IS_TAX_YN: { type: string, enum: ['0', '1'], x-enum-descriptions: [否, 是], description: 是否需填寫應免稅。 }
        IS_DISC_MACH_YN: { type: string, enum: ['0', '1'], x-enum-descriptions: [否, 是], description: 是否需填寫廢四機。 }
        IS_GOV_SUBSIDIZE_YN: { type: string, enum: ['0', '1'], x-enum-descriptions: [否, 是], description: 是否需填寫政府補助。 }
        IS_MAIN_ACHIEVEMENT_YN: { type: string, enum: ['0', '1'], x-enum-descriptions: [否, 是], description: 是否需填寫業績屬性。 }
        IS_MOMO_MOUNT_YN: { type: string, enum: ['0', '1'], x-enum-descriptions: [否, 是], description: 是否需填寫委由 momo 安裝。 }
        IS_LARGE_MACHINE_YN: { type: string, enum: ['0', '1'], x-enum-descriptions: [否, 是], description: 是否需填寫商品型號。 }
        IS_ENV_YN: { type: string, enum: ['0', '1'], x-enum-descriptions: [否, 是], description: 是否需填寫環境用藥。 }
        PCERT_YN: { type: string, enum: ['0', '1'], x-enum-descriptions: [否, 是], description: 是否需填寫商檢字號。 }
        SAVEWATER_YN: { type: string, enum: ['0', '1'], x-enum-descriptions: [否, 是], description: 是否需填寫省水標章。 }
        AGRICULTURE_YN: { type: string, enum: ['0', '1'], x-enum-descriptions: [否, 是], description: 是否需填寫產銷履歷。 }
        FERTILIZER_YN: { type: string, enum: ['0', '1'], x-enum-descriptions: [否, 是], description: 是否需填寫肥料。 }
        MEDICAL_DEVICE_YN: { type: string, enum: ['0', '1'], x-enum-descriptions: [否, 是], description: 是否需填寫醫療器材。 }
        OTC_TYPE_B_YN: { type: string, enum: ['0', '1'], x-enum-descriptions: [否, 是], description: 是否需填寫乙類成藥。 }
        EXEMPT_PESTICIDE_YN: { type: string, enum: ['0', '1'], x-enum-descriptions: [否, 是], description: 是否需填寫免登記植物保護資材。 }
        ELECTRIC_BIKE_YN: { type: string, enum: ['0', '1'], x-enum-descriptions: [否, 是], description: 是否需填寫電動（輔助）自行車。 }
        TS_MARK_YN: { type: string, enum: ['0', '1'], x-enum-descriptions: [否, 是], description: 是否需填寫 TS mark。 }
        NCC_NO_YN: { type: string, enum: ['0', '1'], x-enum-descriptions: [否, 是], description: 是否需填寫 NCC 字號。 }
        ENERGY_GRADE_YN: { type: string, enum: ['0', '1'], x-enum-descriptions: [否, 是], description: 是否需填寫能源效率分級。 }
        ENERGY_LABEL_YN: { type: string, enum: ['0', '1'], x-enum-descriptions: [否, 是], description: 是否需填寫節能標章。 }
        TRACE_CODE_YN: { type: string, enum: ['0', '1'], x-enum-descriptions: [否, 是], description: 是否需填寫溯源字號追溯碼。 }
        ORGANIC_NO_YN: { type: string, enum: ['0', '1'], x-enum-descriptions: [否, 是], description: 是否需填寫有機認證字號。 }
        MAIN_ACHIEVEMENT_NAME: { type: string, description: 業績屬性名稱。 }
        MAIN_ACHIEVEMENT_LIST:
          type: array
          description: 業績屬性明細；提報時從中擇一填入明細代碼。
          items:
            type: object
            properties:
              ID: { type: string, description: 業績屬性明細代碼。 }
              NAME: { type: string, description: 業績屬性明細名稱。 }
    BasicCodeCategoryRequest:
      allOf:
        - $ref: '#/components/schemas/BasicCodeLoginRequest'
        - type: object
          required: [categoryName]
          properties:
            categoryName: { type: string, description: 第四層館架名稱；模糊搜尋。 }
            displayYn: { type: string, enum: ['', '0', '1'], x-enum-descriptions: [全部, 否, 是], description: 是否展售；未填為全部。 }
    BasicCodeWebBrandResponseItem:
      type: object
      properties:
        QC_YN: { type: string, enum: ['0', '1'], x-enum-descriptions: [否, 是], description: NS 是否需要品檢核。 }
        BRAND_ENG: { type: string, description: 品牌英文名稱。 }
        BRAND_CHI: { type: string, description: 品牌中文名稱。 }
        WEB_BRAND_NO: { type: string, description: 品牌編號。 }
    BasicCodeOriginResponseItem:
      type: object
      properties:
        ORIGIN_CODE: { type: string, description: 產地編號。 }
        ORIGIN_NAME: { type: string, description: 產地名稱（國名）。 }
    BasicCodeRouteResponseItem:
      type: object
      properties:
        ROUTE_GROUP_NO: { type: string, description: 通路類別編號。 }
        ROUTE_GROUP_NAME: { type: string, description: 通路類別名稱。 }
        ROUTE_NO: { type: string, description: 通路名稱編號。 }
        ROUTE_NAME: { type: string, description: 通路名稱。 }
    BasicCodeBankResponseItem:
      type: object
      properties:
        BANK_NAME: { type: string, description: 銀行名稱。 }
        BANK_CODE: { type: string, description: 銀行代碼。 }
    BasicCodeOutplaceResponseItem:
      type: object
      properties:
        ADDR_FLAG: { type: string, enum: ['20', '30'], x-enum-descriptions: [審核中, 審核成功], description: 出貨／回收地狀態。 }
        OUTPLACE_SEQ: { type: string, description: 出貨／回收地代碼。 }
        OUTPLACE_POST: { type: string, description: 出貨／回收地郵遞區號。 }
        DEFAULT_YN: { type: string, enum: ['0', '1'], x-enum-descriptions: [非預設, 預設], description: 是否預設。 }
        FULL_ADDR: { type: string, description: 出貨／回收地地址。 }
    BasicCodeEcOutplaceResponseItem:
      type: object
      properties:
        EC_RETURN_SEQ: { type: string, description: EC 倉直退地址代碼。 }
        EC_RETURN_POST: { type: string, description: EC 倉直退地址郵遞區號。 }
        EC_RETURN_ADDR: { type: string, description: EC 倉直退地址；文件的欄位名稱有空白，但實際 JSON 使用此正規名稱。 }
    BasicCodeIndexResponseItem:
      type: object
      properties:
        ITEM_CONTENT: { type: string, description: 屬性內容選項名稱；以 tab 字元分隔。 }
        CATEGORY_CODE: { type: string, description: 第四層館架代碼。 }
        CATEGORY_NAME: { type: string, description: 第四層館架名稱。 }
        CHECK_YN: { type: string, enum: ['0', '1'], x-enum-descriptions: [單選, 複選], description: 是否為單選。 }
        INDEX_ITEM_NO: { type: string, description: 屬性內容選項代碼；以 tab 字元分隔。 }
        INDEX_NAME: { type: string, description: 屬性名稱。 }
        INDEX_NO: { type: string, description: 屬性名稱代碼。 }
    BasicCodeGoodsSpecResponseItem:
      type: object
      properties:
        COL_SEQ: { type: string, description: 商品規格代碼。 }
        COL_NAME: { type: string, description: 商品規格名稱。 }
    BasicCodeEcIndexResponseItem:
      type: object
      properties:
        ITEM_CONTENT: { type: string, description: 屬性內容選項名稱；以 tab 字元分隔。 }
        CHECK_YN: { type: string, enum: ['0', '1'], x-enum-descriptions: [單選, 複選], description: 是否為單選。 }
        INDEX_ITEM_NO: { type: string, description: 屬性內容選項代碼；以 tab 字元分隔。 }
        INDEX_NAME: { type: string, description: 屬性名稱。 }
        INDEX_NO: { type: string, description: 屬性名稱代碼。 }
    BasicCodeGiftMdResponseItem:
      type: object
      properties:
        MD_ID: { type: string, description: MD ID。 }
        USER_NAME: { type: string, description: MD 名字。 }
    BasicCodeBatchGiftMdResponseItem:
      type: object
      properties:
        categoryCode: { type: string, description: 分類代碼。 }
        mdList: { type: array, description: MD 清單。 , items: { $ref: '#/components/schemas/BasicCodeGiftMdResponseItem' } }
    BasicCodeAuthorResponseItem:
      type: object
      properties:
        AUTHOR_NO: { type: string, description: 作者編碼。 }
        AUTHOR_ORI: { type: string, description: 作者原文名字。 }
        AUTHOR_CHI: { type: string, description: 作者中文名字。 }
    BasicCodeBrandSeriesResponseItem:
      type: object
      properties:
        brandSeriesNo: { type: string, description: 品牌系列編號。 }
        brandSeriesNameOrig: { type: string, description: 品牌系列英文。 }
        brandSeriesNameCh: { type: string, description: 品牌系列中文。 }
    BasicCodeMomoMountResponseItem:
      type: object
      properties:
        CODE: { type: string, description: 安裝類型代碼。 }
        NAME: { type: string, description: 安裝類型名稱。 }
        momoMountSpecList:
          type: array
          description: 安裝規格資料。
          items:
            type: object
            properties:
              CODE: { type: string, description: 安裝規格代碼。 }
              MOUNT_FEE: { type: string, description: 安裝費用。 }
              NAME: { type: string, description: 安裝規格名稱。 }
    GoodsChangeAvailableRequest:
      type: object
      required: [loginInfo]
      properties:
        loginInfo: { $ref: '#/components/schemas/LoginInfo' }
        GOODS_CODE: { type: string, description: 商品編號；模糊查詢。 }
        GOODS_NAME: { type: string, description: 商品名稱；模糊查詢。 }
        ENTP_GOODS_NO: { type: string, description: 商品原廠編號；模糊查詢。 }
        SALE_GB:
          type: string
          description: 銷售狀況；未填為全部。
          enum: ['', '00', '11']
          x-enum-descriptions: [全部, 進行中, 暫時中斷]
        AS_YN:
          type: string
          description: 是否有售後保固；未填為全部。
          enum: ['', '0', '1']
          x-enum-descriptions: [全部, 無, 有]
        WH_CODE:
          type: string
          description: 倉別；未填為全部。
          enum: ['', '00', '990', '902']
          x-enum-descriptions: [全部, 寄倉, 供應商倉, 精品倉]
        IS_THIRD:
          type: string
          description: 是否第三方物流；未填為全部。
          enum: ['', '0', '1']
          x-enum-descriptions: [全部, 否, 是]
        HAS_INDEX:
          type: string
          description: 是否有屬性；未填為全部。
          enum: ['', '0', '1']
          x-enum-descriptions: [全部, 無, 有]
    GoodsChangeAvailableResponse:
      type: object
      properties:
        TOTAL_CNT: { type: integer, description: 總筆數。 }
        GOODS_LIST:
          type: array
          description: 可異動商品清單。
          items:
            type: object
            properties:
              GOODS_CODE: { type: string, description: 商品編號。 }
              GOODS_NAME: { type: string, description: 商品名稱。 }
              ENTP_GOODS_NO: { type: string, description: 商品原廠編號。 }
              SALE_GB_NAME: { type: string, description: 銷售狀況。 }
              WH_NAME: { type: string, description: 倉別名稱。 }
              CAN_CHANGE:
                type: string
                description: 是否可異動。
                enum: [Y, N]
                x-enum-descriptions: [可異動, 不可異動，提品尚未完成]
              HAS_ACTIVTY:
                type: string
                description: 是否有置入活動。
                enum: [Y, N]
                x-enum-descriptions: [有置入活動，僅能異動價格, 無置入活動]
              GOODS_KIND:
                type: string
                description: 商品種類。
                enum: ['1', '2', '3', '4', '5']
                x-enum-descriptions: [寄倉商品, 供應商配送不指定到貨日商品, 供應商配送指定到貨日商品, 商品型態商品，新增單品時不需填備貨數量, 電子票券商品]
    GoodsChangeCodesRequest:
      type: object
      required: [loginInfo, GOODS_CODE]
      properties:
        loginInfo: { $ref: '#/components/schemas/LoginInfo' }
        GOODS_CODE:
          type: array
          description: 欲查詢的商品編號；每個值均須填完整商品編號。
          items: { type: string }
    GoodsChangePriceResponseItem:
      type: object
      properties:
        GOODS_CODE: { type: string, description: 商品編號。 }
        GOODS_NAME: { type: string, description: 商品名稱。 }
        BUY_PRICE: { type: string, description: 進價（含稅）。 }
        BUY_COST: { type: string, description: 進價（未稅）。 }
        SALE_PRICE: { type: string, description: 售價。 }
        CUST_PRICE: { type: string, description: 市價。 }
        GROOSS_RATE: { type: string, description: 毛利率；文件欄位名稱依原文保留。 }
        MD_NAME: { type: string, description: MD 姓名。 }
        PM_NAME: { type: string, description: PM 姓名。 }
    GoodsChangeIndexSpecGiftResponseItem:
      type: object
      properties:
        WH_NAME: { type: string, description: 倉別。 }
        GOODS_CODE: { type: string, description: 商品編號。 }
        GOODS_NAME: { type: string, description: 商品名稱。 }
        MD_NAME: { type: string, description: MD 姓名。 }
        PM_NAME: { type: string, description: PM 姓名。 }
        GOODS_SPEC: { type: string, description: 商品規格。 }
        CATEGORY_CODE: { type: string, description: 第四層館架代碼。 }
        CATEGORY_NAME: { type: string, description: 第四層館架名稱。 }
        INDEX:
          type: array
          description: 商品屬性。
          items:
            type: object
            properties:
              ITEM_CONTENT: { type: string, description: 屬性內容選項名稱；有屬性時以 tab 字元分隔，無屬性時為空字串。 }
              CHECK_YN: { type: string, enum: ['', '0', '1'], x-enum-descriptions: [無屬性, 單選, 複選], description: 是否為單選。 }
              INDEX_ITEM_NO: { type: string, description: 屬性內容選項代碼；有屬性時以 tab 字元分隔，無屬性時為空字串。 }
              INDEX_NAME: { type: string, description: 屬性名稱；無屬性時為空字串。 }
              INDEX_NO: { type: string, description: 屬性名稱代碼；無屬性時為空字串。 }
              CHOSEN_ITEM_NAME: { type: string, description: 商品目前選擇的屬性名稱；有屬性時以 tab 字元分隔，無屬性時為空字串。 }
              CHOSEN_ITEM_NO: { type: string, description: 商品目前選擇的屬性名稱代碼；有屬性時以 tab 字元分隔，無屬性時為空字串。 }
    GoodsChangeApplyResult:
      type: object
      properties:
        TOTAL_CNT: { type: integer, description: 申請筆數；一個商品編號計一筆。 }
        OK_CNT: { type: integer, description: 成功筆數；一個商品編號計一筆。 }
        ERROR_CNT: { type: integer, description: 失敗筆數；一個商品編號計一筆。 }
        APPLY_ERROR_MESSAGE: { type: string, description: 申請失敗訊息；以換行字元分隔。 }
        OTHER_MESSAGE: { type: string, description: 其他訊息；以換行字元分隔。材積異動超過超取限制時會提示改為不可超取。 }
    GoodsChangeApplyPriceRequest:
      type: object
      required: [loginInfo, APPLY_LIST]
      properties:
        loginInfo: { $ref: '#/components/schemas/LoginInfo' }
        APPLY_LIST:
          type: array
          items:
            type: object
            required: [GOODS_CODE, PRICE_LIST]
            properties:
              GOODS_CODE: { type: string, description: 商品編號；須填完整商品編號。 }
              PRICE_LIST:
                type: array
                items:
                  type: object
                  required: [APPLY_DATE, BUY_PRICE, SALE_PRICE, CUST_PRICE]
                  properties:
                    APPLY_DATE: { type: string, description: 生效日期，格式 YYYY/MM/DD。 }
                    BUY_PRICE: { type: string, description: 進價（含稅）。 }
                    BUY_COST: { type: string, description: 進價（未稅）；整數位不填由系統推算，小數位二位允許與系統推算相差正負 0.5，未填由系統推算。 }
                    SALE_PRICE: { type: string, description: 售價。 }
                    CUST_PRICE: { type: string, description: 市價。 }
                    CHANGE_REMARK: { type: string, description: 備註。 }
    GoodsChangeApplyIndexSpecGiftRequest:
      type: object
      required: [loginInfo, APPLY_LIST]
      properties:
        loginInfo: { $ref: '#/components/schemas/LoginInfo' }
        APPLY_LIST:
          type: array
          items:
            type: object
            required: [GOODS_CODE, APPLY_DATE, GOODS_SPEC, CATEGORY_CODE, INDEX_LIST]
            properties:
              GOODS_CODE: { type: string, description: 商品編號；須填完整商品編號。 }
              APPLY_DATE: { type: string, description: 生效日期，格式 YYYY/MM/DD；寄倉商品請傳空字串。 }
              GOODS_SPEC: { type: string, description: 商品規格。 }
              CATEGORY_CODE: { type: string, description: 第四層館架代碼。 }
              INDEX_LIST:
                type: array
                items:
                  type: object
                  required: [INDEX_NO, CHOSEN_ITEM_NO]
                  properties:
                    INDEX_NO: { type: string, description: 屬性名稱代碼；無屬性時傳空字串。 }
                    CHOSEN_ITEM_NO: { type: string, description: 屬性內容選項代碼；複選以 tab 字元分隔，無屬性時傳空字串。 }
    F1204ApplyRequest:
      type: object
      required: [loginInfo, APPLY_LIST]
      properties:
        loginInfo: { $ref: '#/components/schemas/LoginInfo' }
        APPLY_LIST:
          type: array
          description: 申請入庫明細。
          items:
            type: object
            required: [GOODS_CODE, GOODSDT_CODE, BALJU_DATE, BALJU_QTY]
            properties:
              GOODS_CODE: { type: string, description: 商品編號。 }
              GOODSDT_CODE: { type: string, description: 單品編號。 }
              BALJU_DATE: { type: string, description: 入庫日期，格式 yyyy/MM/dd。 }
              BALJU_QTY: { type: integer, description: 入庫數量。 }
              CHANGE_YN: { type: string, enum: ['0', '1', '2'], x-enum-descriptions: [無異動，預設, 申請勾選補貨通知, 取消補貨通知申請], description: 補貨通知申請。 }
              WH_CODE: { type: string, description: 入庫倉別；大家電、冷藏、冷凍商品可使用可申請入庫查詢回傳的倉別，未填為預設倉。 }
    F1204ApplyResponse:
      type: object
      properties:
        SAVE_MESSAGE: { type: string, description: 申請結果，包含成功筆數、失敗筆數及補貨通知異動訊息。 }
        ERROR: { type: string, description: 資料檢核錯誤訊息。 }
    F1204ApplyAbleQueryRequest:
      type: object
      required: [loginInfo]
      properties:
        loginInfo: { $ref: '#/components/schemas/LoginInfo' }
        goodsCode: { type: string, description: 商品編號。 }
        goodsName: { type: string, description: 商品名稱。 }
        entpGoodsNo: { type: string, description: 原廠編號。 }
        mdID: { type: string, description: MD 編號；不清楚時請洽負責 MD。 }
        saleGb: { type: string, enum: ['00', '11'], x-enum-descriptions: [進行, 暫時中斷], description: 商品銷售區分。 }
        redLightFlag: { type: string, enum: ['0', '1'], x-enum-descriptions: [無警示紅燈, 警示紅燈], description: 警示紅燈；未填為全部。 }
        stockQty: { type: integer, description: 可接單量。 }
        op: { type: string, enum: [gt, lt, eq], x-enum-descriptions: [大於, 小於, 等於], description: 可接單量過濾條件；未填為全部。 }
        ecAutoYn: { type: string, enum: ['0', '1'], x-enum-descriptions: [否, 是], description: 補貨通知；未填為全部。 }
        goodsType: { type: string, enum: ['0', '1'], x-enum-descriptions: [否, 是], description: 是否新品；未填為全部。 }
        whCode: { type: string, description: 倉庫；未填為全部。使用倉庫代碼列表中「申請使用」的代碼。 }
    F1204ApplyAbleQueryResponseItem:
      type: object
      properties:
        redlightYn: { type: string, enum: ['0', '1'], x-enum-descriptions: [無警示紅燈, 警示紅燈], description: 警示紅燈。 }
        whName: { type: string, description: 倉別。 }
        userName: { type: string, description: 負責 MD。 }
        pmUser: { type: string, description: 負責 PM。 }
        goodsCode: { type: string, description: 商品編號。 }
        goodsdtCode: { type: string, description: 單品編號。 }
        goodsName: { type: string, description: 商品名稱。 }
        goodsdtInfo: { type: string, description: 單品詳細。 }
        orderCounselQty: { type: integer, description: 可接單量。 }
        sumBaljuQty: { type: integer, description: 在途採購量。 }
        applyQty: { type: integer, description: 申請中採購量。 }
        ecMaxQty: { type: integer, description: 最大備貨量。 }
        monthSaleQty: { type: string, description: 前 30 天訂購數。 }
        sevenNetOutQty: { type: string, description: 前 7 天訂購數。 }
        ecAutoBaljumYn: { type: string, enum: ['0', '1'], x-enum-descriptions: [否, 是], description: 補貨通知。 }
        expDays: { type: string, description: 保存天數。 }
        allowInDays: { type: string, description: 允收天數。 }
        buyPrice: { type: integer, description: 單價。 }
        entpGoodsNo: { type: string, description: 商品原廠編號。 }
        ecMinQty: { type: integer, description: 最小入庫數量。 }
        isBigElectricAppliance: { type: string, enum: ['0', '1'], x-enum-descriptions: [否, 是], description: 是否為大家電倉。 }
        whType: { type: string, enum: ['0', '1', '2', '3'], x-enum-descriptions: [一般倉, 大家電倉, 冷凍倉, 冷藏倉], description: 倉庫類型。 }
        whCodeList:
          type: array
          description: 可入庫倉別列表；僅大家電、冷藏、冷凍商品回傳。
          items:
            type: object
            properties:
              whCode: { type: string, description: 倉別代碼。 }
              whName: { type: string, description: 倉別名稱。 }
    F1204ApplyGoodsQueryRequest:
      type: object
      required: [loginInfo, dateFlag, fromDate, toDate]
      properties:
        loginInfo: { $ref: '#/components/schemas/LoginInfo' }
        dateFlag: { type: string, enum: ['0', '1'], x-enum-descriptions: [申請日期，預設, 入庫預定日期], description: 查詢日期狀態。 }
        fromDate: { type: string, description: 日期起日，格式 yyyy/MM/dd。 }
        toDate: { type: string, description: 日期迄日，格式 yyyy/MM/dd。 }
        goodsCode: { type: string, description: 商品編號。 }
        goodsName: { type: string, description: 商品名稱。 }
        entpGoodsNo: { type: string, description: 商品原廠編號。 }
        whCode: { type: string, description: 倉庫；未填為全部。使用倉庫代碼列表中「申請使用」的代碼。 }
        mdID: { type: string, description: MD 編號；未填為全部。 }
        PFlag: { type: string, enum: ['00', '10', '11'], x-enum-descriptions: [審核中, 退件, 審核通過], description: 申請狀態；未填為全部。 }
    F1204ApplyGoodsQueryResponseItem:
      type: object
      properties:
        pflagname: { type: string, description: 申請狀態。 }
        baljuNo: { type: string, description: 申請編號。 }
        goodsCode: { type: string, description: 商品編號。 }
        goodsdtCode: { type: string, description: 單品編號。 }
        goodsName: { type: string, description: 商品名稱。 }
        goodsdtInfo: { type: string, description: 單品詳細。 }
        baljuQty: { type: integer, description: 申請入庫數量。 }
        buyPrice: { type: integer, description: 單價（含稅）。 }
        total: { type: integer, description: 金額。 }
        whName: { type: string, description: 倉別。 }
        baljuDelyDate: { type: string, description: 入庫預定日期。 }
        userName: { type: string, description: 負責 MD。 }
        pmUser: { type: string, description: 負責 PM。 }
        entpGoodsNo: { type: string, description: 商品原廠編號。 }
    F1204WhInDiaryRequest:
      type: object
      required: [loginInfo]
      properties:
        loginInfo: { $ref: '#/components/schemas/LoginInfo' }
    F1204WhInDiaryResponseItem:
      type: object
      properties:
        WH_CODE: { type: string, description: 倉庫編碼。 }
        WH_NAME: { type: string, description: 倉庫名稱。 }
        REM_QTY_LIST:
          type: array
          description: 可驗入量清單。
          items:
            type: object
            properties:
              DIARY_DATE: { type: string, description: 日期。 }
              REM_QTY: { type: integer, description: 可驗入量。 }
              WEEKDAY: { type: string, description: 星期代碼。 }
              WEEKDAY_NAME: { type: string, description: 星期名稱。 }
    F1210DecisionResponse:
      type: object
      properties:
        OK_CNT: { type: array, description: 成功的申請編號。 , items: { type: string } }
        ERROR_CNT: { type: array, description: 失敗的申請編號。 , items: { type: string } }
        ERROR_MESSAGE: { type: array, description: 失敗訊息。 , items: { type: string } }
    F1210ApproveRequest:
      type: object
      required: [loginInfo, applyList]
      properties:
        loginInfo: { $ref: '#/components/schemas/LoginInfo' }
        applyList:
          type: array
          description: 要同意的申請編號。
          items: { type: string }
    F1210RejectRequest:
      type: object
      required: [loginInfo, applyList]
      properties:
        loginInfo: { $ref: '#/components/schemas/LoginInfo' }
        applyList:
          type: array
          items:
            type: object
            required: [tmp_balju_no, p_fail_note]
            properties:
              tmp_balju_no: { type: string, description: 申請編號。 }
              p_fail_note: { type: string, description: 不同意原因。 }
    F1210ReviseRequest:
      type: object
      required: [loginInfo, applyList]
      properties:
        loginInfo: { $ref: '#/components/schemas/LoginInfo' }
        applyList:
          type: array
          items:
            type: object
            required: [tmp_balju_no, dataList]
            properties:
              tmp_balju_no: { type: string, description: 申請編號。 }
              dataList:
                type: array
                description: 資料明細
                items:
                  type: object
                  required: [goods_code, goodsdt_code, qty]
                  properties:
                    goods_code: { type: string, description: 商品編號。 }
                    goodsdt_code: { type: string, description: 單品編號。 }
                    qty: { type: integer, description: 修改後數量；只能減少，不得增加。 }
    F1301NotificationQueryRequest:
      type: object
      required: [loginInfo, fromDate, toDate]
      properties:
        loginInfo: { $ref: '#/components/schemas/LoginInfo' }
        fromDate: { type: string, description: 退倉申請起日，格式 yyyy/MM/dd。 }
        toDate: { type: string, description: 退倉申請迄日，格式 yyyy/MM/dd。 }
        eoutQuestNo: { type: string, description: 退倉編號。 }
        goodsCode: { type: string, description: 商品編號。 }
        goodsName: { type: string, description: 商品名稱。 }
        entpGoodsNo: { type: string, description: 商品原廠編號。 }
        whCode: { type: string, description: 倉別；未填為全部。請使用 SCM 倉庫代碼列表中可查詢的倉庫代碼。 }
    F1301NotificationResponseItem:
      type: object
      properties:
        EOUT_QUEST_NO: { type: string, description: 退倉編號。 }
        WH_NAME: { type: string, description: 倉別。 }
        EOUT_QUEST_DATE: { type: string, description: 退倉申請日。 }
        EOUT_PLAN_DATE: { type: string, description: 預定退回供應商日。 }
        SCM_DATE: { type: string, description: 確認日期。 }
        SCM_YN: { type: string, description: 列印狀態。 }
    F1301NotificationPrintRequest:
      type: object
      required: [loginInfo]
      anyOf:
        - required: [eoutQuestNo]
        - required: [eoutQuestNO]
      properties:
        loginInfo: { $ref: '#/components/schemas/LoginInfo' }
        eoutQuestNo: { type: string, description: 退倉編號；輸入欄位表使用此大小寫，用以取得退倉單。 }
        eoutQuestNO: { type: string, description: 退倉編號；文件請求範例使用此大小寫，與欄位表的 eoutQuestNo 不一致。 }
        printBuyPrice: { type: string, enum: ['0', '1'], x-enum-descriptions: [不列印，預設, 列印], description: 是否列印進價。 }
    F1301NotificationPrintListRequest:
      type: object
      required: [loginInfo]
      anyOf:
        - required: [eoutQuestNo]
        - required: [eoutQuestNO]
      properties:
        loginInfo: { $ref: '#/components/schemas/LoginInfo' }
        eoutQuestNo: { type: string, description: 退倉編號；輸入欄位表使用此大小寫，用以取得退倉單。 }
        eoutQuestNO: { type: string, description: 退倉編號；文件請求範例使用此大小寫，與欄位表的 eoutQuestNo 不一致。 }
    F1301NotificationPrintListResponse:
      type: object
      properties:
        EOUT_QUEST_NO: { type: string, description: 退倉編號。 }
        ENTP_CODE: { type: string, description: 供應商編號。 }
        ENTP_NAME: { type: string, description: 供應商名稱。 }
        ENTP_ADDR: { type: string, description: 供應商地址。 }
        ENTP_MAN_NAME: { type: string, description: 承辦人。 }
        TEL: { type: string, description: 電話。 }
        FAX: { type: string, description: 傳真。 }
        EOUT_PLAN_DATE: { type: string, description: 退貨領取日期，格式 yyyy/MM/dd。 }
        EOUT_NOTE: { type: string, description: 退貨原因說明。 }
        EOUT_INSERT_DATE: { type: string, description: 開單日期，格式 yyyy/MM/dd。 }
        GOODS_CODE_GOODSDT_CODE: { type: string, description: 商品編號加單品編號。 }
        ENTP_GOODS_NO: { type: string, description: 原廠編號。 }
        INTERNATIONAL_NO: { type: string, description: 國際條碼。 }
        GOODS_NAME: { type: string, description: 商品名稱。 }
        GOODSDT_INFO: { type: string, description: 單品詳細。 }
        EOUT_QUEST_BQTY: { type: integer, description: 退倉數量。 }
        CODE_NAME: { type: string, description: 備註。 }
        BUY_PRICE: { type: integer, description: 單價。 }
        EOUT_QUEST_AMT: { type: integer, description: 金額。 }
    F1307ApproveRequest:
      type: object
      required: [loginInfo, applyList]
      properties:
        loginInfo: { $ref: '#/components/schemas/LoginInfo' }
        applyList:
          type: array
          description: 要同意的申請編號。
          items: { type: string }
    F1307RejectRequest:
      type: object
      required: [loginInfo, applyList]
      properties:
        loginInfo: { $ref: '#/components/schemas/LoginInfo' }
        applyList:
          type: array
          items:
            type: object
            required: [tmp_eout_quest_no, p_fail_note]
            properties:
              tmp_eout_quest_no: { type: string, description: 申請編號。 }
              p_fail_note: { type: string, description: 不同意原因。 }
    F1307DecisionResponse:
      type: object
      properties:
        OK_CNT: { type: array, description: 成功的申請編號。 , items: { type: string } }
        ERROR_CNT: { type: array, description: 失敗的申請編號。 , items: { type: string } }
        ERROR_MESSAGE: { type: array, description: 失敗訊息。 , items: { type: string } }
    F1305QueryListRequest:
      type: object
      required: [loginInfo, fr_date, to_date, ec_status, sale_gb_code]
      properties:
        loginInfo: { $ref: '#/components/schemas/LoginInfo' }
        fr_date: { type: string, description: 轉單日起日，格式 yyyy/MM/dd；與 to_date 的範圍不得超過 62 天。 }
        to_date: { type: string, description: 轉單日迄日，格式 yyyy/MM/dd；與 fr_date 的範圍不得超過 62 天。 }
        receiver: { type: string, description: 收件者姓名。 }
        order_no: { type: string, description: 訂單編號。 }
        goods_code: { type: string, description: 商品編號。 }
        entp_goods_no: { type: string, description: 供應商原廠貨號；欄位名稱依文件請求範例保留。 }
        ec_status:
          type: string
          description: 訂單狀態。
          enum: ['2', '3', '4', '5']
          x-enum-descriptions: [物流回收中, 商品已退回供應商, 已回收確認, 貨運回收異常]
        sale_gb_code:
          type: string
          description: 開發通路。
          enum: ['', '11', '21']
          x-enum-descriptions: [全部, 電視通路, 網路通路]
    F1305QueryListResponseItem:
      type: object
      properties:
        RECEIVER_MASK: { type: string, description: 收件者姓名。 }
        COMPLETE_ORDER_NO: { type: string, description: 訂單編號。 }
        REMARK5_V: { type: string, enum: ['20', '30', '40', '50', '60', '70', '98'], x-enum-descriptions: [電聯不上, 指定回收日, 回收異常, 商品收回檢測中, 收件資料有誤, 客要取消退貨, 其它], description: 回收狀態。 }
        MSG_NOTE: { type: string, description: 回收訊息。 }
        MSG: { type: string, description: 客戶配送需求。 }
        SLIP_NO: { type: string, description: 回收單號。 }
        DELY_HOPE_DATE: { type: string, description: 預計回收日。 }
        GOODS_CODE: { type: string, description: 商品編號（品號）。 }
        GOODS_NAME: { type: string, description: 商品名稱（品名）。 }
        GOODSDT_CODE: { type: string, description: 單品編號。 }
        GOODSDT_INFO: { type: string, description: 單品詳細。 }
        SYSLAST: { type: string, description: 換貨或退貨數量。 }
        LAST_PROC_DATE: { type: string, description: 轉單日。 }
        BUY_PRICE: { type: string, description: 進價（含稅）。 }
        RETURN_REASON: { type: string, description: 銷退原因。 }
        PACK_YN: { type: string, description: 群組變價商品。 }
        ENTP_GOODS_NO: { type: string, description: 供應商原廠編號。 }
        MD_USER: { type: string, description: 負責 MD。 }
        PM_USER: { type: string, description: 負責 PM。 }
    F1305ConfirmRequest:
      type: object
      required: [loginInfo, sendInfoList]
      properties:
        loginInfo: { $ref: '#/components/schemas/LoginInfo' }
        sendInfoList:
          type: array
          items:
            type: object
            required: [completeOrderNo]
            properties:
              completeOrderNo: { type: string, description: 訂單編號，例如 22042500002256-001-001-002。 }
    F1305ConfirmResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            count: { type: integer, description: 回收確認筆數。 }
            errorList:
              type: array
              description: 回收確認失敗清單。
              items:
                type: object
                properties:
                  completeOrderNo: { type: string, description: 訂單編號。 }
    F1305SaveRequest:
      type: object
      required: [loginInfo, sendInfoList]
      properties:
        loginInfo: { $ref: '#/components/schemas/LoginInfo' }
        sendInfoList:
          type: array
          items:
            type: object
            required: [completeOrderNo, remark5VStr]
            properties:
              completeOrderNo: { type: string, description: 訂單編號，例如 22042500002256-001-001-002。 }
              remark5VStr:
                type: string
                description: 回收狀態；若為 41、42、43 必須提供至少 1 張、最多 5 張 JPG base64 異常圖片。
                enum: ['10', '50', '40', '41', '42', '43', '85', '98']
                x-enum-descriptions: [確認回收, 商品收回檢測中, 回收異常, 收到非自家商品, 商品缺件、損壞或已使用, 運輸貨故請賠, 無適當選項請 momo 協助, 供應商備註]
              msgNote: { type: string, description: 回收訊息。 }
              picFileList:
                type: array
                description: 異常圖片的 JPG base64 字串；僅回收狀態 41、42、43 時必填，至少 1 張、最多 5 張。
                minItems: 1
                maxItems: 5
                items: { type: string, format: byte }
    F1305SaveResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            saveMsgOkCnt: { type: integer, description: 儲存訊息成功筆數。 }
            saveMsgFailCnt: { type: integer, description: 儲存訊息失敗筆數。 }
            saveMsgFail: { type: array, description: 儲存訊息失敗列表。 , items: { type: object } }
            addCounselOkCnt: { type: integer, description: 建立商談成功筆數。 }
            addCounselFailCnt: { type: integer, description: 建立商談失敗筆數。 }
            addCounselFail: { type: array, description: 建立商談失敗列表。 , items: { type: object } }
            addCounselFileFailCnt: { type: integer, description: 檔案上傳失敗筆數。 }
            addCounselFileFail: { type: array, description: 檔案上傳失敗列表。 , items: { type: object } }
    F1104StockQueryRequestDetailed:
      type: object
      required: [loginInfo, queryMonth]
      properties:
        loginInfo: { $ref: '#/components/schemas/LoginInfo' }
        queryMonth: { type: string, description: 查詢月份。 }
        checkStatus: { type: string, enum: ['', '00', '20'], x-enum-descriptions: [全部，預設, 未回應, 暫緩], description: 降價狀態。 }
    F1104StockQueryResponseItemDetailed:
      type: object
      properties:
        goodsCode: { type: string, description: 商品編號。 }
        goodsName: { type: string, description: 商品名稱。 }
        aQty: { type: integer, description: 庫存量。 }
        oldBuyPrice: { type: integer, description: 現在進價（含稅）。 }
        oldSalePrice: { type: integer, description: 現在售價（含稅）。 }
        buyPrice: { type: integer, description: 建議進價（含稅）。 }
        salePrice: { type: integer, description: 建議售價（含稅）。 }
        entpChkFlagDesc: { type: string, description: 降價狀態。 }
        markNumber: { type: string, description: 滯銷自動降價註記次數；降價操作的 key，必須使用查詢結果值。 }
        entpMarkDate: { type: string, description: 供應商註記時間。 }
        markId: { type: string, description: 註記人員；自動回押時為 SYSTEM。 }
    F1104DownPriceRequestDetailed:
      type: object
      required: [loginInfo, APPLY_LIST]
      properties:
        loginInfo: { $ref: '#/components/schemas/LoginInfo' }
        APPLY_LIST:
          type: array
          items:
            type: object
            required: [goodsCode, markNumber]
            properties:
              goodsCode: { type: string, description: 商品編號。 }
              markNumber: { type: string, description: 滯銷自動降價註記次數；使用查詢結果值。 }
    F1104SuspendRequestDetailed:
      type: object
      required: [loginInfo, APPLY_LIST]
      properties:
        loginInfo: { $ref: '#/components/schemas/LoginInfo' }
        APPLY_LIST:
          type: array
          items:
            type: object
            required: [goodsCode, markNumber]
            properties:
              goodsCode: { type: string, description: 商品編號。 }
              markNumber: { type: string, description: 滯銷自動降價註記次數；使用查詢結果值。 }
              markNote: { type: string, description: 不同意原因備註。 }
    F1104MoreDownRequest:
      type: object
      required: [loginInfo, APPLY_LIST]
      properties:
        loginInfo: { $ref: '#/components/schemas/LoginInfo' }
        APPLY_LIST:
          type: array
          items:
            type: object
            required: [goodsCode, markNumber, newSalePrice]
            properties:
              goodsCode: { type: string, description: 商品編號。 }
              markNumber: { type: string, description: 滯銷自動降價註記次數；使用查詢結果值。 }
              newSalePrice: { type: number, description: 最終售價。 }
    F1104ActionResponse:
      type: object
      properties:
        SAVE_MESSAGE: { type: string, description: 申請結果，包含成功筆數、失敗筆數與補貨通知異動訊息。 }
        ERROR: { type: string, description: 資料檢核錯誤訊息。 }
    F1102StockQueryRequest:
      type: object
      required: [loginInfo]
      properties:
        loginInfo: { $ref: '#/components/schemas/LoginInfo' }
        goodsCode: { type: string, description: 商品編號。 }
        goodsName: { type: string, description: 商品名稱。 }
        saleGb: { type: string, enum: ['', '00', '11'], x-enum-descriptions: [全部，預設, 進行, 暫時中斷], description: 商品狀態。 }
        stockQty: { type: integer, description: 總在庫數。 }
        products:
          type: string
          description: 在庫數量過濾條件 1；若需過濾，須同時填寫 products 與 op。
          enum: [all, aqty, bqty]
          x-enum-descriptions: [全部 A+E，預設, 良品 A, 瑕疵品 E]
        op:
          type: string
          description: 在庫數量過濾條件 2；若需過濾，須同時填寫 products 與 op。
          enum: [all, gt_zero, eq_zero]
          x-enum-descriptions: [全部，預設, 大於 0, 等於 0]
    F1102StockQueryResponseItem:
      type: object
      properties:
        ENTP_GOODS_NO: { type: string, description: 原廠編號。 }
        GOODS_CODE: { type: string, description: 品號。 }
        GOODSDT_CODE: { type: string, description: 單品編號。 }
        GOODS_NAME: { type: string, description: 品名。 }
        GOODSDT_INFO: { type: string, description: 規格。 }
        SALE_GB_NAME: { type: string, description: 商品狀態。 }
        BUY_PRICE: { type: integer, description: 進價（含稅）。 }
        SEVEN_NET_OUT_QTY: { type: integer, description: 前七天出庫量（訂購減退貨）。 }
        NET_OUT_QTY: { type: integer, description: 前三十天出庫量（訂購減退貨）。 }
        NET_QTY: { type: integer, deprecated: true, description: 前三十天銷售量（訂購減退貨）；文件表示預計於 7 月底後移除，實際時間另行通知。 }
        SALE_HARD_DAY: { type: integer, description: 滯銷天數；每週一計算。 }
        BALJU_QTY: { type: integer, description: 寄倉在途量（未驗入）。 }
        STOCK_AQTY: { type: integer, description: 寄倉良品數（A）。 }
        QUEST_AQTY: { type: integer, description: 待退倉數。 }
        STOCK_NQTY: { type: integer, description: 已訂購待出庫數。 }
        OKGOODS_CANSALEQTY: { type: integer, description: 可賣量。 }
        BUY_PRICE_WITH_QTY: { type: integer, description: 總進價金額，等於進價（含稅）乘以可賣量。 }
        STOCK_BQTY: { type: integer, description: 瑕疵／客退寄倉數（E）。 }
        QUEST_BQTY: { type: integer, description: 瑕疵／客退待退數。 }
        BADGOODS_SUM: { type: integer, description: 瑕疵庫存小計。 }
        TOTAL_STOCKQTY: { type: integer, description: 總在庫數。 }
        TOT_SALE_QTY: { type: integer, description: 銷售數量。 }
        CLAIM_WH_QTY: { type: integer, description: 客退回倉數。 }
        CLAIM_SUP_QTY: { type: integer, description: 客退直退數。 }
        AVG_NET_DAY: { type: integer, description: 迴轉天數。 }
    F1101SalesQueryRequest:
      type: object
      required: [loginInfo, fromDate, toDate]
      properties:
        loginInfo: { $ref: '#/components/schemas/LoginInfo' }
        fromDate: { type: string, description: 查詢起日，格式 yyyy/MM/dd。 }
        toDate: { type: string, description: 查詢迄日，格式 yyyy/MM/dd。 }
        goodsName: { type: string, description: 商品名稱；模糊搜尋。 }
        goodsCode: { type: string, description: 商品編號；模糊搜尋。 }
        entpGoodsCode: { type: string, description: 商品原廠編號；模糊搜尋。 }
        saleType: { type: string, enum: ['11', '12'], x-enum-descriptions: [電視開發, 網路開發], description: 開發通路。 }
    F1101SalesQueryResponseItem:
      type: object
      properties:
        SALE_GB_CODE: { type: string, description: 開發通路。 }
        GOODS_CODE: { type: string, description: 品號。 }
        ENTP_GOODS_NO: { type: string, description: 商品原廠編號。 }
        GOODS_NAME: { type: string, description: 品名。 }
        GOODSDT_INFO: { type: string, description: 規格。 }
        BUY_PRICE: { type: integer, description: 進價（含稅）。 }
        ORDER_QTY: { type: integer, description: 數量，等於訂購數減取消數。 }
        CLAIM_QTY: { type: integer, description: 客退數量。 }
    F1201InboundNoticeRequest:
      type: object
      required: [loginInfo, qryDateKind, fromDate, toDate]
      properties:
        loginInfo: { $ref: '#/components/schemas/LoginInfo' }
        qryDateKind: { type: string, enum: [BALJU_DATE, BALJU_DELY_DATE], x-enum-descriptions: [採購日, 入庫預定日期], description: 查詢日期種類。 }
        fromDate: { type: string, description: 採購起日，格式 yyyy/MM/dd。 }
        toDate: { type: string, description: 採購迄日，格式 yyyy/MM/dd。 }
        baljuNo: { type: string, description: 入庫單號；可傳 20170214-0001、201702140001，或以 20170214 模糊搜尋。 }
        goodsCode: { type: string, description: 商品編號。 }
        goodsName: { type: string, description: 商品名稱。 }
        entpGoodsNo: { type: string, description: 商品原廠編號。 }
        scmYn: { type: string, enum: ['0', '1'], x-enum-descriptions: [未列印, 已列印], description: 列印狀態。 }
        whCode: { type: string, description: 倉別；使用倉庫代碼列表中符合「查詢使用」的代碼。 }
        tmpBaljuNo: { type: string, description: 請採單號。 }
    F1201InboundNoticeResponse:
      type: object
      properties:
        ERROR: { type: string, description: 錯誤訊息。 }
        dataList:
          type: array
          description: 資料明細
          items:
            type: object
            properties:
              BALJU_NO: { type: string, description: 入庫單號。 }
              CANCEL_YN: { type: string, enum: [Y, N], x-enum-descriptions: [可刪單, 無法刪單], description: 是否可刪單。 }
              WH_NAME: { type: string, description: 倉別。 }
              STATUS_NAME: { type: string, description: 驗收狀態。 }
              DELY_TEMP: { type: string, description: 配送溫層。 }
              BALJU_DATE: { type: string, description: 採購日。 }
              OLD_BALJU_NO: { type: string, description: 原入庫單號。 }
              BALJU_DELY_DATE: { type: string, description: 入庫預定日期。 }
              MD_NAME: { type: string, description: 課別。 }
              SCM_DATE: { type: string, description: 確認日期。 }
              SCM_YN: { type: string, enum: ['0', '1'], x-enum-descriptions: [未列印, 已列印], description: 列印狀態。 }
              TOTAL_BALJU_QTY: { type: integer, description: 採購總量。 }
              EXPECT_NOTE: { type: string, description: momo 採購備註。 }
              SALE_GB_CODE: { type: string, enum: ['11', '21'], x-enum-descriptions: [電視, 網路], description: 通路別。 }
              TMP_BALJU_NO: { type: string, description: 請採單號。 }
    F1201BaljuPrintRequest:
      type: object
      required: [loginInfo, baljuNo]
      properties:
        loginInfo: { $ref: '#/components/schemas/LoginInfo' }
        baljuNo: { type: string, description: 入庫單號；格式可為 20170214-0001 或 201702140001。 }
        printBuyPrice: { type: string, enum: ['0', '1'], x-enum-descriptions: [否，預設, 是], description: 是否列印進價。 }
    F1201BarcodeRequest:
      type: object
      required: [loginInfo, baljuNo, type]
      properties:
        loginInfo: { $ref: '#/components/schemas/LoginInfo' }
        baljuNo: { type: string, description: 入庫單號；格式可為 20170214-0001 或 201702140001。 }
        type: { type: string, enum: ['310', '512'], x-enum-descriptions: [乘十, 乘十二], description: 條碼格式；電視通路僅能使用 310，網路通路可選 310 或 512。 }
    F1201BaljuNumberRequest:
      type: object
      required: [loginInfo, baljuNo]
      properties:
        loginInfo: { $ref: '#/components/schemas/LoginInfo' }
        baljuNo: { type: string, description: 入庫通知單號；格式可為 20170214-0001 或 201702140001。 }
    F1201TableListResponse:
      type: object
      properties:
        BALJU_NO: { type: string, description: 通知單號。 }
        ENTP_CODE: { type: string, description: 供應商編碼。 }
        ENTP_NAME: { type: string, description: 供應商名稱。 }
        ENTP_ADDR: { type: string, description: 供應商地址。 }
        ENTP_MAN_NAME: { type: string, description: 承辦人。 }
        TEL: { type: string, description: 電話。 }
        FAX: { type: string, description: 傳真。 }
        EXAMINE_KIND: { type: string, description: 待貨入庫方式。 }
        CTRL_IN_DATE: { type: string, description: 入庫預定日期。 }
        ENTP_TYPE_NAME: { type: string, description: 供應商類型。 }
        GOODS_CODE: { type: string, description: 商品編碼。 }
        GOODSDT_CODE: { type: string, description: 單品。 }
        ENTP_GOODS_NO: { type: string, description: 原廠編號。 }
        INTERNATIONAL_NO: { type: string, description: 國際條碼。 }
        GOODS_NAME: { type: string, description: 商品名稱。 }
        GOODSDT_INFO: { type: string, description: 單品詳細。 }
        EXP_DAYS: { type: string, description: 保存天數。 }
        EXP_DATE: { type: string, description: 入庫最低有效期限。 }
        DGROUP_NAME: { type: string, description: 商品細分類。 }
        SALE_UNIT_NAME: { type: string, description: 單位。 }
        BALJU_QTY: { type: integer, description: 數量。 }
        BUY_PRICE: { type: string, description: 單價；printBuyPrice 為 1 時出現，否則為空字串。 }
        BALJU_AMT: { type: string, description: 金額；printBuyPrice 為 1 時出現，否則為空字串。 }
        CODE_NAME: { type: string, description: 備註。 }
        CHK_TYPE_NAME: { type: string, description: 檢驗方式。 }
        GOODS_EXPDATE: { type: string, description: 商品有效期限。 }
        MARK_NOTE: { type: string, description: 註記；新品標示，非新品為空白。 }
    F1201ApplyCancelRequest:
      type: object
      required: [loginInfo, BALJU_NO, CANCEL_CODE, CANCEL_NOTE]
      properties:
        loginInfo: { $ref: '#/components/schemas/LoginInfo' }
        BALJU_NO: { type: string, description: 入庫通知單號；格式可為 20170214-0001 或 201702140001。 }
        CANCEL_CODE: { type: string, enum: ['10', '20', '30', '40', '50', '90'], x-enum-descriptions: [進貨驗退, 重複下單, 下單錯誤, 無貨刪單, MOMO 通知刪單, 其它], description: 申請刪單原因。 }
        CANCEL_NOTE: { type: string, description: 申請刪單說明。 }
    F1201ActionResponse:
      type: object
      properties:
        SAVE_MESSAGE: { type: string, description: 操作成功回傳訊息。 }
        ERROR: { type: string, description: 檢核有誤時的錯誤訊息。 }
    F1201CancelQueryRequest:
      type: object
      required: [loginInfo, fromDate, toDate, deleter]
      properties:
        loginInfo: { $ref: '#/components/schemas/LoginInfo' }
        fromDate: { type: string, description: 申請刪單起日，格式 yyyy/MM/dd。 }
        toDate: { type: string, description: 申請刪單迄日，格式 yyyy/MM/dd。 }
        baljuNo: { type: string, description: 入庫單號；可用完整格式或以日期模糊搜尋。 }
        goodsCode: { type: string, description: 商品編號。 }
        goodsName: { type: string, description: 商品名稱。 }
        entpGoodsNo: { type: string, description: 商品原廠編號。 }
        deleter: { type: string, enum: [supplier, momo], x-enum-descriptions: [供應商, momo], description: 刪單人員。 }
        whCode: { type: string, description: 倉別；使用倉庫代碼列表中符合「查詢使用」的代碼。 }
        tmpBaljuNo: { type: string, description: 請採單號。 }
    F1201CancelQueryResponseItem:
      type: object
      properties:
        WH_NAME: { type: string, description: 倉別。 }
        BALJU_DATE: { type: string, description: 採購日。 }
        BALJU_NO: { type: string, description: 入庫單號。 }
        OLD_BALJU_NO: { type: string, description: 原入庫單號。 }
        BALJU_DELY_DATE: { type: string, description: 入庫預定日期。 }
        CANCEL_FLAG: { type: string, description: 最終狀態。 }
        CANCEL_SIGN_DATE: { type: string, description: 簽核日期。 }
        INSERT_DATE: { type: string, description: 申請／異動日期。 }
        CANCEL_CODE: { type: string, description: 刪單原因。 }
        CANCEL_NOTE: { type: string, description: 刪單說明。 }
        EXPECT_NOTE: { type: string, description: momo 採購備註。 }
        TMP_BALJU_NO: { type: string, description: 請採單號。 }
    F1201ModifyMarkRequest:
      type: object
      required: [loginInfo, BALJU_NO, GOODS_CODE, GOODSDT_CODE]
      properties:
        loginInfo: { $ref: '#/components/schemas/LoginInfo' }
        BALJU_NO: { type: string, description: 入庫（採購）單號；格式可為 20170214-0001 或 201702140001。 }
        GOODS_CODE: { type: string, description: 商品編號。 }
        GOODSDT_CODE: { type: string, description: 單品編號。 }
        MARK_NOTE: { type: string, description: 嘜頭備註。 }
    F1201CancelCourseRequest:
      type: object
      required: [loginInfo, BALJU_NO]
      properties:
        loginInfo: { $ref: '#/components/schemas/LoginInfo' }
        BALJU_NO: { type: string, description: 入庫（採購）單號；格式可為 20170214-0001 或 201702140001。 }
    F1201CancelCourseResponseItem:
      type: object
      properties:
        BALJU_NO: { type: string, description: 入庫單號。 }
        CANCEL_SEQ: { type: string, description: 刪單序號。 }
        CANCEL_FLAG: { type: string, description: 狀態。 }
        CANCEL_CODE: { type: string, description: 刪單原因。 }
        CANCEL_NOTE: { type: string, description: 刪單說明。 }
        INSERT_DATE: { type: string, description: 狀態寫入日期。 }
        CANCEL_REJECT_NOTE: { type: string, description: MD 退件原因。 }
    F1201BatchShippingMarkRequest:
      type: object
      required: [loginInfo, baljuNoList]
      properties:
        loginInfo: { $ref: '#/components/schemas/LoginInfo' }
        baljuNoList:
          type: array
          items: { type: string, description: 入庫單號；格式可為 20170214-0001 或 201702140001。 }
    F1202HistoryInboundRequest:
      type: object
      required: [loginInfo, fromDate, toDate]
      properties:
        loginInfo: { $ref: '#/components/schemas/LoginInfo' }
        fromDate: { type: string, description: 查詢起日，格式 YYYY/MM/DD。 }
        toDate: { type: string, description: 查詢迄日，格式 YYYY/MM/DD。 }
        baljuNo: { type: string, description: 入庫（採購）單號；可傳兩種完整格式。 }
        goodsCode: { type: string, description: 商品編號。 }
        goodsName: { type: string, description: 商品名稱。 }
        entpGoodsNo: { type: string, description: 廠商原廠代碼。 }
        whCode: { type: string, description: 倉庫代碼；文件列有全部有效倉庫代碼。 }
    F1202HistoryInboundResponse:
      type: object
      properties:
        success: { type: boolean, description: 呼叫是否成功。 }
        errorMsg: { type: string, description: 失敗時的錯誤訊息。 }
        dataList:
          type: array
          description: 成功時的資料明細。
          items:
            type: object
            properties:
              whName: { type: string, description: 倉別（目的地倉）。 }
              checkInWhName: { type: string, description: 報到倉別。 }
              baljuDelyDate: { type: string, description: 入庫預定日期。 }
              inDate: { type: string, description: 上架完成日。 }
              arrivedDate: { type: string, description: 到倉日。 }
              baljuNo: { type: string, description: 入庫單號。 }
              goodsCode: { type: string, description: 商品編號。 }
              goodsdtCode: { type: string, description: 單品編號。 }
              goodsName: { type: string, description: 商品名稱。 }
[...]
