{
  "openapi": "3.1.0",
  "info": {
    "title": "momo SCM API",
    "version": "source-conversion",
    "description": "Consolidated OpenAPI 3.1 specification for all momo SCM vendor API documents. Source field tables, notes, and examples are retained in x-source-extract; actions sharing one HTTP endpoint are retained in x-logical-operations."
  },
  "servers": [
    {
      "url": "https://scmapi.momoshop.com.tw",
      "description": "momo SCM"
    }
  ],
  "paths": {
    "/OrderServlet.do": {
      "post": {
        "operationId": "momoScm001",
        "summary": "/OrderServlet.do (28 logical operations)",
        "description": "Source: momo\\API文件\\訂單串接\\SCM_訂單API規格文件_V5.7. Complete logical operations, field tables, and examples are in x-source-extract.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MomoScmRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-logical-operations": [
          {
            "summary": "未出貨訂單-廠商配送-查詢(資料加密)",
            "method": "post",
            "path": "/OrderServlet.do",
            "doAction": "unsendCompanyQuery",
            "sourceDocument": "momo\\API文件\\訂單串接\\SCM_訂單API規格文件_V5.7"
          },
          {
            "summary": "未出貨訂單-廠商配送-出貨確認",
            "method": "post",
            "path": "/OrderServlet.do",
            "doAction": "unsendCompanyConfirm",
            "sourceDocument": "momo\\API文件\\訂單串接\\SCM_訂單API規格文件_V5.7"
          },
          {
            "summary": "未出貨訂單-超商取貨-查詢",
            "method": "post",
            "path": "/OrderServlet.do",
            "doAction": "unsendStoresQuery",
            "sourceDocument": "momo\\API文件\\訂單串接\\SCM_訂單API規格文件_V5.7"
          },
          {
            "summary": "未出貨訂單-超商取貨-貨源確認",
            "method": "post",
            "path": "/OrderServlet.do",
            "doAction": "unsendStoresCheckGoods",
            "sourceDocument": "momo\\API文件\\訂單串接\\SCM_訂單API規格文件_V5.7"
          },
          {
            "summary": "未出貨訂單-超商取貨-併箱",
            "method": "post",
            "path": "/OrderServlet.do",
            "doAction": "unsendStoresCombineBox",
            "sourceDocument": "momo\\API文件\\訂單串接\\SCM_訂單API規格文件_V5.7"
          },
          {
            "summary": "未出貨訂單-超商取貨-出貨確認",
            "method": "post",
            "path": "/OrderServlet.do",
            "doAction": "unsendStoresFinish",
            "sourceDocument": "momo\\API文件\\訂單串接\\SCM_訂單API規格文件_V5.7"
          },
          {
            "summary": "未出貨訂單-超商取貨-列印Pdf",
            "method": "post",
            "path": "/OrderServlet.do",
            "doAction": "unsendStoresPrintPdf",
            "sourceDocument": "momo\\API文件\\訂單串接\\SCM_訂單API規格文件_V5.7"
          },
          {
            "summary": "未出貨訂單-第三方物流-查詢",
            "method": "post",
            "path": "/OrderServlet.do",
            "doAction": "unsendThirdQuery",
            "sourceDocument": "momo\\API文件\\訂單串接\\SCM_訂單API規格文件_V5.7"
          },
          {
            "summary": "未出貨訂單-第三方物流-貨源確認",
            "method": "post",
            "path": "/OrderServlet.do",
            "doAction": "unsendThirdCheckGoods",
            "sourceDocument": "momo\\API文件\\訂單串接\\SCM_訂單API規格文件_V5.7"
          },
          {
            "summary": "未出貨訂單-第三方物流-併箱",
            "method": "post",
            "path": "/OrderServlet.do",
            "doAction": "unsendThirdCombineBox",
            "sourceDocument": "momo\\API文件\\訂單串接\\SCM_訂單API規格文件_V5.7"
          },
          {
            "summary": "未出貨訂單-第三方物流-出貨確認",
            "method": "post",
            "path": "/OrderServlet.do",
            "doAction": "unsendThirdFinish",
            "sourceDocument": "momo\\API文件\\訂單串接\\SCM_訂單API規格文件_V5.7"
          },
          {
            "summary": "未出貨訂單-第三方物流-列印Pdf",
            "method": "post",
            "path": "/OrderServlet.do",
            "doAction": "unsendThirdPrintPdf",
            "sourceDocument": "momo\\API文件\\訂單串接\\SCM_訂單API規格文件_V5.7"
          },
          {
            "summary": "未押出庫客辦退-查詢(資料加密)",
            "method": "post",
            "path": "/OrderServlet.do",
            "doAction": "stopSendingQuery",
            "sourceDocument": "momo\\API文件\\訂單串接\\SCM_訂單API規格文件_V5.7"
          },
          {
            "summary": "攔貨訂單-攔貨確認(廠商配送且非精品倉商品才可攔貨)",
            "method": "post",
            "path": "/OrderServlet.do",
            "doAction": "stopSendingConfirm",
            "sourceDocument": "momo\\API文件\\訂單串接\\SCM_訂單API規格文件_V5.7"
          },
          {
            "summary": "未回收訂單-廠商配送-查詢(資料加密)",
            "method": "post",
            "path": "/OrderServlet.do",
            "doAction": "recoverCompanyQuery",
            "sourceDocument": "momo\\API文件\\訂單串接\\SCM_訂單API規格文件_V5.7"
          },
          {
            "summary": "未回收訂單-廠商配送-回收確認",
            "method": "post",
            "path": "/OrderServlet.do",
            "doAction": "recoverCompanyConfirm",
            "sourceDocument": "momo\\API文件\\訂單串接\\SCM_訂單API規格文件_V5.7"
          },
          {
            "summary": "未回收訂單-超商退貨/客未取-查詢",
            "method": "post",
            "path": "/OrderServlet.do",
            "doAction": "recoverStoresQuery",
            "sourceDocument": "momo\\API文件\\訂單串接\\SCM_訂單API規格文件_V5.7"
          },
          {
            "summary": "未回收訂單-第三方物流-查詢",
            "method": "post",
            "path": "/OrderServlet.do",
            "doAction": "recoverThirdQuery",
            "sourceDocument": "momo\\API文件\\訂單串接\\SCM_訂單API規格文件_V5.7"
          },
          {
            "summary": "出貨中訂單-貴重/精品-查詢",
            "method": "post",
            "path": "/OrderServlet.do",
            "doAction": "sendingCompanyQuery",
            "sourceDocument": "momo\\API文件\\訂單串接\\SCM_訂單API規格文件_V5.7"
          },
          {
            "summary": "出貨中訂單-超商取貨-查詢",
            "method": "post",
            "path": "/OrderServlet.do",
            "doAction": "sendingStoresQuery",
            "sourceDocument": "momo\\API文件\\訂單串接\\SCM_訂單API規格文件_V5.7"
          },
          {
            "summary": "出貨中訂單-第三方物流-查詢",
            "method": "post",
            "path": "/OrderServlet.do",
            "doAction": "sendingThirdQuery",
            "sourceDocument": "momo\\API文件\\訂單串接\\SCM_訂單API規格文件_V5.7"
          },
          {
            "summary": "出貨中訂單-訂單返回-查詢",
            "method": "post",
            "path": "/OrderServlet.do",
            "doAction": "orderBackQuery",
            "sourceDocument": "momo\\API文件\\訂單串接\\SCM_訂單API規格文件_V5.7"
          },
          {
            "summary": "訂單商品接單統計-查詢",
            "method": "post",
            "path": "/OrderServlet.do",
            "doAction": "orderGoodsStatisticsQuery",
            "sourceDocument": "momo\\API文件\\訂單串接\\SCM_訂單API規格文件_V5.7"
          },
          {
            "summary": "未回收訂單-超商退貨/客未取-回收確認",
            "method": "post",
            "path": "/OrderServlet.do",
            "doAction": "recoverStoresConfirm",
            "sourceDocument": "momo\\API文件\\訂單串接\\SCM_訂單API規格文件_V5.7"
          },
          {
            "summary": "未回收訂單-第三方物流回押回收-儲存訊息",
            "method": "post",
            "path": "/OrderServlet.do",
            "doAction": "recoverThirdSaveMsg",
            "sourceDocument": "momo\\API文件\\訂單串接\\SCM_訂單API規格文件_V5.7"
          },
          {
            "summary": "未回收訂單-第三方物流回押回收-回收確認",
            "method": "post",
            "path": "/OrderServlet.do",
            "doAction": "recoverThirdConfirm",
            "sourceDocument": "momo\\API文件\\訂單串接\\SCM_訂單API規格文件_V5.7"
          },
          {
            "summary": "同意/拒絕 改址",
            "method": "post",
            "path": "/OrderServlet.do",
            "doAction": "updateAppliedChangeAddr",
            "sourceDocument": "momo\\API文件\\訂單串接\\SCM_訂單API規格文件_V5.7"
          },
          {
            "summary": "未出貨訂單-超商取貨-店到店轉換",
            "method": "post",
            "path": "/OrderServlet.do",
            "doAction": "unsendStoresChangeDelyGb",
            "sourceDocument": "momo\\API文件\\訂單串接\\SCM_訂單API規格文件_V5.7"
          }
        ],
        "x-source-documents": [
          "momo\\API文件\\訂單串接\\SCM_訂單API規格文件_V5.7"
        ]
      }
    },
    "/api/v1/recycleSheet/queryList.scm": {
      "post": {
        "operationId": "momoScm002",
        "summary": "/api/v1/recycleSheet/queryList.scm (1 logical operations)",
        "description": "Source: momo\\API文件\\訂單串接\\SCM_訂單API規格文件_V5.7. Complete logical operations, field tables, and examples are in x-source-extract.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MomoScmRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-logical-operations": [
          {
            "summary": "已出貨訂單-回收聯單回傳-取得廢四機聯單列表",
            "method": "post",
            "path": "/api/v1/recycleSheet/queryList.scm",
            "sourceDocument": "momo\\API文件\\訂單串接\\SCM_訂單API規格文件_V5.7"
          }
        ],
        "x-source-documents": [
          "momo\\API文件\\訂單串接\\SCM_訂單API規格文件_V5.7"
        ]
      }
    },
    "/api/v1/recycleSheet/replyCounselImg.scm": {
      "post": {
        "operationId": "momoScm003",
        "summary": "/api/v1/recycleSheet/replyCounselImg.scm (1 logical operations)",
        "description": "Source: momo\\API文件\\訂單串接\\SCM_訂單API規格文件_V5.7. Complete logical operations, field tables, and examples are in x-source-extract.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MomoScmRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-logical-operations": [
          {
            "summary": "已出貨訂單-回收聯單回傳-回覆回收聯單圖片",
            "method": "post",
            "path": "/api/v1/recycleSheet/replyCounselImg.scm",
            "sourceDocument": "momo\\API文件\\訂單串接\\SCM_訂單API規格文件_V5.7"
          }
        ],
        "x-source-documents": [
          "momo\\API文件\\訂單串接\\SCM_訂單API規格文件_V5.7"
        ]
      }
    },
    "/order/shipType/getShipTypeList.scm": {
      "post": {
        "operationId": "momoScm004",
        "summary": "/order/shipType/getShipTypeList.scm (1 logical operations)",
        "description": "Source: momo\\API文件\\訂單串接\\SCM_訂單API規格文件_V5.7. Complete logical operations, field tables, and examples are in x-source-extract.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MomoScmRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-logical-operations": [
          {
            "summary": "出貨包材列表",
            "method": "post",
            "path": "/order/shipType/getShipTypeList.scm",
            "sourceDocument": "momo\\API文件\\訂單串接\\SCM_訂單API規格文件_V5.7"
          }
        ],
        "x-source-documents": [
          "momo\\API文件\\訂單串接\\SCM_訂單API規格文件_V5.7"
        ]
      }
    },
    "/order/store/changeStore.scm": {
      "post": {
        "operationId": "momoScm005",
        "summary": "/order/store/changeStore.scm (1 logical operations)",
        "description": "Source: momo\\API文件\\訂單串接\\SCM_訂單API規格文件_V5.7. Complete logical operations, field tables, and examples are in x-source-extract.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MomoScmRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-logical-operations": [
          {
            "summary": "未回收訂單-超商退貨/客未取-門市異動",
            "method": "post",
            "path": "/order/store/changeStore.scm",
            "sourceDocument": "momo\\API文件\\訂單串接\\SCM_訂單API規格文件_V5.7"
          }
        ],
        "x-source-documents": [
          "momo\\API文件\\訂單串接\\SCM_訂單API規格文件_V5.7"
        ]
      }
    },
    "/order/store/queryStore.scm": {
      "post": {
        "operationId": "momoScm006",
        "summary": "/order/store/queryStore.scm (1 logical operations)",
        "description": "Source: momo\\API文件\\訂單串接\\SCM_訂單API規格文件_V5.7. Complete logical operations, field tables, and examples are in x-source-extract.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MomoScmRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-logical-operations": [
          {
            "summary": "查詢超取退貨門市",
            "method": "post",
            "path": "/order/store/queryStore.scm",
            "sourceDocument": "momo\\API文件\\訂單串接\\SCM_訂單API規格文件_V5.7"
          }
        ],
        "x-source-documents": [
          "momo\\API文件\\訂單串接\\SCM_訂單API規格文件_V5.7"
        ]
      }
    },
    "/api/v1/goods_chage/query_apply/D1206.scm": {
      "post": {
        "operationId": "momoScm007",
        "summary": "momo SCM service",
        "description": "Source: momo\\API文件\\商品串接\\商品異動\\SCM_商品異動API規格文件_V2.8. Complete logical operations, field tables, and examples are in x-source-extract.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MomoScmRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-source-documents": [
          "momo\\API文件\\商品串接\\商品異動\\SCM_商品異動API規格文件_V2.8"
        ],
        "x-logical-operations": []
      }
    },
    "/api/v1/goods_chage/query_price/D1206.scm": {
      "post": {
        "operationId": "momoScm008",
        "summary": "momo SCM service",
        "description": "Source: momo\\API文件\\商品串接\\商品異動\\SCM_商品異動API規格文件_V2.8. Complete logical operations, field tables, and examples are in x-source-extract.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MomoScmRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-source-documents": [
          "momo\\API文件\\商品串接\\商品異動\\SCM_商品異動API規格文件_V2.8"
        ],
        "x-logical-operations": []
      }
    },
    "/api/v1/goods_chage/query_index_spec_gift/D1206.scm": {
      "post": {
        "operationId": "momoScm009",
        "summary": "momo SCM service",
        "description": "Source: momo\\API文件\\商品串接\\商品異動\\SCM_商品異動API規格文件_V2.8. Complete logical operations, field tables, and examples are in x-source-extract.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MomoScmRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-source-documents": [
          "momo\\API文件\\商品串接\\商品異動\\SCM_商品異動API規格文件_V2.8"
        ],
        "x-logical-operations": []
      }
    },
    "/api/v1/goods_chage/query_other_data/D1206.scm": {
      "post": {
        "operationId": "momoScm010",
        "summary": "momo SCM service",
        "description": "Source: momo\\API文件\\商品串接\\商品異動\\SCM_商品異動API規格文件_V2.8. Complete logical operations, field tables, and examples are in x-source-extract.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MomoScmRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-source-documents": [
          "momo\\API文件\\商品串接\\商品異動\\SCM_商品異動API規格文件_V2.8"
        ],
        "x-logical-operations": []
      }
    },
    "/api/v1/goods_chage/apply_price_change/D1206.scm": {
      "post": {
        "operationId": "momoScm011",
        "summary": "momo SCM service",
        "description": "Source: momo\\API文件\\商品串接\\商品異動\\SCM_商品異動API規格文件_V2.8. Complete logical operations, field tables, and examples are in x-source-extract.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MomoScmRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-source-documents": [
          "momo\\API文件\\商品串接\\商品異動\\SCM_商品異動API規格文件_V2.8"
        ],
        "x-logical-operations": []
      }
    },
    "/api/v1/goods_chage/apply_index_spec_gift/D1206.scm": {
      "post": {
        "operationId": "momoScm012",
        "summary": "momo SCM service",
        "description": "Source: momo\\API文件\\商品串接\\商品異動\\SCM_商品異動API規格文件_V2.8. Complete logical operations, field tables, and examples are in x-source-extract.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MomoScmRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-source-documents": [
          "momo\\API文件\\商品串接\\商品異動\\SCM_商品異動API規格文件_V2.8"
        ],
        "x-logical-operations": []
      }
    },
    "/api/v1/goods_chage/apply_other_data/D1206.scm": {
      "post": {
        "operationId": "momoScm013",
        "summary": "momo SCM service",
        "description": "Source: momo\\API文件\\商品串接\\商品異動\\SCM_商品異動API規格文件_V2.8. Complete logical operations, field tables, and examples are in x-source-extract.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MomoScmRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-source-documents": [
          "momo\\API文件\\商品串接\\商品異動\\SCM_商品異動API規格文件_V2.8"
        ],
        "x-logical-operations": []
      }
    },
    "/api/v1/goods_chage/query_already_apply/D1206.scm": {
      "post": {
        "operationId": "momoScm014",
        "summary": "momo SCM service",
        "description": "Source: momo\\API文件\\商品串接\\商品異動\\SCM_商品異動API規格文件_V2.8. Complete logical operations, field tables, and examples are in x-source-extract.\nAdditional source: momo\\API文件\\商談相關\\SCM_連絡momoAPI規格文件_V1.1.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MomoScmRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-source-documents": [
          "momo\\API文件\\商品串接\\商品異動\\SCM_商品異動API規格文件_V2.8",
          "momo\\API文件\\商談相關\\SCM_連絡momoAPI規格文件_V1.1"
        ],
        "x-logical-operations": []
      }
    },
    "/api/v1/goods_chage/apply_clothing_change/D1206.scm": {
      "post": {
        "operationId": "momoScm015",
        "summary": "momo SCM service",
        "description": "Source: momo\\API文件\\商品串接\\商品異動\\SCM_商品異動API規格文件_V2.8. Complete logical operations, field tables, and examples are in x-source-extract.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MomoScmRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-source-documents": [
          "momo\\API文件\\商品串接\\商品異動\\SCM_商品異動API規格文件_V2.8"
        ],
        "x-logical-operations": []
      }
    },
    "/api/v1/goods_chage/query_clothing_data/D1206.scm": {
      "post": {
        "operationId": "momoScm016",
        "summary": "momo SCM service",
        "description": "Source: momo\\API文件\\商品串接\\商品異動\\SCM_商品異動API規格文件_V2.8. Complete logical operations, field tables, and examples are in x-source-extract.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MomoScmRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-source-documents": [
          "momo\\API文件\\商品串接\\商品異動\\SCM_商品異動API規格文件_V2.8"
        ],
        "x-logical-operations": []
      }
    },
    "/scmapi.momoshop.com.tw/api/v1/stock/F1204.scm": {
      "post": {
        "operationId": "momoScm017",
        "summary": "momo SCM service",
        "description": "Source: momo\\API文件\\商品串接\\商品異動\\SCM_商品異動API規格文件_V2.8. Complete logical operations, field tables, and examples are in x-source-extract.\nAdditional source: momo\\API文件\\商品串接\\編碼查詢\\SCM_編碼查詢API規格文件_V2.4.\nAdditional source: momo\\API文件\\商談相關\\SCM_連絡momoAPI規格文件_V1.1.\nAdditional source: momo\\API文件\\問問串接\\SCM_問問API規格文件_V1.2.\nAdditional source: momo\\API文件\\寄倉相關\\F11xx_寄倉報表\\SCM_網路寄倉商品降價賣更多確認API_v1.4.\nAdditional source: momo\\API文件\\寄倉相關\\F12xx_入倉管理\\SCM_申請入庫API_V2.8.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MomoScmRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-source-documents": [
          "momo\\API文件\\商品串接\\商品異動\\SCM_商品異動API規格文件_V2.8",
          "momo\\API文件\\商品串接\\編碼查詢\\SCM_編碼查詢API規格文件_V2.4",
          "momo\\API文件\\商談相關\\SCM_連絡momoAPI規格文件_V1.1",
          "momo\\API文件\\問問串接\\SCM_問問API規格文件_V1.2",
          "momo\\API文件\\寄倉相關\\F11xx_寄倉報表\\SCM_網路寄倉商品降價賣更多確認API_v1.4",
          "momo\\API文件\\寄倉相關\\F12xx_入倉管理\\SCM_申請入庫API_V2.8"
        ],
        "x-logical-operations": []
      }
    },
    "/GoodsServlet.do": {
      "post": {
        "operationId": "momoScm018",
        "summary": "/GoodsServlet.do (12 logical operations)",
        "description": "Source: momo\\API文件\\商品串接\\新版\\SCM_商品API規格文件_V5.4. Complete logical operations, field tables, and examples are in x-source-extract.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MomoScmRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-logical-operations": [
          {
            "summary": "商品提報 暫存/送審",
            "method": "post",
            "path": "/GoodsServlet.do",
            "doAction": "tempReportGoods",
            "sourceDocument": "momo\\API文件\\商品串接\\新版\\SCM_商品API規格文件_V5.4"
          },
          {
            "summary": "商品提報 暫存/送審(MultiPart)",
            "method": "post",
            "path": "/GoodsServlet.do",
            "sourceDocument": "momo\\API文件\\商品串接\\新版\\SCM_商品API規格文件_V5.4"
          },
          {
            "summary": "商品簡易查詢",
            "method": "post",
            "path": "/GoodsServlet.do",
            "doAction": "queryGoodsBasicData",
            "sourceDocument": "momo\\API文件\\商品串接\\新版\\SCM_商品API規格文件_V5.4"
          },
          {
            "summary": "商品加減量-加/減量申請",
            "method": "post",
            "path": "/GoodsServlet.do",
            "doAction": "changeGoodsQty",
            "sourceDocument": "momo\\API文件\\商品串接\\新版\\SCM_商品API規格文件_V5.4"
          },
          {
            "summary": "商品上下架-查詢",
            "method": "post",
            "path": "/GoodsServlet.do",
            "doAction": "queryOnOffShelf",
            "sourceDocument": "momo\\API文件\\商品串接\\新版\\SCM_商品API規格文件_V5.4"
          },
          {
            "summary": "商品上下架-上下架申請",
            "method": "post",
            "path": "/GoodsServlet.do",
            "doAction": "applyOnOffShelf",
            "sourceDocument": "momo\\API文件\\商品串接\\新版\\SCM_商品API規格文件_V5.4"
          },
          {
            "summary": "商品查詢",
            "method": "post",
            "path": "/GoodsServlet.do",
            "doAction": "queryGoodsList",
            "sourceDocument": "momo\\API文件\\商品串接\\新版\\SCM_商品API規格文件_V5.4"
          },
          {
            "summary": "商品內容查詢",
            "method": "post",
            "path": "/GoodsServlet.do",
            "doAction": "queryGoodInfo",
            "sourceDocument": "momo\\API文件\\商品串接\\新版\\SCM_商品API規格文件_V5.4"
          },
          {
            "summary": "商品提報進度查詢",
            "method": "post",
            "path": "/GoodsServlet.do",
            "doAction": "queryGoodSchedule",
            "sourceDocument": "momo\\API文件\\商品串接\\新版\\SCM_商品API規格文件_V5.4"
          },
          {
            "summary": "編碼對照表查詢",
            "method": "post",
            "path": "/GoodsServlet.do",
            "doAction": "queryGoodsBasicCode",
            "sourceDocument": "momo\\API文件\\商品串接\\新版\\SCM_商品API規格文件_V5.4"
          },
          {
            "summary": "商品歷史價查詢",
            "method": "post",
            "path": "/GoodsServlet.do",
            "doAction": "queryPriceHistory",
            "sourceDocument": "momo\\API文件\\商品串接\\新版\\SCM_商品API規格文件_V5.4"
          },
          {
            "summary": "商品歷史價格明細查詢",
            "method": "post",
            "path": "/GoodsServlet.do",
            "doAction": "queryPriceHistory",
            "sourceDocument": "momo\\API文件\\商品串接\\新版\\SCM_商品API規格文件_V5.4"
          }
        ],
        "x-source-documents": [
          "momo\\API文件\\商品串接\\新版\\SCM_商品API規格文件_V5.4"
        ]
      }
    },
    "/api/v1/goodsStockQty/query.scm": {
      "post": {
        "operationId": "momoScm019",
        "summary": "/api/v1/goodsStockQty/query.scm (1 logical operations)",
        "description": "Source: momo\\API文件\\商品串接\\新版\\SCM_商品API規格文件_V5.4. Complete logical operations, field tables, and examples are in x-source-extract.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MomoScmRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-logical-operations": [
          {
            "summary": "商品加減量-指定品號查詢",
            "method": "post",
            "path": "/api/v1/goodsStockQty/query.scm",
            "sourceDocument": "momo\\API文件\\商品串接\\新版\\SCM_商品API規格文件_V5.4"
          }
        ],
        "x-source-documents": [
          "momo\\API文件\\商品串接\\新版\\SCM_商品API規格文件_V5.4"
        ]
      }
    },
    "/api/v1/goodsSaleStatus/query.scm": {
      "post": {
        "operationId": "momoScm020",
        "summary": "/api/v1/goodsSaleStatus/query.scm (1 logical operations)",
        "description": "Source: momo\\API文件\\商品串接\\新版\\SCM_商品API規格文件_V5.4. Complete logical operations, field tables, and examples are in x-source-extract.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MomoScmRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-logical-operations": [
          {
            "summary": "商品上下架-分頁查詢",
            "method": "post",
            "path": "/api/v1/goodsSaleStatus/query.scm",
            "sourceDocument": "momo\\API文件\\商品串接\\新版\\SCM_商品API規格文件_V5.4"
          }
        ],
        "x-source-documents": [
          "momo\\API文件\\商品串接\\新版\\SCM_商品API規格文件_V5.4"
        ]
      }
    },
    "/api/v1/goods/basic_code/category/D1102.scm": {
      "post": {
        "operationId": "momoScm021",
        "summary": "momo SCM service",
        "description": "Source: momo\\API文件\\商品串接\\編碼查詢\\SCM_編碼查詢API規格文件_V2.4. Complete logical operations, field tables, and examples are in x-source-extract.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MomoScmRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-source-documents": [
          "momo\\API文件\\商品串接\\編碼查詢\\SCM_編碼查詢API規格文件_V2.4"
        ],
        "x-logical-operations": []
      }
    },
    "/api/v1/goods/basic_code/web_brand/D1102.scm": {
      "post": {
        "operationId": "momoScm022",
        "summary": "momo SCM service",
        "description": "Source: momo\\API文件\\商品串接\\編碼查詢\\SCM_編碼查詢API規格文件_V2.4. Complete logical operations, field tables, and examples are in x-source-extract.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MomoScmRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-source-documents": [
          "momo\\API文件\\商品串接\\編碼查詢\\SCM_編碼查詢API規格文件_V2.4"
        ],
        "x-logical-operations": []
      }
    },
    "/api/v1/goods/basic_code/origin/D1102.scm": {
      "post": {
        "operationId": "momoScm023",
        "summary": "momo SCM service",
        "description": "Source: momo\\API文件\\商品串接\\編碼查詢\\SCM_編碼查詢API規格文件_V2.4. Complete logical operations, field tables, and examples are in x-source-extract.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MomoScmRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-source-documents": [
          "momo\\API文件\\商品串接\\編碼查詢\\SCM_編碼查詢API規格文件_V2.4"
        ],
        "x-logical-operations": []
      }
    },
    "/api/v1/goods/basic_code/route/D1102.scm": {
      "post": {
        "operationId": "momoScm024",
        "summary": "momo SCM service",
        "description": "Source: momo\\API文件\\商品串接\\編碼查詢\\SCM_編碼查詢API規格文件_V2.4. Complete logical operations, field tables, and examples are in x-source-extract.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MomoScmRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-source-documents": [
          "momo\\API文件\\商品串接\\編碼查詢\\SCM_編碼查詢API規格文件_V2.4"
        ],
        "x-logical-operations": []
      }
    },
    "/api/v1/goods/basic_code/bank/D1102.scm": {
      "post": {
        "operationId": "momoScm025",
        "summary": "momo SCM service",
        "description": "Source: momo\\API文件\\商品串接\\編碼查詢\\SCM_編碼查詢API規格文件_V2.4. Complete logical operations, field tables, and examples are in x-source-extract.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MomoScmRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-source-documents": [
          "momo\\API文件\\商品串接\\編碼查詢\\SCM_編碼查詢API規格文件_V2.4"
        ],
        "x-logical-operations": []
      }
    },
    "/api/v1/goods/basic_code/outplace/D1102.scm": {
      "post": {
        "operationId": "momoScm026",
        "summary": "momo SCM service",
        "description": "Source: momo\\API文件\\商品串接\\編碼查詢\\SCM_編碼查詢API規格文件_V2.4. Complete logical operations, field tables, and examples are in x-source-extract.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MomoScmRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-source-documents": [
          "momo\\API文件\\商品串接\\編碼查詢\\SCM_編碼查詢API規格文件_V2.4"
        ],
        "x-logical-operations": []
      }
    },
    "/api/v1/goods/basic_code/ec_outplace/D1102.scm": {
      "post": {
        "operationId": "momoScm027",
        "summary": "momo SCM service",
        "description": "Source: momo\\API文件\\商品串接\\編碼查詢\\SCM_編碼查詢API規格文件_V2.4. Complete logical operations, field tables, and examples are in x-source-extract.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MomoScmRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-source-documents": [
          "momo\\API文件\\商品串接\\編碼查詢\\SCM_編碼查詢API規格文件_V2.4"
        ],
        "x-logical-operations": []
      }
    },
    "/api/v1/goods/basic_code/index/D1102.scm": {
      "post": {
        "operationId": "momoScm028",
        "summary": "momo SCM service",
        "description": "Source: momo\\API文件\\商品串接\\編碼查詢\\SCM_編碼查詢API規格文件_V2.4. Complete logical operations, field tables, and examples are in x-source-extract.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MomoScmRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-source-documents": [
          "momo\\API文件\\商品串接\\編碼查詢\\SCM_編碼查詢API規格文件_V2.4"
        ],
        "x-logical-operations": []
      }
    },
    "/api/v1/goods/basic_code/goods_spec/D1102.scm": {
      "post": {
        "operationId": "momoScm029",
        "summary": "momo SCM service",
        "description": "Source: momo\\API文件\\商品串接\\編碼查詢\\SCM_編碼查詢API規格文件_V2.4. Complete logical operations, field tables, and examples are in x-source-extract.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MomoScmRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-source-documents": [
          "momo\\API文件\\商品串接\\編碼查詢\\SCM_編碼查詢API規格文件_V2.4"
        ],
        "x-logical-operations": []
      }
    },
    "/api/v1/goods/basic_code/ecCategory/D1102.scm": {
      "post": {
        "operationId": "momoScm030",
        "summary": "momo SCM service",
        "description": "Source: momo\\API文件\\商品串接\\編碼查詢\\SCM_編碼查詢API規格文件_V2.4. Complete logical operations, field tables, and examples are in x-source-extract.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MomoScmRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-source-documents": [
          "momo\\API文件\\商品串接\\編碼查詢\\SCM_編碼查詢API規格文件_V2.4"
        ],
        "x-logical-operations": []
      }
    },
    "/api/v1/goods/basic_code/ecIndex/D1102.scm": {
      "post": {
        "operationId": "momoScm031",
        "summary": "momo SCM service",
        "description": "Source: momo\\API文件\\商品串接\\編碼查詢\\SCM_編碼查詢API規格文件_V2.4. Complete logical operations, field tables, and examples are in x-source-extract.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MomoScmRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-source-documents": [
          "momo\\API文件\\商品串接\\編碼查詢\\SCM_編碼查詢API規格文件_V2.4"
        ],
        "x-logical-operations": []
      }
    },
    "/api/v1/goods/basic_code/giftMD/D1102.scm": {
      "post": {
        "operationId": "momoScm032",
        "summary": "momo SCM service",
        "description": "Source: momo\\API文件\\商品串接\\編碼查詢\\SCM_編碼查詢API規格文件_V2.4. Complete logical operations, field tables, and examples are in x-source-extract.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MomoScmRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-source-documents": [
          "momo\\API文件\\商品串接\\編碼查詢\\SCM_編碼查詢API規格文件_V2.4"
        ],
        "x-logical-operations": []
      }
    },
    "/api/v1/goods/basic_code/batchGiftMD/D1102.scm": {
      "post": {
        "operationId": "momoScm033",
        "summary": "momo SCM service",
        "description": "Source: momo\\API文件\\商品串接\\編碼查詢\\SCM_編碼查詢API規格文件_V2.4. Complete logical operations, field tables, and examples are in x-source-extract.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MomoScmRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-source-documents": [
          "momo\\API文件\\商品串接\\編碼查詢\\SCM_編碼查詢API規格文件_V2.4"
        ],
        "x-logical-operations": []
      }
    },
    "/api/v1/goods/basic_code/author/D1102.scm": {
      "post": {
        "operationId": "momoScm034",
        "summary": "momo SCM service",
        "description": "Source: momo\\API文件\\商品串接\\編碼查詢\\SCM_編碼查詢API規格文件_V2.4. Complete logical operations, field tables, and examples are in x-source-extract.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MomoScmRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-source-documents": [
          "momo\\API文件\\商品串接\\編碼查詢\\SCM_編碼查詢API規格文件_V2.4"
        ],
        "x-logical-operations": []
      }
    },
    "/api/v1/goods/basic_code/brand_series/D1102.scm": {
      "post": {
        "operationId": "momoScm035",
        "summary": "momo SCM service",
        "description": "Source: momo\\API文件\\商品串接\\編碼查詢\\SCM_編碼查詢API規格文件_V2.4. Complete logical operations, field tables, and examples are in x-source-extract.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MomoScmRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-source-documents": [
          "momo\\API文件\\商品串接\\編碼查詢\\SCM_編碼查詢API規格文件_V2.4"
        ],
        "x-logical-operations": []
      }
    },
    "/api/v1/goods/basic_code/momoMount/D1102.scm": {
      "post": {
        "operationId": "momoScm036",
        "summary": "momo SCM service",
        "description": "Source: momo\\API文件\\商品串接\\編碼查詢\\SCM_編碼查詢API規格文件_V2.4. Complete logical operations, field tables, and examples are in x-source-extract.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MomoScmRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-source-documents": [
          "momo\\API文件\\商品串接\\編碼查詢\\SCM_編碼查詢API規格文件_V2.4"
        ],
        "x-logical-operations": []
      }
    },
    "/scmapi.momoshop.com.tw/api/v1/F1204.scm": {
      "post": {
        "operationId": "momoScm037",
        "summary": "momo SCM service",
        "description": "Source: momo\\API文件\\商談相關\\SCM_商談API規格文件_V1.0. Complete logical operations, field tables, and examples are in x-source-extract.\nAdditional source: momo\\API文件\\寄倉相關\\F11xx_寄倉報表\\SCM_庫存查詢API_V2.6.\nAdditional source: momo\\API文件\\寄倉相關\\F12xx_入倉管理\\SCM_入庫單列印API_V3.2.\nAdditional source: momo\\API文件\\寄倉相關\\F13xx_退倉管理\\SCM_客退轉良品查詢API_v2.3.\nAdditional source: momo\\API文件\\寄倉相關\\F13xx_退倉管理\\SCM_退倉申請API_V2.8.\nAdditional source: momo\\API文件\\寄倉相關\\F13xx_退倉管理\\SCM_退倉單通知API_V2.5.\nAdditional source: momo\\API文件\\帳務相關\\SCM_對帳內容查詢API_V2.4.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MomoScmRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomoScmResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-source-documents": [
          "momo\\API文件\\商談相關\\SCM_商談API規格文件_V1.0",
          "momo\\API文件\\寄倉相關\\F11xx_寄倉報表\\SCM_庫存查詢API_V2.6",
          "momo\\API文件\\寄倉相關\\F12xx_入倉管理\\SCM_入庫單列印API_V3.2",
          "momo\\API文件\\寄倉相關\\F13xx_退倉管理\\SCM_客退轉良品查詢API_v2.3",
          "momo\\API文件\\寄倉相關\\F13xx_退倉管理\\SCM_退倉申請API_V2.8",
          "momo\\API文件\\寄倉相關\\F13xx_退倉管理\\SCM_退倉單通知API_V2.5",
          "momo\\API文件\\帳務相關\\SCM_對帳內容查詢API_V2.4"
        ],
        "x-logical-operations": []
      }
    },
[...]
